[2014-12-30 08:16] reddavis opened #51 "OSX?"
Hey! Sorry, not really an issue, just a question: Any plans on making the SDK work on OS X?

Cheers, Red

[2015-01-05 03:11] sammcewan opened #52 "Dodgy swizzling causing crashes in our production app"
The method swizzleBecomeFirstResponder on the category UIView+ITBAllowFirstResponder.h causes frequent crashes for our app. It's getting really painful.

Swizzling is generally a last resort so I imagine this is there for a good reason. However this is a huge pain especially in a static library.

Urge a different approach here if at all possible.

[2015-01-05 08:28] idcuesta commented on #52
Hi @sammcewan,

Sorry to hear about this :(

Could you provide more info about the issue? Any crash report or sample project where we can reproduce it would be great.

If you want we can follow up this privately, via Intercom app.

Regards
Ignacio

[2015-01-05 08:32] idcuesta commented on #51
Hi @reddavis,

Currently we have no plans for OS X. Maybe it is something we could consider if the demand grows, but I don't think it will happen in the near future :(

Regards
Ignacio

[2015-01-05 08:32] #51 closed

[2015-01-08 20:50] saidmarouf opened #53 "application:didReceiveRemoteNotification not called"
When invoking `[Intercom registerForRemoteNotifications]`, I do not receive calls to `application:didReceiveRemoteNotification`. I'm assuming Intercom is swizzling and hijacking the call to `application:didReceiveRemoteNotification`.
Shouldn't the original method still be called by Intercom? This is very inconvenient as I'm not able to custom handle incoming notifications.

When removing the call

[2015-01-19 17:45] #52 closed

[2015-01-19 17:59] idcuesta commented on #53
Hi @saidmarouf,

Our method `[Intercom registerForRemoteNotifications]` is not calling Apple's methods `[application registerForRemoteNotificationTypes:...]` or `[application registerUserNotificationSettings:...]`.

It is up to your app to decide what remote notifications you want to listen for (or user notification settings). All we do in that method is to swizzle some system methods, so when you

[2015-02-06 09:38] #53 closed

[2015-02-18 10:37] jasonblood opened #54 "Events on iOS app not showing up reliably."
So in our app when we do certain things via our own api that might trigger a user event. E.g if I use our api to send a message to another user we might trigger an event regarding that (this is just an example). So when we do this in the app the event gets triggered (can see it in the intercom dashboard on the users account). But the event message is never displayed in the app unless we put the ap

[2015-02-18 10:46] adamkmccarthy commented on #54
Thanks Jason. To clarify, the cruz of the issue is the delay between SDK fired events and the receipt of the auto-message attached to that event? If you can contact us via Intercom directly with the events i can take a deeper look and see if something is up, usually the response is quick (i.e. immediate) but we've been doing some work in this area recently.  Thanks!

[2015-02-18 10:57] jasonblood commented on #54
Hi @adamkmccarthy thanks I will get in touch via intercom. But just to clarify its not so much as a delay but the event doesn't seem to appear unless I make the app enter the background and bring it back to the foreground.

[2015-02-18 11:00] adamkmccarthy commented on #54
Ah, apologies @jasonblood I think I understand you know. So if you `logEvent` at any stage, it seems as though it's not actually getting into Intercom until the next session has begun, is that right?

[2015-02-18 11:27] #54 closed

[2015-02-25 02:39] frobichaud opened #55 "UDID usage is non-public, cant submit to appstore"
find . | grep -v .svn | grep "\.a" | grep -v "\.app" | xargs grep uniqueIdentifier
Binary file ./Pods/Intercom/Intercom/libIntercom.a matches

![screen shot 2015-02-24 at 9 30 37 pm](https://cloud.githubusercontent.com/assets/3533748/6363943/a5d0ebb0-bc6d-11e4-86f6-0836044ecd0b.png)

This is with both version 2.0.6 and 2.0.7

[2015-02-25 10:16] adamkmccarthy commented on #55
Hi @frobichaud. Thanks for letting us know. For what it's worth, we don't actually use any private APIs in the SDK. The references you're finding there are returning public properties on our own user class that reference a unique identifier. We've had a few hundred App Store submissions (including our own app) and we haven't had any big problems before. We submitted our own app to the store twice

[2015-02-25 18:02] vintagexav commented on #52
@idcuesta it looks like Intercom's SDK got a problem here:

[code]

[2015-02-25 18:03] adamkmccarthy commented on #52
Thanks @vintagexav. We are about to release a version of this that decouples a lot of the 'safe' swizzle we did here in an attempt to make implementing push a little easier. We'll be releasing 2.1 very early next week which should fix this.

[2015-03-02 15:54] frobichaud commented on #55
Thanks for your quick reply, it was actually a different library that caused the issue.

[2015-03-02 15:54] #55 closed

[2015-03-13 14:17] nickbit opened #57 "No public headers exposed when added as pod"
I have Intercom added as a pod.
It gives me file not found errors for "Intercom.h".
It seems that the headers are not exposed as public anymore.
Please check...

[2015-03-13 14:34] #57 closed

[2015-03-13 14:44] jtreanor commented on #57
Hi @nickbit, did you get it working ok?

Let me know if you are having any issues.

[2015-03-13 14:59] nickbit commented on #57
It seems to be OK after I updated to 2.1.1.

Thank you!

[2015-03-24 19:41] Suz opened #58 "add error checking to eventWithName"
I'm trying to integrate Intercom into our existing iOS app, but the app CRASHED when I sent apparently invalid arguments in the metadata dictionary. Since passing invalid arguments to an API is not exactly unusual for new users, it would be much nicer if you call
`+ isValidJSONObject:`, abort the update, and log an error instead of crashing.

My Code:  I presume that sending a string instead of a

[2015-03-25 16:59] tankista commented on #52
@adamkmccarthy in 2.1.1 this but shill happens. I can provide a crash log if you wish. We will now update to version 2.2 and will keep you updated if it happens again.

[2015-03-25 17:01] adamkmccarthy commented on #52
@tankista a crash log would be great as we changed how push works in 2.1+ so we could move away from the swizzle. You can mail it to me if it's easier, adam at intercom dot io. Given our implementation has changed ill create a new bug if I can reproduce this crash.

[2015-03-26 17:22] Prarik opened #59 "Navigation bar scrolls up and never comes down after replying into any conversation."
When I present message composer using [Intercom presentMessageComposer]; it opens the composer fine. But when I type in any the keyboard appears and navigation bar goes up, which should come down again when the keyboard hides but it doesn't come down.

Can you tell me how can I solve this issue? As I can see no implementation files for the sdk.

![ios simulator screen shot 26-mar-2015 10 52 08 pm]

[2015-03-26 17:46] adamkmccarthy commented on #59
Thanks @Prarik. This is quite odd. There is no animations implemented on the SDK's navigation bars, we don't hide them at all. Is there anything in your app that might be attempting to set an effect or proxy UINavigationBar at all?

[2015-03-27 17:28] Prarik commented on #59
No we are also not hiding the navigation bars, we only used translucent navigation bars, does that cause any issue?

[2015-03-27 17:30] adamkmccarthy commented on #59
It would be unusual but that could be it, the bars in the SDK are entirely stock. Would you be able to share (perhaps via Intercom) some of the appearance proxying you're doing and ill be able to test it out and see if that has anything to do with it?

[2015-03-31 17:39] jameshartt commented on #52
+1 on this, curiously, only on the Simulator, on a UITextView. Will disable for Simulator for now as there is no need. But it's good to here you are moving away from swizzling all the things.

[2015-03-31 20:05] adamkmccarthy commented on #52
For sure. We're actually going to try and close this out this week :+1:

[2015-04-03 05:07] Prarik commented on #59
Thanks @adamkmccarthy  for looking into this but I found the issue it was because of IQKeyboardManager. Removing that library solved the issue.

[2015-04-03 05:07] #59 closed

[2015-04-03 09:32] #58 closed

[2015-04-09 02:47] vintagexav commented on #52
@adamkmccarthy is this fixed?

[2015-04-09 08:22] adamkmccarthy commented on #52
@vintagexav Yep: https://github.com/intercom/intercom-ios/commit/9118b846362b7365b7ee0e3ac28c6ae8cc20287f

[2015-04-11 02:53] microgomi opened #60 "Crash report."
SDK 2.2.1 makes crash if network is not connected.(ex. airplane mode.)
Please check it.
See detail log below.
Thank you.

2015-04-10 19:45:35.666 Shareon1.0[535:56562] CRASH: -[NSError icm_isRetryable]: unrecognized selector sent to instance 0x17f1aaa0
2015-04-10 19:45:35.667 Shareon1.0[535:56562] Stack Trace: (
    0   CoreFoundation                      0x2729b007 <redacted> + 150
    1   libobj

[2015-04-11 08:52] adamkmccarthy commented on #60
Hi @microgomi, this crash is usually attributed to not having the `-ObjC` linker flag outlined in [Step 1](https://github.com/intercom/intercom-ios#manual-installation) of the manual install guide. We're working to remove categories completely from the SDK which will then mean we won't need this flag, but for now we do. Sorry for the trouble.

[2015-04-11 08:52] #60 closed

[2015-04-11 22:20] microgomi commented on #60
Thank you very much!!
I've fixed the linker option and it's working well.

[2015-04-21 14:43] ajwhite opened #61 "Support for users persisting across multiple environments"
Our application has multiple environments between production and testing. In our testing environment, we use a specific App ID and API Key for Intercom, and similarly we use a separate pair for our production environment.

When building the application on the same device in one environment and then later building in another environment, the second does not successfully report to Intercom. Instead,

[2015-04-21 14:46] adamkmccarthy commented on #61
Thanks @ajwhite. The crux of the problem here is that Intercom users are scoped on a per-app basis, so don't flow freely between "hot" SDK deployments like scheme switching in Xcode between environments. We're going to attempt a small fix to the SDK in a future update.

To be clear, *never* call `reset` after logging in. *Only* call `reset` when logging out.

[2015-04-21 14:49] ajwhite commented on #61
Thanks & updated

[2015-05-04 14:49] mderazon opened #62 "pre populate message composer with text"
Is it possible to open the message composer with pre populated text ?

This could be handly in cases we want the customer to contact us with something specific  that happens in the app.

For example, "report a problem with this restaurant listing" could open the message composer with the restaurant details already pre-entered...

[2015-05-05 08:07] adamkmccarthy commented on #62
@mderazon unfortunately the kind of use case you outline isn't possible at the moment although ill bring it to the product team as it sounds like a useful customisation to have. Thanks!

[2015-05-05 08:07] #62 closed

[2015-05-05 21:46] invoodoo opened #63 "Session is always = 0"
I'm using [Intercom registerUserWithEmail:userID]; method all time user start the app, but it doesn't count the number of sessions. What I'm doing wrong? I saw deprecated methods for beginSession/endSession and there is a note about usage of register method to count sessions, but it doesn't work.

Thanks.

[2015-05-05 23:30] jtreanor commented on #63
Thanks @invoodoo,

It sounds like you are doing everything correctly. I will investigate this on our backend and let you know when I know more.

James

[2015-05-06 07:59] adamkmccarthy commented on #63
Hi @invoodoo, the session column you're seeing in Intercom is for Web sessions only and not iOS sessions. If you go to the column chooser at the top right of your user list and select `iOS Sessions` from the list, you'll see the correct values there. Sorry for the confusion, we're working on ways to make this clearer. Thanks!

![screen shot 2015-05-06 at 08 58 24](https://cloud.githubusercontent.c

[2015-05-06 07:59] #63 closed

[2015-05-06 16:48] invoodoo commented on #63
Thanks, I found. Yep, little bit hidden.

[2015-05-11 13:26] zdavison opened #64 "[PodIntercom_ITBNetworkMessage setConversation:] - unrecognized selector"
[code]

The user that is logged in at the time (my user) has 3 old messages from Intercom, this does not repro on an account that has no pending messages (which makes sense given the exception).

[2015-05-11 13:28] jtreanor commented on #64
Hi @zdavison

This error happens when you are missing the `-ObjC` linker flag so categories in Intercom can't be loaded. Luckily, 2.2.2 removed this requirement so if you update your SDK version it will work fine :smile:

James

[2015-05-11 13:32] jtreanor commented on #61
This has been fixed in 2.2.2. Users can now be tracked seamlessly across environments.

James

[2015-05-11 13:32] #61 closed

[2015-05-11 13:35] ajwhite commented on #61
Thanks for the update!

To double check -- no more need to call reset as the previous workaround for environment changes?

[2015-05-11 13:44] zdavison commented on #64
Updating to 2.2.2 does indeed work, we switched to a different dependency management tool (not Cocoapods), so forgot to bring the -Objc flag with us.
Cheers!

[2015-05-11 13:44] jtreanor commented on #64
No problem at all.

[2015-05-11 13:44] #64 closed

[2015-05-11 13:45] jtreanor commented on #61
Yes, exactly. Calling reset to change environments is no longer necessary. The SDK now detects when this happens and handles it internally.

[2015-05-11 14:10] ajwhite commented on #61
:+1: thanks guys!

[2015-05-26 15:38] zdavison opened #65 "Code signing error."
[code]

This started happening very recently and I can't pin a finger on why, any ideas? We're on 6.4 beta 3.

This also happens if I try and codesign the framework (or the `/A` version) by hand, freshly downloaded from Github releases.

[2015-05-26 20:42] jtreanor commented on #65
Hi @zdavison,

Do you get this same error when using CocoaPods? Does it only happen in the Xcode beta?

[2015-06-01 18:13] hwaxxer opened #66 "Intercom window not honoring -prefersStatusBarHidden"
The status bar appears in view controllers where `-prefersStatusBarHidden` is `YES`.

[2015-06-02 10:47] adamkmccarthy commented on #66
Thanks. The UI we have opens in a new UIWindow and doesn't transfer those values to it's own Intercom view controllers. We'll look into being able to support this.

[2015-06-02 11:35] hwaxxer commented on #66
Thanks for looking into it. I could probably have been more clear. As you probably figured out, the status bar becomes visible when the "chat face" appears in the UI.
Let me know if you have trouble reproducing. If it helps, our navigation hierarchy consists of a view controller that, depending on context, switches between child tab bar controllers that in turn contain navigation controllers that

[2015-06-02 11:46] adamkmccarthy commented on #66
:+1: Thanks Martin. Our conversation in Intercom made it super clear, we're looking into it today as it isn't at all desirable.

[2015-06-04 08:36] hwaxxer opened #67 "Feature request: post notification when the user sends a message"
It'd be very useful to know when the user actually sends a message through Intercom. For example, it's a great time to request push notifications.

[2015-06-04 08:57] adamkmccarthy commented on #67
That's a great idea. Thanks @hwaxxer!

[2015-06-04 13:08] hwaxxer opened #68 "+reset doesn't work"
Calling `+reset` doesn't actually reset or clear the registered user. Events that are logged after calling `+reset` (and subsequently `+registerUnidentifiedUser`) are assigned to the previously registered user.

It looks like if an event is logged shortly prior to calling `+reset`, the previous request somehow logs in the user again.

[2015-06-04 13:10] adamkmccarthy commented on #68
Thanks @hwaxxer. Are you using the very latest version of the library? We had a bug like this before that I was sure we had fixed :(

[2015-06-04 13:16] hwaxxer commented on #68
Yes, version `2.2.4`. We log a sign out event just before calling `+reset`. It's very easy to reproduce. If I delay the `+reset` by a second or two, the issue doesn't occur (given that no other event is triggered during that delay).

[2015-06-04 13:18] adamkmccarthy commented on #68
That makes sense (the steps you outline). Whats happening here is the event's response is returning the user's ID _after_ the reset and thus re-applying that user's identity. This feels like a regression, as we had fixed this specific issue before. We'll look into it straight away.

[2015-06-04 13:21] hwaxxer commented on #68
Are you by any chance using a serial queue for your requests? Because if so I could fix this by dispatching the intercom methods on a serial thread.

[2015-06-04 13:25] adamkmccarthy commented on #68
We're not using a serial queue (rest doesn't make a network request) but if you are calling them asynchronously it may well be that the event is coming back after reset has happened.

[2015-06-04 13:29] hwaxxer commented on #68
All communication with Intercom is currently on the main thread. Fortunately our users don't log out very often. Anyway, thanks for the fast reply.

[2015-06-04 15:47] jparkrr opened #69 "Can't see welcome message or autoreply in composer"
I set a welcome message in Settings > Messaging, but it doesn't show up.

![image](https://cloud.githubusercontent.com/assets/872456/7988057/a91e7b12-0ae1-11e5-897e-3c7457993148.png)

I've also changed the color in Settings > Appearance, and it is working, so I know I have the right app.

Thanks.

[2015-06-04 16:10] #65 closed

[2015-06-04 16:11] adamkmccarthy commented on #69
Thanks @jparkrr. There was a bug for a while on our side we've we've since fixed - are you still having problems with that welcome message appearing?

[2015-06-04 16:14] jparkrr commented on #69
I'm working with @hwaxxer. We're on the latest version.

On Thursday, June 4, 2015, Adam McCarthy <notifications@github.com> wrote:

[2015-06-04 16:15] adamkmccarthy commented on #69
:+1: is it still happening for you?

[2015-06-04 16:46] jparkrr commented on #69
No, it still doesn't work.

What are you thinking the problem.

[2015-06-04 16:46] adamkmccarthy commented on #69
Just looking into it now, it's a problem with our API for sure.

[2015-06-04 16:47] adamkmccarthy commented on #69
@jparkrr can you ping me inside Intercom? (handier to discuss app_ids etc in a private forum)

[2015-06-04 16:52] adamkmccarthy commented on #69
We're rolling out a fix for this now, sorry for the trouble.

[2015-06-04 16:52] #69 closed

[2015-06-04 18:14] jparkrr commented on #69
Awesome! Confirmed. Do you have any idea why the auto reply isn't working
also

On Thursday, June 4, 2015, Adam McCarthy <notifications@github.com> wrote:

[2015-06-04 20:14] adamkmccarthy commented on #69
I do! We removed that feature in version 2.2.2 about a month ago: https://github.com/intercom/intercom-ios/blob/master/CHANGES#L20

[2015-06-04 21:10] hwaxxer commented on #69
Why did you remove it? And why does it still show in the app's settings?

On Thu, Jun 4, 2015 at 10:14 PM, Adam McCarthy <notifications@github.com>
wrote:

[2015-06-08 19:58] hsoi opened #70 "When the log is off, I shouldn't see console messages"
If I have never invoked:

[code]

then I expect nothing logged to the console. However, I noticed errors are being logged.

In my case we log some event analytics on things like the application becoming active, which happens upon app launch before the user is able to log in -- legit, fine, technically an error but not really a problem for us, but yet it reports that in the console despite the fact

[2015-06-08 20:00] adamkmccarthy commented on #70
thanks @hsoi. The current implementation does, as you point, log potentially critical errors to the console. We'll evaluate this in a future release for sure. Thanks.

[2015-06-08 20:00] #70 closed

[2015-06-08 20:01] hsoi opened #71 "Variable log levels"
Building upon issue #70 it may be more useful to have levels of logging instead of a simple on/off setting.

Maybe something like:

[code]

as it seems you may internally already have such levels (given how I've seen log output).

[2015-06-08 20:03] adamkmccarthy commented on #71
Thanks John. We have something very similar indeed, we just don't hide the `ERROR` cases at the moment. A number of folks have expressed their distaste with how we're currently doing it, we'll definitely be taking another look. Thanks!

[2015-06-08 20:03] #71 closed

[2015-06-09 09:58] gransell opened #72 "Crash in PodIntercom_IntercomBatchUpdateOperation"
Hi

We recently updated to 2.2.3 and have now started noticing a few crashes in PodIntercom_IntercomBatchUpdateOperation. Seems to be some insertions/deletions in a collection view that are failing.

I have uploaded the crash log here: https://gist.github.com/gransell/bf46a8f4a53b9b974c2f

Unfortunately don't have more information than this.

[2015-06-09 13:49] jtreanor commented on #72
Thanks for the report @gransell. I will follow up in Intercom to discuss this further.

[2015-06-09 14:40] gransell commented on #72
Unfortunately no. This has come in through external crash reports from end users so we don't really have any more information.

[2015-06-09 19:12] jtreanor commented on #72
Ok, thanks @gransell. I appreciate you sending this in: I will work on reproducing this locally.

[2015-06-10 07:03] gransell commented on #72
No problems. I'll update this issue if I find anything.

[2015-06-24 09:00] limenutt opened #73 "[Intercom presentMessageComposer] doesn't work"
[Intercom presentMessageComposer] currently opens conversations list instead of showing a message composer.

[2015-06-24 09:04] adamkmccarthy commented on #73
Thanks @limenutt, I can see in Intercom that you're on the Learn Pro package which doesn't support inbound messaging. If you enable logging in the SDK, you will see an error letting you know why it didn't show the new message composer. Feel free to contact us in Intercom if you'd like to change that. Thanks.

[2015-06-24 09:04] #73 closed

[2015-06-24 15:04] jtreanor commented on #68
This has been fixed in 2.3.0.

[2015-06-24 15:04] #68 closed

[2015-06-24 15:05] jtreanor commented on #66
2.3.0 now respects `-prefersStatusBarHidden`

[2015-06-24 15:05] #66 closed

[2015-06-24 15:05] jtreanor commented on #67
We have added this in 2.3.0 :smile:
Thanks for all your valuable feedback.

[2015-06-24 15:05] #67 closed

[2015-06-26 05:43] smklinger opened #74 "Crash in PodIntercom_ITBUIMessageBlockText buildAttributeString"
[code]

[2015-06-26 07:39] jtreanor commented on #74
Thanks @smklinger. Can you tell me any more details of what causes this crash to occur? Is this happening in version 2.3.0?

[2015-06-29 05:04] macbaszii opened #75 "Keyboard padding bug in message composer"
![ios simulator screen shot jun 29 2015 11 48 29 am-2](https://cloud.githubusercontent.com/assets/809559/8401312/fae11fe4-1e56-11e5-85a7-a072c7dae140.png)

[2015-06-29 07:34] jtreanor commented on #75
Hi @macbaszii

Can you explain what the issue is here?

[2015-06-29 08:55] jtreanor commented on #75
Sorry @macbaszii, I see it now. Its Monday morning here :smile:

The offset seems to be exactly the height of a UIToolbar. Are you using any third party components that modify keyboard behaviour? e.g IQKeyboardManager, DAKeyboardControl etc.

[2015-07-02 13:00] mchicote opened #76 "Atomic user creation"
Hi
I would like to propose a way to create a user atomically. Current version of the SDK only allows to register a user using ID or ID and Email. I would like a way to create and update user properties all at once.

The reason behind this is that I user Zapier to listen for users created on Intercom and create them on Promoter. If I don't have atomic user creation, users don't have important prope

[2015-07-03 08:08] macbaszii commented on #75
@jtreanor Yes, I used IQKeyboardManager and How can we use it ?

Sorry for late reply.

[2015-07-03 14:38] jtreanor commented on #75
No problem @macbaszii. The issue is that IQKeyboardManager swizzles keyboard behaviour so directly messes with our ability to present a keyboard.

To fix it you can disable IQKeyboardManager while the Intercom window is open. Something like this would work:

[code]

[2015-07-03 14:38] #75 closed

[2015-07-09 15:32] sheppyc commented on #76
Yes this would be useful. I have a similar requirement but for slack integration. Currently we're using ID + email, and it's nice but would prefer to add the full name as we collect during signup to make things a little nicer.

[2015-07-09 17:19] adamkmccarthy commented on #76
thanks @mchicote & @sheppyc. We did have this in a previous version and removed it for simplicity (at a time when re required synchronous communication with Intercom's API for such requests) but we have a much better API these days. We'll revisit it for sure and see what it would look like.

[2015-07-13 19:48] roland9 opened #77 "Linker error when compiling for device on Xcode 7 Beta 3"
Hey guys,
I know it's an Xcode beta version, but would be great if I could compile my app with Xcode 7. I'm using intercom-ios 2.3.0 and I get this error:

[code]
In my project and the Pods project I have the `Enable Bitcode` setting set to Yes.

[2015-07-14 08:04] adamkmccarthy commented on #77
Thanks for this @roland9. We'll need to get further through the beta cycle (or until Apple start accepting Xcode 7 built binaries in the App Store) before we can start building with bitcode, in the meantime i'd suggest turning bitcode off in your Xcode 7 project for now as it's not giving you anything specific just yet. If you're using cocoapods you can probably toggle it per pod target too (I thi

[2015-07-15 22:00] roland9 commented on #77
@adamkmccarthy yep that's what I ended up doing - because also other libraries have the same 'problem'. Again, I'm aware it's a beta release, so good to hear it's in you radar. Closing

[2015-07-15 22:00] #77 closed

[2015-07-23 13:46] tbass134 opened #78 "Crash [UIScrollViewAccessibility _axCleanupDelegateClearer]"
In our crashlytics report, we keep getting crashes on _axCleanupDelegateClearer method.
After drilling down the threads, it looks like it has something to do with intercom.
SRWebSocket.m line 1755
-[PodIntercom__SRRunLoopThread main]

the link to the crash is here:
http://crashes.to/s/1be6cc89152

Any details on this would be great

[2015-07-23 13:48] egrankovskiy opened #79 "New message is not displayed in the conversation on push notification"
If open the app with Intercom integration via push notification tap, the new message is not displayed in the conversation.

STR:
1. Go to the Conversation screen.
2. Put the app in to background.
3. Send a new message to this user via Intercom.
4. Wait for the push notification.
5. Tap on the push notification.

Expected result: The app is opened and the new message is displayed.
Actual result: Th

[2015-07-23 13:51] jtreanor commented on #78
Thanks @tbass134.

It doesn't look like this crash isn't being caused by Intercom. The reference you see to `-[PodIntercom__SRRunLoopThread main]` is part of how Intercom listens for new messages but it is not in the crashed thread.

From looking at the crashed thread, it looks like you have a memory issue with your `UICollectionView`:

[code]

[2015-07-23 13:51] #78 closed

[2015-07-23 13:54] jtreanor commented on #79
Hi @egrankovskiy,

The new message should appear when you open via a push notification. Can you tell me what version of Intercom for iOS you are using? There was a bug prior to 2.2.4 where it did not always work.

By any chance are you calling `[Intercom setMessagesHidden:YES]` when your app launches?

[2015-07-23 16:40] egrankovskiy commented on #79
Hi, @jtreanor

The latest ones (iOS 8.4, intercom 2.3.1). No, I don't use that method. 100% reproducible. Test app, if it matters.

[2015-07-23 16:52] jtreanor commented on #79
Thanks @egrankovskiy,

I'll investigate and update here when I know more.

[2015-07-23 17:39] jtreanor commented on #79
Would you mind sending a message through Intercom so that we can dig deeper, without having to discuss your app's details in this public issue?

James

[2015-07-23 18:17] egrankovskiy commented on #79
Sure, let's talk. Wrote to Intercom.

[2015-08-03 06:55] tariq235 opened #80 "Keyboard is dismissing automatically without animating chat field"
Issue is currently reproducible in simulator and tested in iphone 6 latest version.
Keyboard is dismissing automatically without animating chat field. Please check attached screenshot.
<img width="487" alt="screen shot 2015-08-03 at 12 23 33 pm" src="https://cloud.githubusercontent.com/assets/349211/9032284/af9fb3f2-39da-11e5-8276-8cbca6c72bca.png">

I have added keyboardWillHideNotification to ch

[2015-08-04 09:44] jtreanor commented on #80
Closing because through discussion with @tariq235, we have found this to be an issue with `DAKeyboardControl`, which he is using in his app.

I have put together a mod that could be made to `DAKeyboardControl` to allow it to work with Intercom: https://gist.github.com/jtreanor/9e7a98dafcf85b063375.
However, I strongly recommend against using `DAKeyboardControl` because it swizzles `addSubview:` wh

[2015-08-04 09:44] #80 closed

[2015-08-04 09:47] jtreanor commented on #79
Hi @egrankovskiy,

Are you still seeing this issue? After discussion in Intercom, I strongly suspect this is caused by switching an app between TEST and regular Intercom environments. i.e. if you open a push from a test app while registered on your main app, Intercom can't open it because the message won't be found.

Thankfully, if this is the issue, it will not be present for any end users.

[2015-08-04 10:25] egrankovskiy commented on #79
@jtreanor, message is not missed, I can see it after going to the conversation list screen and return back to the current conversation. Also, I work ONLY with a test app to reproduce this issue.

Let me describe in other words.

I open the app and go to the current conversation screen and see N messages. Then I put the app to the background (with home button). Then I send a new message from the In

[2015-08-04 10:25] egrankovskiy commented on #79
@jtreanor, message is not missed, I can see it after going to the conversation list screen and return back to the current conversation. Also, I work ONLY with a test app to reproduce this issue.

Let me describe in other words.

I open the app and go to the current conversation screen and see N messages. Then I put the app to the background (with home button). Then I send a new message from the In

[2015-08-04 10:26] egrankovskiy commented on #79
@jtreanor, message is not missed, I can see it after going to the conversation list screen and return back to the current conversation. Also, I work ONLY with a test app to reproduce this issue.

Let me describe in other words.

I open the app and go to the current conversation screen and see N messages. Then I put the app to the background (with home button). Then I send a new message from the In

[2015-08-04 10:55] egrankovskiy commented on #79
@jtreanor, message is not missed, I can see it after going to the conversation list screen and return back to the current conversation. Also, I work ONLY with a test app to reproduce this issue.

Let me describe in other words.

I open the app and go to the current conversation screen and see N messages. Then I put the app to the background (with home button). Then I send a new message from the In

[2015-08-04 10:55] egrankovskiy commented on #79
@jtreanor, message is not missed, I can see it after going to the conversation list screen and return back to the current conversation. Also, I work ONLY with a test app to reproduce this issue.

Let me describe in other words.

I open the app and go to the current conversation screen and see N messages. Then I put the app to the background (with home button). Then I send a new message from the In

[2015-08-04 10:56] egrankovskiy commented on #79
@jtreanor, message is not missed, I can see it after going to the conversation list screen and return back to the current conversation. Also, I work ONLY with a test app to reproduce this issue.

Let me describe in other words.

I open the app and go to the current conversation screen and see N messages. Then I put the app to the background (with home button). Then I send a new message from the In

[2015-08-04 10:58] jtreanor commented on #79
Sorry @egrankovskiy, I got misunderstood the issue. My mistake.

The good news is we are releasing a new version this morning that fixes this issue :smile: I'll keep you updated.

[2015-08-04 11:08] jtreanor commented on #79
Version 2.3.2, which fixes this issue has now been released.

[2015-08-04 11:08] #79 closed

[2015-08-06 12:16] flovilmart opened #81 "Carthage Support"
That one is an easy one.

When building your releases, just zip Intercom.framework in Intercom.framework.zip so Carthage can install it properly.

Thanks!

[2015-08-06 12:17] adamkmccarthy commented on #81
thanks @flovilmart, we'll look into it for our next large point release :+1:

[2015-08-07 18:31] innovative1 opened #82 "Intercom presentConversationList or do not preserve status bar style"
My app has the status bar style set to UIStatusBarStyleLightContent and View controller based status bar style set off. After the Intercom message compose is displayed using +[Intercom presentConversationList] or +[Intercom presentConversationList] status bar style is set to default.

The status bar style should not be changed or should be reset to its previous state after the message composer is

[2015-08-10 11:24] amitbobade2007 opened #83 "Need to present Conversation List inside TabBarController with visible TabBar."
Currently, TabBar is hiding behind presented Conversation List.

[2015-08-10 11:26] adamkmccarthy commented on #83
Hi @amitbobade2007, thanks for reaching out. Currently the Intercom SDK lives inside it's own UIWindow so presents as a later above the host app. As a result we don't have the capability to vend a view controller that would work inside elements like your UITabBarController unfortunately.

[2015-08-10 11:26] #83 closed

[2015-08-10 11:32] amitbobade2007 commented on #83
Thanks @adamkmccarthy. I want to display it inside tabbar. As it is not possible. Now i need to call custom webAPI for conversation history and bind it with viewcontroller. Do you any workaround to access conversation list?

[2015-08-10 11:52] adamkmccarthy commented on #83
Unfortunately not. Ping us at team@intercom.io if you'd like to share your reasons for wanted a different type of customisation, hearing about your constraints would be helpful if you had the time. Thanks @amitbobade2007

[2015-08-17 10:00] gransell opened #84 "Crash in - [PodIntercom_AFHTTPRequestSerializer HTTPRequestHeaders]"
Hi

We have started seeing crashes in our production app in [PodIntercom_AFHTTPRequestSerializer HTTPRequestHeaders]. We are running version 2.3.2 of the SDK.

The exception is
[code]

Callstack:

[code]

[2015-08-17 10:03] jtreanor commented on #84
Hi @gransell,

Could you give an example of the user attributes you pass in to cause this crash?

James

[2015-08-17 11:00] gransell commented on #84
Sure. This is what we sent on one occasion:

[code]

[2015-08-17 11:02] jtreanor commented on #84
Thanks @gransell

Does it crash every time you call this?

[2015-08-17 11:05] gransell commented on #84
No, we have had 2 crashes so far in our latest release. We haven't seen it with SDKs prior to 2.3.2.

[2015-08-17 16:05] jtreanor commented on #84
Thanks for reporting this @gransell,

I will investigate it and get back to you.

[2015-08-18 17:14] jtreanor commented on #82
This has been fixed in 2.3.3.

[2015-08-18 17:14] #82 closed

[2015-08-18 17:14] jtreanor commented on #74
This crash has been fixed in 2.3.3.

[2015-08-18 17:14] #74 closed

[2015-08-18 17:15] jtreanor commented on #81
The [latest release](https://github.com/intercom/intercom-ios/releases/tag/2.3.3) has got `Intercom.framework.zip` attached. I have not tested it with Carthage but this may work for you.

[2015-08-24 09:02] gransell commented on #72
Hi

Any update on this? We are seeing more and more of this in production. Any information that you need from us?

[2015-08-24 09:06] adamkmccarthy commented on #72
Thanks @gransell, in terms of volume how many of these are you seeing? (feel free to ping me in Intercom if you'd prefer not to discuss that here). We're chasing it down but haven't found the cause just yet. Some additional raw crash logs would be great if you had them to hand. Thanks, Adam.

[2015-08-24 09:21] gransell commented on #72
We have been seeing everything between 0 and 5 crashes per week during summer. I can dig up some more crash logs. Whats the best way to ping you in intercom? Perhaps easier to send over all the crash logs there.

[2015-08-24 09:22] adamkmccarthy commented on #72
Thanks @gransell. Ping team [at] intercom.io and mention @jtreanor and myself and we'll sift through them. Thanks a million!

[2015-08-26 08:00] scotbond opened #85 "openURL not being called"
After integrating IntercomSDK into our project we noticed that deep links has stopped working on iPhone6(+) devices running iOS 8.3 or above (and only when the app is not running in BG, suspended or killed).
The `application:openURL:sourceApplication:annotation:` is not being called after `application:didFinishLaunchingWithOptions:` has finished. According to Apple, openURL will not be called if `

[2015-08-26 08:58] harkin commented on #85
Thanks for letting us know about this, it does look like there's a bug in the swizzling. We'll keep you updated as we look into this

[2015-08-26 09:01] kylejm commented on #81
@jtreanor I can confirm that this works :+1:

[2015-08-26 09:14] kylejm commented on #81
Whoops, spoke to soon.

Got this error:

[code]

[2015-08-26 10:15] kylejm opened #86 "Include dependancies in module.modulemap"
I noticed that Crashlytics does this. It means that users don't have to manually include each framework that Intercom depends on. You can just link each one in the `module.map`:

[code]

[2015-08-26 10:21] kylejm commented on #81
Perhaps this is something to do with the _MACOSX framework being somewhat... empty? (it looks like it's missing stuff to me, at least).

[2015-08-26 13:12] harkin commented on #86
That's very neat, we'll look into this. Thanks for bringing it to our attention :+1:

[2015-08-27 09:42] kotay opened #87 "Deep Linking from push notifications?"
According to your `README` you support "Deep Linking in messages" - how do I set this up? I'm looking to deep link from push notifications but can't find any code or documentation on this subject?

[2015-08-27 09:56] DaleCantwell commented on #87
@kotay we have been meaning to create docs for deep linking. You can create a custom url scheme for your app as normal (https://developer.apple.com/library/ios/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/Inter-AppCommunication/Inter-AppCommunication.html). Then if you create an in app message in intercom with a button or link url that contains your scheme and send that message to user

[2015-08-30 19:28] kylejm commented on #81
Has your team got an ETA for Carthage support? I'm trying to plan whether to include Intercom for our next release or wait a week or two for Carthage support.

[2015-09-01 10:24] jtreanor commented on #81
Hey @kylejm

Nice to chat to you again (We met at NSConf :smile:).

Unfortunately we have an issue stopping us from supporting Carthage right now. Carthage only supports [dynamic frameworks](https://github.com/Carthage/Carthage#supporting-carthage-for-your-framework), but dynamic frameworks only work on iOS 8+.

This means that we will not be able to support Carthage until Intercom for iOS drops i

[2015-09-01 10:24] #81 closed

[2015-09-01 10:26] kylejm commented on #81
Hey James! Yes, it's good to speak again :smile:! I knew it was you but I didn't think you'd remember me.. Haha!

No worries, I've been going about that last night and this morning :+1:. Thanks for the info!

[2015-09-01 10:27] jtreanor commented on #81
You're welcome :smile:

Feel free to reach out if you have any other questions.

[2015-09-01 21:12] sammcewan opened #88 "App flagged for not declaring push notification support"
We do not want to utilise Intercom's push notification service at this point.

Apple have recently flagged our app because we don't declare APNS support and we no longer can get through review in a timely manner as a result.

Strongly suggest providing an option for a build with no push notification references.

[2015-09-02 07:55] jtreanor commented on #88
Hi @sammcewan

There are many apps in the AppStore with Intercom that do not use push notifications.

Can you give more details of the response they gave you?

[2015-09-08 15:05] mchicote opened #89 "Register user without email"
Hi
If I use the method ````(void)registerUserWithUserId:(NSString *)userId email:(NSString *)email;```` to register a user and the email is empty, the user does not get created. Is this expected behavior? Could the user just be created without the email?

The work around is of course to user ````(void)registerUserWithUserId:(NSString *)userId;````. The strange thing is that if I do this, attribute

[2015-09-08 18:49] #89 closed

[2015-09-09 02:06] jtreanor commented on #85
Thanks for reporting this. We have found this issue and are working on a fix.

[2015-09-09 12:29] renssies opened #90 "Intercom framework does not support bitcode"
iOS 9 is bringing bitcode to rewrite apps on Apple's servers allowing for smaller app binaries or other changes.
However with bitcode on, you can't compile your app because intercom does not support it.
Probably because iOS 9 isn't officially out yet. Please enable bitcode for intercom as soon as possible, maybe on a separate branch so we can submit apps with iOS 9 and bitcode support starting tod

[2015-09-09 19:49] jtreanor commented on #85
This has been fixed in 2.3.4. Let me know if you still see this issue.

[2015-09-09 19:49] #85 closed

[2015-09-09 21:13] sammcewan commented on #88
Dear developer,

We have discovered one or more issues with your recent delivery for "xx". Your delivery was successful, but you may wish to correct the following issues in your next delivery:

Missing Push Notification Entitlement - Your app appears to include API used to register with the Apple Push Notification service, but the app signature's entitlements do not include the "aps-environment" e

[2015-09-09 21:14] sammcewan commented on #88
We believe this was the cause for hold up. 8 days to get through the external review process.

[2015-09-09 22:57] jtreanor commented on #88
Thanks for sending on the details. I am very surprised that Apple have started rejecting apps for this reason. Many of apps using Intercom don't use push but this has never been an issue.

A short term fix for your case would be to add the push notifications entitlement, even if you don't intend to use it.

In the meantime we are investigating this and working on a solution.

[2015-09-10 10:57] jtreanor commented on #88
I re-read your comment and I see this is a warning, not a rejection. Still important to fix but not quite as major.

Did they give any more detail about which APIs were being flagged?

[2015-09-10 18:35] danielmackey commented on #90
I have also run into this using iOS9 and Xcode 7.0. Both the cocoapods and manual installation processes fail during app build.

[2015-09-11 13:16] jtreanor commented on #88
This was closed by mistake. Reopening.

We are preparing a potential solution for the next release. I believe the deprecated [`registerForRemoteNotifications`](https://github.com/intercom/intercom-ios/blob/master/Intercom.framework/Versions/A/Headers/Intercom.h#L470) may be the culprit.

[2015-09-11 13:31] jtreanor commented on #90
Thanks @renssies and @danielmackey

We're are currently looking into this. I will keep you updated here as we know more.

[2015-09-11 15:53] #87 closed

[2015-09-11 15:53] #76 closed

[2015-09-11 21:14] urkle commented on #88
@jtreanor Thanks.. Hopefully the next update will appease Apple's API usage monitor.   They only started doing this check less than 2 weeks ago.  Which means at some point in the near future they will be rejecting apps due to this.

[2015-09-14 07:40] croyneaus4u opened #91 "Unauthorized Token error"
I integrated the Intercom iOS sdks with the default API key that was provided to me on startup and everything was working fine. But when I generated a full access API Key and tried to register  using the new API key, I am getting `unauthorised token` Error. The sdks version is v2.3.4

[2015-09-14 10:06] jtreanor commented on #91
Hi @croyneaus4u,

You can only use an iOS API key with the iOS SDK. The key you generated is intended to be used only with the REST API.

[2015-09-14 10:06] #91 closed

[2015-09-14 14:54] stephencelis commented on #88
We're seeing the same issue. The stricter check came alongside the latest GM.

[2015-09-14 14:58] jtreanor commented on #88
Thanks everyone for reporting this.

We are working on this as a matter of priority and I'm quite confident of the upcoming fix. Unfortunately I cannot be 100% sure it will be fixed because Apple did not say specifically which API caused the flag.

[2015-09-14 21:03] orta opened #92 "Rename CHANGES to CHANGELOG"
if you rename it your [CocoaPods page](https://cocoapods.org/pods/Intercom) would show it inline [e.g. ARAnalytics](https://cocoapods.org/pods/ARAnalytics)

[2015-09-14 21:07] jtreanor commented on #92
Thanks for the suggestion @orta :smile:

Good idea, I'll make that change now.

[2015-09-14 21:15] #92 closed

[2015-09-16 17:55] martingsaunders commented on #90
Is there an ETA on bit odd support. We have a WatchOS2 app to submit this week and will have to remove Intercom if bitcode isn't ready.

[2015-09-16 17:56] martingsaunders commented on #90
Or bitcode even...

[2015-09-16 17:58] jtreanor commented on #90
@martingsaunders soon. It will either be this week or early next week. We are ironing out the iOS 9 kinks at the moment.

[2015-09-16 18:03] martingsaunders commented on #90
Ok, great stuff. I'll hang on in that case. 👍🏻

[2015-09-16 18:50] roland9 commented on #90
@martingsaunders you might be aware of this, just mentioning it here:
since Apple went GM with Xcode 7, you can indeed build 'mixed' apps: you can have Bitcode *disabled* in the iOS app, but *enabled* in the watchOS extension (iTunes Connect won't accept WatchKit extensions without Bitcode).
-> That wasn't allowed during the beta period, but now it's perfectly fine (as they announced during WWDC i

[2015-09-16 20:35] orta opened #94 "Support CocoaPods frameworks"
Since migrating our app to [use frameworks](https://github.com/artsy/energy/pull/50) - we're now seeing:

[code]

I'm guessing you're currently vending a static library that fakes being a framework? One solution is to start going full out framework style, you can use Marius Rackwitz' [xcconfigs](https://github.com/mrackwitz/xcconfigs/) to make that easier on your devs. Or you can ship an open sour

[2015-09-17 12:59] jtreanor commented on #94
Thanks for reporting this @orta.

The supplied framework is built using [CocoaPods Packager](https://github.com/cocoapods/cocoapods-packager). Unless I'm mistaken, I don't think it is possible for us to use actual (dynamic) Frameworks due to that fact that we still support iOS 7.

We currently check both `[NSBundle bundleForClass:]` and `[NSBundle mainBundle]` for the Intercom bundle before printi

[2015-09-17 13:06] orta commented on #94
Yeah, iOS7 is a shame, but very understandable. I'd expect them to be in the main bundle, given that you're using `resources` which should be putting them inside the application itself. I won't be touching this app again till next week though, so I can get back with a confirmation or you can make a demo project and add this Podfile:

[code]

[2015-09-17 13:52] jtreanor commented on #94
Thanks @orta.

I will test it out in a sample app and track it down.

[2015-09-17 14:33] jtreanor commented on #94
I have put together a simple sample app with the Podfile you posted above and the bundle was loaded fine. I've uploaded it [here](http://d.pr/f/1a5LD).

Is there anything unusual about your setup that may cause it to behave differently?

[2015-09-17 14:33] orta commented on #94
Ouh! Must be, alright, I'll let you know :+1:

[2015-09-17 14:34] jtreanor commented on #94
Let me know if I can help with tracking it down :smile:

[2015-09-17 14:35] orta commented on #94
I own a copy of Hopper, nothing is out of my reach :dancers:

[2015-09-17 14:43] jtreanor commented on #94
:smile:

[2015-09-17 22:16] mjbeauregard opened #95 "Programmatic customization of user interface appearance"
I'd like to integrate this with an app that has it's own themes that are changed at runtime. I need a way to adjust the theme of the Intercom user interfaces programmatically.

[2015-09-18 01:22] ded commented on #90
argh. Intercom is going to be an essential part of our app, and with iOS9 officially out today (XCode went GM just a few days ago), we have no way to build an archive :disappointed:

At this point I would presume this must be the highest priority at the moment — and it is indeed a blocker for us.

[2015-09-18 08:58] jtreanor commented on #90
Thanks @ded. Yes, this is the highest priority right now.

You should be able to build an archive for now by turning off Bitcode.

[2015-09-18 15:57] ded commented on #90
Thanks @jtreanor — I was able to build the archive, but it was an invalid binary (not enabling us to submit to App Store). It seems to be [happening to others](http://stackoverflow.com/questions/32526526/invalid-swift-support-files-don-t-match), however that is likely an unrelated problem to Intercom.

[2015-09-18 16:01] jtreanor commented on #90
Sorry to hear that @ded. I hope Apple resolve it soon.

The new version will be out early next week.

[2015-09-18 17:01] roland9 commented on #90
@ded I had the same issue (invalid binary) when I tried to submit with Xcode 7 GM.

The only solution I found was to revert to a stage where I still used Xcode 6.4 (before I made any changes with Xcode 7 beta in my project), and then import all the changes, files since then.
Then it was fine; was able to submit to the App Store no issues.

Painful, but my conclusion was that Xcode beta 'broke' the

[2015-09-18 17:37] ded commented on #94
I was able to get Intercom working with Pods for iOS 9 with no problem (with the exception of setting `ENABLE_BITCODE='NO'`).

[2015-09-18 17:44] ded commented on #90
@roland9 following the instructions from that link to copy over the files fixed the issue (I still received a warning after the Organizer finished (saying [API analysis is too large](http://cl.ly/image/0s0N0s441s0X))

[2015-09-18 19:11] moflo commented on #77
Hi, any update on providing a bitcode enabled Intercom framework? Thanks!

[2015-09-18 19:13] jtreanor commented on #77
Hi @moflo,

Yes, we will have a new version soon. You can find updates here: https://github.com/intercom/intercom-ios/issues/90

[2015-09-18 22:45] roland9 commented on #90
I got the same - but because it was just a warning I ignored it
And the submission was fine :)
Good luck!

[2015-09-19 18:54] ded opened #96 "restoring Intercom.presentConversationList() key window"
Hi there!

I've successfully integrated everything smoothly, and all works fine for a general purpose flow. I can call `Intercom.presentConversationList()` within a tap gesture, and it works perfectly.

I've since added a deep linking feature into our application, eg: (`our-app-protocol://product/123`), which opens up our app directly to our product view. Thus, when our team responds to a user in

[2015-09-21 09:58] jtreanor commented on #90
Version 2.3.5 has been released with iOS 9 and Bitcode support.

Thanks everyone for all your feedback on this :smile:

[2015-09-21 09:58] #90 closed

[2015-09-21 10:00] jtreanor commented on #88
Version 2.3.5 has been released. I am hopeful that this issue should now be fixed but unfortunately we can't be sure until we see how Apple treats this new version.

[2015-09-21 10:01] jtreanor commented on #86
Thanks @kylejm for the suggestion. Version 2.3.5 now has a better modulemap and a [much improved](https://github.com/intercom/intercom-ios#manual-installation) manual install process :smile:

[2015-09-21 10:01] #86 closed

[2015-09-21 13:52] allaire opened #97 "Getting lots of warning with latest version"
Warnings like:

[code]

[2015-09-21 13:52] allaire commented on #97
Maybe related: http://stackoverflow.com/questions/14489692/what-do-these-dsymutil-warnings-mean-in-xcode-4-5

[2015-09-21 13:56] jtreanor commented on #97
Hi @allaire,

Thanks for reporting this. Just a few questions to help track this down:

- Do you have Bitcode enabled?
- Is this happening for debug builds or archives?
- Are you using CocoaPods?
- what version of Xcode are you using?

[2015-09-21 13:58] allaire commented on #97
@jtreanor I'm on it, will report back in 5 mins :)

[2015-09-21 13:59] allaire commented on #97
* Bitcode is disabled under "Build options" -> "Enable Bitcode"
* debug builds currently
* Using cocoapods
* Version 7.0 (7A220)

[2015-09-21 14:00] allaire commented on #97
I had to disable Bitcode because of Google Analytics SDK: http://stackoverflow.com/questions/31395260/google-analytics-libadidaccess-a-does-not-contain-bitcode

[2015-09-21 14:02] jtreanor commented on #97
Thanks for the quick response :smile:

We are investigating this now.

[2015-09-21 14:04] allaire commented on #97
Here's a screenshot of some the warnings:

![](https://dl.dropboxusercontent.com/s/bbdwi9y6rwr9jwj/2015-09-21%20at%2010.02.png)

It looks like something was weirdly compiled in the release build (we can see your name in the warnings :smile:)

[2015-09-21 14:10] jtreanor commented on #97
Wow, that is very strange. I don't know where that could be coming from but I will continue to look into it here.

I have setup a new project as you describe (Xcode 7, CocoaPods, Bitcode disabled) and I am not seeing the warnings. Can you try running this project and see if you get the warnings?

Download it [here](http://d.pr/f/12gya)

[2015-09-21 14:21] jtreanor commented on #97
@allaire I think I have found the issue. This is due to how [CocoaPods Packager](https://github.com/cocoapods/cocoapods-packager) handles builds with Bitcode (https://github.com/CocoaPods/cocoapods-packager/issues/98).

I'm working on a fix right now. I'll keep you updated.

[2015-09-21 14:30] allaire commented on #97
@jtreanor great! for what's worth, your project gave me no Warnings. I tried on my side to remove the pod, and reinstall it, but no dice :)

[2015-09-21 15:17] jtreanor commented on #97
@allaire Could you try change the line in your Podfile as shown below and let me know if it removes the warnings for you?

[code]

[2015-09-21 15:19] urkle commented on #88
Thanks!, I'll test the new build and see what they do

[2015-09-21 15:52] allaire commented on #97
I still get the warnings :disappointed:  I tried both `pod install` and `pod update`

[2015-09-21 16:10] jtreanor commented on #97
Thanks @allaire

I must say I am quite stumped here and I still haven't managed to reproduce it.

I am still investigating and will keep you updated.

[2015-09-21 16:13] jtreanor commented on #97
I have made another change to the `bitcode_fix` branch. Could you run `pod update` and let me know if you still see issues?

[2015-09-21 17:00] allaire commented on #97
Still seeing issues with latest changes :(

I wish I could send you the project I'm working on. Don't hesitate if you need any other information.

Thanks!

[2015-09-21 17:02] jtreanor commented on #97
Thanks for checking @allaire

I'll continue to look into it and keep you updated.

[2015-09-21 17:03] allaire commented on #97
`pod "Intercom", "2.3.4"` fix it for now :)

[2015-09-21 17:04] jtreanor commented on #97
I'm glad you have a temporary fix at least :smile:

[2015-09-21 17:09] allaire commented on #97
@jtreanor Well, even with the latest version everything is working fine, but ignoring 200 warnings is pretty hard for me :laughing:

[2015-09-21 17:22] gvalmon commented on #97
I'm experiencing the same issue

1) Bitcode is enabled
2) Both debu and archive builder
3) Using cocoapods
4) Xcode Version 7.0
5) Project written using Swift, but has 1 file with Objective-C code

[2015-09-21 20:51] jtreanor commented on #97
Thanks @gvalmon

Another temporary workaround is to silence the warnings like this:

[code]

[2015-09-21 21:56] flipdish commented on #97
2.3.5 broke my build. Getting error

    /Users/distiller/ios/Pods/Intercom/Intercom.framework/Intercom(SocketRocket-dummy.o)
    ld: 362 duplicate symbols for architecture x86_64
    clang: error: linker command failed with exit code 1 (use -v to see invocation)-

Swift project targeting iOS 7

[2015-09-22 05:19] mfkp commented on #90
@jtreanor - FYI 2.3.5 breaks Xcode 6 compatibility. Seems related to this bug: http://www.openradar.me/21884601

I get hundreds of the duplicate symbol errors, such as the referenced
```duplicate symbol _llvm.cmdline:```

I downgraded to 2.3.4 and it's verified working in Xcode 6.4

[2015-09-22 08:55] jtreanor opened #98 "2.3.5 not compatible with Xcode 6"
When building an app with 2.3.5 in Xcode 6, you may see errors like these:

[code]

As pointed out by @mfkp, this may be related to http://www.openradar.me/21884601. We are looking into fixes for this at the moment.

In the meantime you can either use 2.3.4 of Intercom or update to Xcode 7.

[2015-09-22 08:56] jtreanor commented on #90
Thanks @mfkp. I have opened a separate issue to track this here: #98

[2015-09-22 08:57] jtreanor commented on #97
@flipdish This is likely unrelated to this issue. Are you using Xcode 6.x? [This issue](https://github.com/intercom/intercom-ios/issues/98) may be of interest to you.

[2015-09-22 08:59] flipdish commented on #97
@jtreanor Thanks - yes, https://github.com/intercom/intercom-ios/issues/98 looks like the issue.  We're using XCode 6.4.

[2015-09-22 10:43] afehners commented on #97
I am seeing the same issue

Bitcode disabled
Xcode 7
using cocoapods
debug & archive builds
All Objective C project

[2015-09-22 12:15] jtreanor commented on #98
This has been fixed in 2.3.6. Intercom should now work fine with older versions of Xcode.

[2015-09-22 12:16] jtreanor commented on #97
I have released 2.3.6 which I am very hopeful will fix this. Let me know how it goes :smile:

[2015-09-22 12:16] #98 closed

[2015-09-22 12:18] allaire commented on #97
Driving to work will report in 15min. What did you change?

[2015-09-22 12:22] jtreanor commented on #97
Thanks @allaire.

I have changed how CocoaPods packager mangles symbols so Xcode shouldn't get confused and need to check the ModuleCache.

[2015-09-22 12:25] afehners commented on #97
2.3.6 is causing a build error now sorry

I think the issue is due to me using AFNetworking. I get error due to duplicate symbols now.

![screen_shot_2015-09-22_at_13_23_47](https://cloud.githubusercontent.com/assets/2273006/10018290/7021d1a4-612d-11e5-99e2-7d9928e26e50.png)

[2015-09-22 12:28] jtreanor commented on #97
Thanks @afehners.

We're clearly still not out of the woods :disappointed: I'm on it.

[2015-09-22 12:57] allaire commented on #97
@jtreanor Not working for me neither! Also, `inhibit_warnings` does not work (might be an issue with cocoapods itself?)

[2015-09-22 12:58] jtreanor commented on #97
Thanks @allaire.

I have found the issue and I'm in the process of cutting a new version now.

Thanks everyone for all your patience.

[2015-09-22 12:59] allaire commented on #97
Great! just wondering, is inhibit_warnings working on your side with latest cocoapods beta?

[2015-09-22 13:06] jtreanor commented on #97
2.3.7 is released and should fix this issue.

@allaire I'll check now :smile:

[2015-09-22 13:14] jtreanor commented on #97
@allaire `inhibit_warnings` works for me! (Not with Intercom 2.3.6 though since those as errors)

[2015-09-22 13:24] allaire commented on #97
@jtreanor Ran `pod update`, tried to clean + delete DerivedData and still getting warnings, anything else?

[2015-09-22 13:25] afehners commented on #97
Sorry but back to the original warnings again now...

[2015-09-22 13:27] jtreanor commented on #97
Thanks guys.

[2015-09-22 15:46] jtreanor commented on #97
We have finally been able to reproduce this locally.

The warnings are given when "Debug Information Format" is set to "DWARF with dSYM File". We don't have a fix quite yet but setting it to "DWARF" will fix it for now.

[2015-09-22 16:20] allaire commented on #97
@jtreanor Great. Do you know the difference between the two settings? Could not fit anything meaningful  on the Interwebs!

[2015-09-22 16:21] allaire commented on #97
I think that Crashlytics makes use of the dSYM file and enable it when you install Fabric/Crashlytics in your app.

[2015-09-22 16:22] jtreanor commented on #97
@allaire Yes it does. That what it is primarily used for. I'm confident we'll get to the bottom of this for all use cases.

[2015-09-22 16:53] kylejm commented on #86
Hey James, that's awesome! Thanks so much for this, it's really cool!

I've now run in to issue #97, but I can see you're well on to that one :smile:. I've subscribed to it and listen out for more info.

[2015-09-22 20:56] mfkp commented on #98
Awesome, thanks for the quick fix @jtreanor, works great :+1:

[2015-09-22 23:54] ded commented on #96
Hi there,
I've been noticing activity on the repo given attention to other issues. This seems alright given the severity of them, and I understand priority needs to go to the most important issues.

When you get a chance would someone mind having a look at this issue and let me know if this is an Intercom issue, or if there is another known workaround to restoring the Intercom window as the keyWin

[2015-09-23 08:59] jtreanor commented on #86
No problem @kylejm :smile: Glad you like it!

Yeah, we're still getting to the bottom of #97.

[2015-09-23 15:30] tecknut commented on #97
@jtreanor if don't use the @import statement in your codebase you should set CLANG_ENABLE_MODULES. This resolves this issue, and should allow the use of DWARF with dSYM File.

[2015-09-23 15:34] jtreanor commented on #97
Thanks @tecknut, I'll try that.

[2015-09-23 16:12] hanssl opened #99 "v2.3.5 introduced 200+ compiler warnings"
After I upgraded from 2.3.4 to 2.3.5+ Xcode now reports 200+ compiler warnings from the Intercom pod.
![screen shot 2015-09-23 at 10 10 39 am](https://cloud.githubusercontent.com/assets/649957/10050839/8af58ee0-61db-11e5-8f2d-89e28d6ca7e6.png)

[2015-09-23 16:14] jtreanor commented on #99
Thanks @hanssl.

This is being tracked in #97. we are working on resolving it at the moment. There seems to be a bug in Xcode so we are working around it.

[2015-09-23 16:14] #99 closed

[2015-09-23 17:00] jtreanor commented on #97
This has been fixed in 2.3.8. Thanks everyone for your patience.

There is an issue in Xcode that we have worked around [here](https://github.com/CocoaPods/cocoapods-packager/issues/101).

[2015-09-23 17:00] #97 closed

[2015-09-23 17:18] allaire commented on #97
@jtreanor Yay great working hunting this down. Apple probably made DWARF in debug by default because it's much faster to build without it (https://labs.spotify.com/2013/11/04/shaving-off-time-from-the-ios-edit-build-test-cycle/)

[2015-09-24 13:59] jtreanor commented on #96
Hi @ded

It is not possible to directly restore the window after closing because it is destroyed immediately tom ensure it doesn't use unnecessary resources.

At the moment the closest you can do is call `[Intercom presentConversationList]` and let them re-enter the conversation they were in.

[2015-09-24 14:00] jtreanor commented on #94
@orta Did you have any luck getting this to work with CocoaPods Frameworks? Let me know if I can help out :smile:

[2015-09-24 15:23] jtreanor commented on #84
Let know if you still see this crash in 2.3.5 or later. We have updated AFNetworking so its possible that this could go away.

[2015-09-24 16:53] amburke commented on #72
Another report of this from a customer:
https://intercomrades.intercom.io/a/apps/tx2p130c/inbox/alex.burke@intercom.io/conversations/1173907826

[2015-09-24 17:47] gransell commented on #84
Thanks. Will monitor in our next release.

[2015-09-25 18:55] ded commented on #96
Alrighty. I've called `Intercom presentConversationList()` upon returning to the app, but no window is shown... (I can verify that the tap gesture is being received).

[2015-09-29 13:20] jtreanor commented on #96
That is very surprising @ded. Can you double check that you are calling it from the main thread?

[2015-09-29 18:15] ded commented on #96
@jtreanor Here's what I have. Not sure if it's an issue with Intercom, or I've just implemented my flow incorrectly.

Have a look. http://cl.ly/1z3O08122b01

[2015-09-29 18:41] jtreanor commented on #96
Thanks @ded. I will investigate this exact case tomorrow.

However, I believe this should work for you if you send the deep link to you app directly in the Intercom message (instead of redirecting through Safari)

[2015-09-29 19:22] ded commented on #96
That was my initial preference, but the protocol does not linkify in the chat conversation. Only `http(s)://` would work. If I can type in `ltl://product/123` and make it be linkable in the chat message, that would be awesome

[2015-09-29 21:27] jtreanor commented on #96
Your `ltl://` aren't linkified automatically but you can link to it in the Intercom composer. For example if your message is: `Tap here to see more`, you can highlight `here` and add a link to it.

[2015-09-30 00:19] ded commented on #96
perfect. that works just right!

[2015-09-30 00:19] #96 closed

[2015-09-30 10:32] martinmasse opened #100 "Localization"
Hello,

Can you please use a string bundle for the text displayed in the messenger so we can localize it to another language?

Thanks

[2015-09-30 11:50] adamkmccarthy commented on #95
Thanks @mjbeauregard - we're doing some research into these kinds of options at the moment. Although it isn't flexible right now, we're looking at options here for future releases for sure. Thanks!

[2015-09-30 11:50] #95 closed

[2015-10-05 16:51] kirpichenko opened #101 "Universal links handling"
Hey. We are going to include some universal links in the messages. But currently if user taps the link Safari is opened. Is it possible to somehow to handle the tapped link inside the app?
Thanks

[2015-10-06 15:51] adamkmccarthy commented on #101
Hi @kirpichenko, thanks for bringing this up. We don't have any configurable way to do this now but we'll add support for universal links so that you'll be able handle them as you wish.

[2015-10-07 15:01] kirpichenko commented on #101
Thanks for you response. Do you have any rough estimations for this?

[2015-10-07 15:08] adamkmccarthy commented on #101
@kirpichenko I do not i'm afraid.

[2015-10-08 15:34] jtreanor commented on #72
Although this is proving to be very difficult to track down, we have made some changes in 2.3.11 that I am hopeful may mitigate this issue.

[2015-10-09 06:56] gransell commented on #72
Thanks @jtreanor. We will give it a try and report back.

[2015-10-14 08:15] lchenay commented on #101
Universal links works with intercom-ios for many urls. For exemple
https://twitter.com/intercom?lang=fr
https://itunes.apple.com/fr/app/intercom-for-ios/id739927601?mt=8
...

Clicking on those link on ios9 inside an intercom message works well and open app if user have it allready installed, or open safari as fallback.

But it doesn't works for testflight url: https://beta.itunes.apple.com/v1/app/

[2015-10-14 08:17] adamkmccarthy commented on #101
@lchenay I haven't tried a universal TestFlight link, is it possible that Apple haven't deployed the correct `apple-app-site-association` entitlement to support `https://beta.itunes.apple.com`? The SDK has no special handling in place for this yet so there's no special behaviour happening for these urls.

[2015-10-14 08:24] lchenay commented on #101
itunes.apple.com and beta.itunes.apple.com haven't an apple-app-site-association available.
But even without it, those link works from mail, messages, Intercom native app, website... (without any Safari redirection trick as we could see in ios8)

Except for intercom-ios. Click on those link inside an message displayed by intercom-ios does nothing. Even Safari don't open.

[2015-10-14 08:25] adamkmccarthy commented on #101
Interesting, ill take a look :+1:

[2015-10-14 09:05] adamkmccarthy commented on #101
@lchenay do you have a specific message in Intercom I might be able to look at to see if I can reproduce this issue? I've just tested a message on iOS 8 & 9 with iTunes, TestFlight, Twitter and our own Intercom links and they're all working as expected :(

[2015-10-14 09:10] lchenay commented on #101
Yes, i just send me a new test. Message n°13569093 on app iq71xvb7

[2015-10-14 09:10] adamkmccarthy commented on #101
Perfect, thanks.

[2015-10-15 11:08] kobelb opened #102 "supportedInterfaceOrientations statusBar"
If I modify the Sample app's ITCViewController.h to have the following method

[code]

and then click "Open Intercom" and rotate the phone to the left so that it appears landscape like below:

![simulator screen shot oct 15 2015 7 07 21 am](https://cloud.githubusercontent.com/assets/627123/10512026/6c441f3e-730b-11e5-9719-635147111891.png)

and then I close the Intercom window, the status bar beco

[2015-10-17 13:45] Linushellberg opened #103 "Deeplinks in latest sdk"
Hi,
Deeplinks in messages is not working with the latest sdk.
It worked with version 2.3.0 for us.

Only http hyperlinks seem to work now in the messenger.
If we use our app url scheme nothing will happen when clicking the link.

[2015-10-17 15:58] adamkmccarthy commented on #103
Thanks @Linushellberg, I think this is related to https://github.com/intercom/intercom-ios/issues/101. Is 2.3.0 working for you in iOS 9?

[2015-10-17 17:07] Linushellberg commented on #103
Hi,
You are right. This is a iOS 9 only bug. Works great on < iOS 9
Might be related to #101 but universal links is something different.
This is links with our url scheme like ridestore://product/1

[2015-10-17 17:19] Linushellberg commented on #103
Found the issue.
They changed canOpenURL in iOS9 so you have to allow what url schemes the app is allowed to query.
So just added the url scheme to LSApplicationQueriesSchemes in info.plist

So not a issue in the SDK, Sorry for wasting your time!

[2015-10-18 08:27] fjaeger commented on #51
I would also love to see this happen!

[2015-10-19 08:17] adamkmccarthy commented on #103
Thanks @Linushellberg, that one completely passed me by! I've done some quick testing with our own app here and i've been able to see both sides of that problem with `LSApplicationQueriesSchemes`. Thanks for letting us know.

[2015-10-19 08:17] #103 closed

[2015-10-19 08:19] adamkmccarthy commented on #101
@lchenay is it possible that this is related to the `LSApplicationQueriesSchemes` scheme changes introduced in iOS 9? I've been able to reproduce some of what you're seeing in iOS 9 via the observations in https://github.com/intercom/intercom-ios/issues/103. I've also looked at the TestFlight app's plist and those keys aren't included, which might support why those links aren't opening as they use

[2015-10-22 12:26] macdevnet opened #104 "Swift 2.1 Xcode 7.1"
I am trying to use the SDK in a Swift 2.1 App (in Xcode 7.1) but I am experiencing linker issues.
Are there known issues with Swift 2.1 / Xcode 7.1

[2015-10-22 12:43] adamkmccarthy commented on #104
Hi Scotty, thanks for letting us know. I haven't seen any issues with the swift side of things but I haven't had the chance to press it properly with 7.1, I'll take a look and see what's up.

[2015-10-22 12:52] adamkmccarthy commented on #104
@macdevnet out of interest, did you manually integrate by dragging the framework into your project? Xcode 7 has a bug in it that no longer sets framework search paths and things like that so it might also affect the module map's ability to find the right libraries. Could you check those framework search paths and see if you have anything set? Thanks!

[2015-10-22 13:36] macdevnet commented on #104
Framework paths were fine ... I took a look at the podspec and saw the app also needed libicucore and libxml2 ... after adding them to the project it seems to work ... might be worth updating the readme on that one.

[2015-10-25 08:26] tals opened #105 "New messages don't show up in the thread view"
This was tested using the Sample app from this repo.

Essentially while the user has the chat thread open, incoming messages do not show up.
As soon as you leave that screen (by pressing back to reach the conversation view or press "X" to go back to the app), the new message suddenly appears.

Here's a video illustrating the problem: https://www.dropbox.com/s/v0okq5dq7mr7x2o/intercom.mov?dl=0
I've

[2015-10-25 10:16] adamkmccarthy commented on #104
Perfect, thanks @macdevnet.

[2015-10-26 17:48] jtreanor commented on #104
This is probably an issue with 7.1, those libraries are should be linked automatically from the module map.
I'll look into this tomorrow.

[2015-10-27 09:50] #94 closed

[2015-10-27 09:58] orta commented on #94
Ah yeah, we reverted from frameworks due to their impact on lunch times - https://github.com/artsy/energy/pull/77

So never got around to debugging my issue.

[2015-10-27 10:15] jtreanor commented on #94
@orta :+1:

Feel free to reopen if you encounter this again.

[2015-10-29 11:18] jeanfw commented on #100
:+1:

[2015-10-29 11:20] Linushellberg commented on #100
+1

[2015-10-29 11:30] jeanfw opened #106 "SDK doesn't use localised welcome message in new conversation window"
I've set a localised welcome message for our French-speaking users in the Intercom Messenger settings. The text displays in the correct language on web browser messenger windows, but the intercom-ios still shows the default welcome message (in English) on devices with a French locale.

Settings:
![screen shot 2015-10-29 at 12 11 10](https://cloud.githubusercontent.com/assets/2714769/10817161/678d8

[2015-10-29 12:30] jeanfw opened #107 "Send device language to Intercom user profile"
Similar to what the JS SDK does by detecting the browser language, we'd need the iOS SDK to set a language property on the user automatically, based on the phone's NSLocale preferredLanguages.

Is it possible to add that please?

It's quite important for us to be able message users in their language whenever possible. Thanks

[2015-10-29 14:21] dan-intercom commented on #100
Hey @martinmasse, thanks for the request. We want to add localisation support for the SDKs soon. We understand how important this is and the value this brings to your users. Stay tuned!

Thanks!
Dan / PM, Mobile SDKs

[2015-10-29 15:18] martinmasse commented on #100
Merci!

[2015-10-29 18:11] jeanfw commented on #100
@dan-intercom great to hear it's coming soon, can you share any rough ETA ? thanks !

[2015-10-29 19:46] ded opened #108 "Layout advice"
Hi there,
I could use some guidance in tweaking the layout of the `UIWindow` of the messenger. By default, calling `Intercom.presentConversationList()` opens a full modal window... and I was wondering if it's possible to set the frame to to be within a navigation bar, and a bottom tab bar. Thus about 40 points from the top and bottom.

[2015-10-30 10:19] jtreanor commented on #108
Hi @ded,

Unfortunately this is not customisable right now. We will keep your feedback in mind though.

[2015-10-30 10:19] #108 closed

[2015-10-30 16:50] jtreanor commented on #105
This is not an issue with Intercom for iOS.

This can happen if your Intercom plan does not include real time message delivery.

[2015-10-30 16:50] #105 closed

[2015-10-30 19:26] tals opened #109 "show last active thread (more control over presentMessageComposer?)"
As it stands right now, it's non trivial for the user to send more than one message in a thread.
There is no API for displaying the last thread/specific thread, and both presentMessageComposer and presentConversationList have drawbacks:

In our use case, we want to have a single "Leave us feedback" button, but the behaviors we can implement with the current APIs are far from ideal.

#### presentMe

[2015-11-10 07:24] newyorkpizza opened #110 "Crash in -[ICMMetric incrementMetric:]"
I just started seeing some crashes come in with this stack track for iOS 9.2.0. My app uses Intercom v2.3.3.

Has anyone else seen this problem? (Note that the problem occurs in an iOS 9.2 beta release, so it might be an Apple issue.)

	Fatal Exception: NSInvalidArgumentException
	-[__NSDictionary0 setObject:forKeyedSubscript:]: unrecognized selector sent to instance 0x13f50d2a0

	Thread : Fatal E

[2015-11-10 09:59] jtreanor commented on #110
Hi @newyorkpizza.

This issue was fixed in 2.3.9 of Intercom for iOS. If you update to the latest version it should work fine.

[2015-11-10 09:59] #110 closed

[2015-11-10 18:41] jtreanor commented on #88
This seems not to be an issue anymore. Let me know if you see this again.

[2015-11-10 18:41] #88 closed

[2015-11-10 22:44] dstudeba commented on #57
Just for future reference I had a similar problem and noticed that there was an extra "Intercom" folder in the Pods/Headers/Public area.  I copied the Intercom.h file from the Public/Intercom/Intercom folder to the Public/Intercom folder and it worked.

[2015-11-12 09:39] idcuesta opened #111 "Memory leaks after calling logout"
Hi there,

When I profile my app, I can see some memory leaks caused by Intercom SDK.

<h2>Steps to reproduce it</h2>
- I log into my app, so Intercom SDK is initialised with a new user
- I do some stuff within the app, so some Intercom events and user updates are triggered
- I logout in the app, so Intercom logout method is called
- After few secs the memory leaks appear

I am currently on versio

[2015-11-12 11:24] jtreanor commented on #111
Hi @idcuesta :smile:

Thanks for reporting this and giving all this detail.

I will investigate this and keep you updated here.

[2015-11-13 16:58] jtreanor commented on #111
This has been fixed in 2.3.12.

[2015-11-13 16:58] #111 closed

[2015-11-13 16:58] jtreanor commented on #72
This has been fixed in 2.3.12.

[2015-11-13 16:58] #72 closed

[2015-11-13 16:59] jtreanor commented on #84
I haven't seen any reports of this in recent versions so I am closing. If you see it again (in 2.3.12+), we can reopen :smile:

[2015-11-13 16:59] #84 closed

[2015-11-13 17:09] idcuesta commented on #111
Thanks @jtreanor :+1:

[2015-11-13 17:53] jtreanor commented on #111
No problem 😄 Thanks for reporting!

[2015-11-13 17:54] jtreanor commented on #104
I have added a note to the manual install steps in the readme to work around the Xcode bug.

Hopefully Apple will address the issue soon.

[2015-11-13 17:54] #104 closed

[2015-11-16 14:51] adriane0815 commented on #100
:+1:

[2015-11-16 14:52] mtet88 commented on #100
:+1:

[2015-11-17 01:05] shoby commented on #100
:+1:

[2015-11-18 18:05] jtreanor commented on #102
This has been fixed in 2.3.13. Intercom now respects `supportedInterfaceOrientations` of your app's root view controller.

[2015-11-18 18:05] #102 closed

[2015-11-20 11:53] jtreanor commented on #101
2.3.15 has just been released.

Other apps' universal URLs will open correctly now. If you have universal URLs in your own app unfortunately these will still open in Safari. [Apple's docs](https://developer.apple.com/library/prerelease/ios/documentation/General/Conceptual/AppSearch/UniversalLinks.html) state:

The issue was in part due to the changes in `-[UIApplication canOpenURL:]` in iOS 9. The

[2015-11-20 11:53] #101 closed

[2015-11-20 12:16] jtreanor commented on #109
Hi @tals,

Thanks for the suggestion. This is a good idea and we will definitely consider it for a future release :smile:

[2015-11-20 12:16] #109 closed

[2015-11-20 12:17] jtreanor commented on #106
Hi @jeanfw,

Thanks for opening this issue. We will address this as part of #100 so we can track them together.

[2015-11-20 12:17] #106 closed

[2015-11-20 12:17] jtreanor commented on #107
Hi again @jeanfw

We will also tackle this as part of #100

[2015-11-20 12:17] #107 closed

[2015-11-20 19:12] tals commented on #109
Is there a way around this issue? It makes it very hard for us to leverage Intercom from iOS.

[2015-11-24 00:24] tals opened #112 "open source the sdk"
Hey,

Are there any plans to open source the iOS SDK?
There are a lot of refinements we'd like to add (#109 for example), but we are sadly locked out of implementing them due to the SDK being closed-source.

We could achieve some of what we want with method swizzling, but would obviously prefer to work with the source :)

[2015-11-24 11:47] jnic commented on #112
Intercom indicated [in this Tweet](https://twitter.com/intercom/status/661187025685643264) that they were keen, and I note that the Go, Ruby, Java, PHP and JS bindings are all already open-source.

Is there any timeline on open-sourcing the iOS SDK? It would be hugely appreciated, and would let developers extend functionality relevant to us without having to write a client from scratch (or worse,

[2015-11-24 23:10] roland9 commented on #112
+1

[2015-11-26 17:46] jtreanor commented on #112
Thanks @tals @jnic @roland9 for bringing this up.

As @jnic pointed out, this is certainly something we are keen to do in the future. There are a number of things blocking us from open sourcing straight away so it won't be in the very near term but we are definitely exploring it.

Specifically regarding #109, its something that I hope we can address in the shorter term.

Sorry I don't have any mor

[2015-11-26 17:46] #112 closed

[2015-11-30 22:32] laurrentt commented on #100
:+1:

[2015-11-30 22:32] antoinebis commented on #100
Any updates on this? Thanks!

[2015-12-01 16:14] mberube09 commented on #100
Would it be possible to make it so we can specify the locale to use? (not the default one from iOS)

[2015-12-01 16:45] jtreanor commented on #100
@antoinebis No updates currently.

@mberube09 This is certainly something we will take into account when implementing the feature. For example: You might not want Intercom to appear in French if you have no French speakers in your company.

[2015-12-15 06:03] newyorkpizza opened #113 "Crash in v2.3.12"
Hi, we encountered this crash in the Intercom SDK, v2.3.12.  Is this a repro of https://github.com/square/SocketRocket/issues/156?

	EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x0000000013e686d8
	Thread : Crashed: io.intercom.PodIntercom_SRWebSocket.NetworkThread
	0  libobjc.A.dylib                0x198508644 objc_initWeak + 156
	1  newyorkpizza                   0x1003ff6e8 -[PodIntercom_SRWebSocket str

[2015-12-15 09:42] jtreanor commented on #113
Hi @newyorkpizza,

Yes this is a reproduction of the issue you have linked. This is fixed in 2.3.13 and later.

[2015-12-15 09:42] #113 closed

[2015-12-16 19:25] newyorkpizza commented on #113
Cool, thanks!

[2015-12-21 07:56] kermankohli opened #114 "presentMessageComposer shows conversations view?"
Hey,

When I call Intercom.presentMessageComposer() I get the "View conversations" view instead of the message composer. The SDK is connected properly as it reports the last seen on the website correctly. Any ideas?

Cheers,
Kerman

[2015-12-21 09:38] jtreanor commented on #114
Hi @kermankohli,

Currently, only the Support product allows inbound messaging. This happens if your app doesn't include it. Let me know if I can help in any way.

[2015-12-21 09:38] #114 closed

[2015-12-21 09:42] kermankohli commented on #114
Hey James, didn't quite get you? I've got Support+Learn+Feeback Pro...

[2015-12-21 10:00] jtreanor commented on #114
In that case you should be able to open the composer.

Would you mind contacting us through Intercom so that we can get this resolved for you?

James

[2015-12-21 12:57] talkain opened #115 "Export current Intercom's version"
Hey,

We are using Intercom using the Intercom's [React Native](https://facebook.github.io/react-native/) wrapper called [react-native-intercom](https://www.npmjs.com/package/react-native-intercom).

The problem is that this project was built based on Intercom prior to v2.1 (which changed the way Intercom enables push notifications). In order to support both versions it would be nice to have the c

[2015-12-21 13:02] jtreanor commented on #115
Hi @talkain

Although react-native-intercom is not made officially by us at Intercom, it should still work correctly with recent versions.

I'm not entirely clear on what you are asking. The most recent version should work with the React Native wrapper.

[2015-12-21 13:09] jtreanor commented on #115
Oh, I see the issue in https://github.com/asamiller/react-native-intercom/issues/5. Version 2.3.4 or earlier should work with the wrapper because 2.3.5 removed the deprecated method.

I would be happy to help you in updating the React Native wrapper. It is based on our official Cordova plugin which replaced this functionality by adding `AppDelegate+IntercomPush.h/m` here: https://github.com/interc

[2015-12-21 13:44] talkain commented on #115
Hi @jtreanor
Thank you for the quick reply :-)

I would like to enable the use of both the old version and the new version (registerForRemoteNotifications and setDevice). Exporting the current version (defines/constants) will help differentiate between them.

I created [a patch](https://github.com/talkain/react-native-intercom/commit/2df8b9a4c29e78e51198a8bfeceab7a5c1f699dc) that removes the call

[2015-12-21 14:54] jtreanor commented on #115
One way you could do this check is as follows:

[code]

Although I would suggest not supporting older versions since `registerForRemoteNotifications` had some issues as described in #88.

[2015-12-21 17:26] talkain commented on #115
@jtreanor I would take your advice.. let's see if the owner wants to keep this backward compatibility or not, and if so, I will use the selector-way.

Thank you :)

[2015-12-21 17:26] #115 closed

[2015-12-21 17:28] jtreanor commented on #115
No problem @talkain :smile:

[2016-01-02 15:01] sjalgeo commented on #51
+1 @idcuesta

[2016-01-02 15:04] careybaird commented on #51
+1 on this one @idcuesta

[2016-01-03 18:10] jtreanor commented on #51
Hi @careybaird and @sjalgeo,

This is still not something we we be supporting in the foreseeable future. However, depending on your requirements, you may be able to use our JS integration in a desktop app. Our REST API may also do what you need.

[2016-01-24 12:51] mderazon opened #117 "Links in in-apps don't work on press, only when long pressing them"
Tested on iPhone 5s, iOS 9.2 and Intercom 2.3.18

When sending an in-app message with links, the links are not clickable. Only when long pressing the links it works.

Can you please confirm this ?
I can send you a link to the message I used to test it, just not comfortable sending it here in the open.

Please let me know of a direct way to contact you regarding this.

Thanks,
M

![output](https://

[2016-01-26 10:49] jtreanor commented on #117
Hi @mderazon,

Thanks for reporting this. I am investigating this now.

You can always contact us directly through the messenger on [intercom.io](https://intercom.io) or by emailing team@intercom.io

[2016-01-26 10:55] jtreanor commented on #117
I haven't been able to reproduce this locally so far. It good be great if you could write in directly with details on your setup.

[2016-01-26 11:54] mderazon commented on #117
@jtreanor sent your support team the link to the in app message

[2016-01-26 11:56] jtreanor commented on #117
Thanks @mderazon,

I'll follow up there.

[2016-01-26 14:15] mderazon commented on #117
@jtreanor Some of our customers have complained that the links are not clickable, and I also saw it immediately. But after couple of tries, I see that the link opens 20% of the times, depending on the way I click on the screen.

It seems that the tap region is very small

On simulator is never recognizes the tap. on a real device, it's something like 80% miss rate. I guess you have to know how to

[2016-01-26 15:48] jtreanor commented on #117
@mderazon Thanks for the detail. This is very interesting. The link is just an `NSAttributedString` with `NSLinkAttributeName` in a `UITextView` so there is nothing custom about it.

I will dig some more to see what I can find.

[2016-01-26 22:13] jtreanor commented on #117
Quick update: I have reproduce the issue and I'm working on tracking down the cause.

[2016-01-27 17:47] jtreanor commented on #117
@mderazon So the issue here is actually with iOS itself.
`UITextView` requires a minimum tap duration in order for links to open.

[2016-01-27 17:59] mderazon commented on #117
@jtreanor has this always been the case ? Can you point somewhere that documents this? an open issue somewhere?

[2016-01-27 18:25] jtreanor commented on #117
@mderazon Yes, it has been the case since at least iOS 7. I haven't found a radar for it but these links all refer to the delay:
- https://stackoverflow.com/questions/22379595/uitextview-link-tap-recognition-is-delayed
- https://www.hackingwithswift.com/example-code/system/how-to-make-tappable-links-in-nsattributedstring
- https://gist.github.com/benjaminbojko/c92ac19fe4db3302bd28

[2016-01-28 11:55] jtreanor commented on #117
@mderazon I have added a workaround for this issue in [2.3.19](https://github.com/intercom/intercom-ios/releases/tag/2.3.19) which is now released on CocoaPods. Thanks for reporting it :smile:

[2016-01-28 11:55] #117 closed

[2016-01-28 12:37] mderazon commented on #117
Just tested it and it looks like it solved.
Thanks :+1:

[2016-01-29 10:52] nazeehshoura opened #118 "Crash when using 3d touch on image picker."
Log:
Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '+[NSObject previewingContext:viewControllerForLocation:]: unrecognized selector sent to class 0x19f518020'
libc++abi.dylib: terminating with uncaught exception of type NSException

[2016-01-29 11:08] jtreanor commented on #118
Hi @nazeehshoura,

Thanks for reporting this.
Unfortunately, this is an iOS issue. There is a radar for it here: http://www.openradar.me/22981190

[2016-01-29 11:08] #118 closed

[2016-02-04 08:25] rockerhieu commented on #100
:+1:

[2016-02-10 19:46] billinghamj opened #119 "Open Source"
You guys have made it clear that you want to open source this SDK - https://github.com/intercom/intercom-ios/issues/112#issuecomment-159967839

Could you please leave this issue open until you have done so? The issue is not resolved yet, so should not be closed.

[2016-02-12 10:40] jtreanor commented on #119
Hi @billinghamj,

As you rightly point out, we have previously stated our desire to pursue this. However, due to a number of factors, we have not made any commitment to provide the source to date.

We see this as a feature request rather than an issue with the current release. For that reason I am closing this issue. If you have any more questions I would be happy to answer them, either here or at

[2016-02-12 10:40] #119 closed

[2016-02-15 00:37] frobichaud opened #120 "Running UI tests with intercom SDK causes infinite loop"
Hi,
when running UI test with the Intercom lib, our CI server consumes 100% CPU and quickly jumps to 4GB of RAM usage. This only occurs if the intercom library is linked. It resolves when we remove it.
Our project is a built against XCode 7.2.1 and the library is imported through the Podfile.

[2016-02-15 02:46] aacorn opened #121 "Validation Failing"
Hi Guys,

Loving Intercom but hit a wall with our iOS integration, hoping someone can please help?
Able to successfully set-up with Push Notification and works a treat with our adhoc testing using a production certificate to test Apple Push Notifications, however now that we want to submit to the store using Xcodes Validation we get a very odd mix of issues.

1. If we have 'include app symbols' op

[2016-02-15 10:34] jtreanor commented on #120
Hi @frobichaud,

Thanks for reporting this. Are you able to reproduce this locally (outside of CI). If so, could you use the Time Profile instrument to see if you can spot the culprit? Its possible that the issue isn't with Intercom directly, but with how Intercom and one of your dependencies interact.

What version of Intercom are you using?

[2016-02-15 10:50] jtreanor commented on #121
Hi @aacorn,

Thanks for the detailed report. Each scenario you describe should work fine with Intercom. Intercom has had Bitcode support since 2.3.8.

We have found submitting/validating apps through Xcode to be very unreliable recently (both with and without Intercom). I would suggest using the Application Loader to upload your ipa instead (some details are [here](https://itunesconnect.apple.com/

[2016-02-15 14:21] frobichaud commented on #120
Hi @jtreanor, yes we are able to reproduce on our desktop when running tests. We're using version 2.3.19. I'll try to get some profiler data.

[2016-02-15 20:35] aacorn commented on #121
Heya James,

Appreciate the feedback! I followed your advice and went the Application Loader route. It failed but gave some hopefully more useful clues as to why...

ERROR ITMS-90171: "Invalid Bundle Structure - The binary file 'aacorn.app/Intercom.bundle/Intercom.framework/Versions/A/Intercom' is not permitted. Your app can’t contain standalone executables or libraries, other than the CFBundleExe

[2016-02-16 01:26] hatunike commented on #100
Would love an update on this - time frame?

[2016-02-16 02:17] ded opened #122 "disallow registration of Apple's Test Flight users"
Hi there,
Is there a way to prevent Apple from registering users into my app? Every time I submit a new build to TestFlight (for beta app preview), a fake user is created on their behalf, and thus — over time, clogs up our user list...

You can see here in the Intercom app demonstrating this in action (I purposefully blurred out the names of real people)

![image](https://cloud.githubusercontent.c

[2016-02-16 02:26] aacorn commented on #121
Aha! The sites intructions directed to copy the intercom framework into the project dir and to do the same with intercom.bundle. However the bundle also contained the framework and xcode doesn't like having the framework in the app bundle. Anyway deleted the dupe framework and all seems to be right with the world. Thanks again for your help!

[2016-02-16 02:26] #121 closed

[2016-02-16 09:24] matijakregar commented on #119
Would you at least consider exposing more features in the SDK? Maybe enough that would allow developers to implement custom UI. Or at least have a bit more customisation options ... like background color, font, textcolor etc..

[2016-02-19 16:39] jtreanor commented on #120
Hi @frobichaud,

Any update on this? Feel free to email team@intercom.io and ask for James if you'd like me to help you dig into it.

[2016-02-19 16:40] jtreanor commented on #122
Hi @ded,

Unfortunately there is no way to identify which users are Apple reviewing your app. Of course you could delete these users after the review has completed.

[2016-02-19 16:40] #122 closed

[2016-02-20 15:01] jeanfw commented on #100
Bump

[2016-03-02 15:13] frobichaud commented on #120
Hi @jtreanor,
I sent you some profiling details by email along our Podfile. Have you had the chance to try running UI tests with a sample project?

[2016-03-02 19:24] douglasd3 opened #123 "Crash when send message"
I'm getting the following crash when i press 'Send' after `Intercom.presentMessageComposer()` :

*** Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[__NSArrayM removeObjectAtIndex:]: index 1 beyond bounds for empty array'

I'm using Swift 2.1 and Xcode 7.2.1

[2016-03-04 11:14] kobelb opened #124 "-[PodIntercom_SRWebSocket .cxx_destruct] Crash"
I've received a few crash reports with the following stack trace:

Thread : Crashed: com.apple.main-thread
0  libobjc.A.dylib                0x1830fdbd0 objc_msgSend + 16
1  Security                       0x183e8eee4 SecCertificateDestroy + 112
2  CoreFoundation                 0x18395d664 CFRelease + 256
3  CoreFoundation                 0x1839fa3ec __CFArrayReleaseValues + 392
4  CoreFoundation

[2016-03-04 11:55] ronocod commented on #123
Hi @douglasd3,

Do you have a stack trace for this error? If you could also post the SDK version you're using that would be a big help :)

[2016-03-04 11:58] ronocod commented on #124
Hi @kobelb,

Do you have the exact error message from the crash reports? If you know when this crash is happening in your app it would help us track down the cause too.

[2016-03-04 12:06] douglasd3 commented on #123
Hi! i just figured it out. It was conflicting with another pod (UICollectionView+ARDynamicHeightLayoutCell), removing it from my project fixed the problem. I don't really know why, didn't have the time to investigate.

[2016-03-04 12:11] ronocod commented on #123
Hmm, it seems that pod is swizzling a lot of methods on `UICollectionView` which could cause problems: https://github.com/AugustRush/UICollectionView-ARDynamicHeightLayoutCell/blob/d2755047d5e33c5ebbc8c54a2a82074be64fa250/UICollectionView%2BARDynamicHeightLayoutCell/UICollectionView%2BARDynamicCacheHeightLayoutCell.m#L44-L55

The crash doesn't seem to be in our library so I'll close this now :+1:

[2016-03-04 12:11] #123 closed

[2016-03-04 12:20] kobelb commented on #124
Here's a link to the crash itself in fabric, is this helpful in any manner? http://crashes.to/s/dbed16db4a6

[2016-03-04 12:25] ronocod commented on #124
Yes, that's perfect thanks. I'll investigate this and let you know what I find out :)

[2016-03-04 12:32] kobelb commented on #124
Thank you, I really appreciate it.

[2016-03-07 11:58] jtreanor commented on #124
@kobelb Do you know in which version of Intercom for iOS this crash is occurring?

[2016-03-07 12:04] kobelb commented on #124
Intercom for iOS - Version 2.3.19

[2016-03-07 12:19] jtreanor commented on #124
Thanks @kobelb.

Are you able to reproduce the crash or is it just something you have seen in Crashlytics?

[2016-03-07 12:38] kobelb commented on #124
I haven't been able to reproduce it, and it started occurring after upgrading from 2.3.10

[2016-03-07 12:39] kobelb commented on #124
A few other things in our application changed as well, but nothing related to the way we do Intercom integration, and the changes were rather minor.

[2016-03-07 13:29] jtreanor commented on #124
Thanks @kobelb, we will continue investigating this.

[2016-03-07 20:52] kobelb commented on #124
I don't want to expand the scope of this issue, but I also don't want to ignore that the following couple crashes might be related, or at least they might provide additional information:

http://crashes.to/s/459a9cc17ce
http://crashes.to/s/0ee478bde25

If you don't feel that these two crashes are related at all, or would prefer that I create new issues for them just let me know.

[2016-03-09 00:49] kdawgwilk commented on #100
:+1:

[2016-03-12 08:11] iCyberon opened #125 "- [PodIntercom__SRRunLoopThread main] Crash"
Recently I've received Intercom crashes in Fabric.

## Version info
  - Intercom for iOS version: 2.3.19
  - iOS version: 7.1.2

## Expected behavior
To not crash

## Actual behavior
Crashes

## Steps to reproduce
Have no idea.

## Logs
[code]

[2016-03-12 11:30] ronocod commented on #125
Hi @iCyberon,

Thanks for reporting this, could you give us a link to the crashes like in [this comment](https://github.com/intercom/intercom-ios/issues/124#issuecomment-193444290)?

This looks like it's related to SocketRocket, and possibly https://github.com/intercom/intercom-ios/issues/124 too. We're looking into fixing these issues, and we'll add an update here whenever we find something out.

[2016-03-14 12:22] douglasd3 commented on #88
Hi, i having the same issue when upload the app to TestFlight. I've double checked the AppID and the certificates. Any ideia of what could be causing the problem?
PS.: The Push works fine despise the message.

[2016-03-14 12:50] jtreanor commented on #88
Hi @douglasd3,

Would you mind opening a new issue for your case so that we can help investigate it?

[2016-03-14 12:56] douglasd3 opened #126 "Missing Push Notification Entitlement"
Hi, i'm having the following issue when upload the app to TestFlight:

I've double checked the AppID and the certificates. Any ideia of what could be causing the problem?
PS.: The Push works fine despise the message.

I'm using Intercom for iOS version 2.3.19

[2016-03-14 12:57] douglasd3 commented on #88
Done. Thank you.

[2016-03-14 14:15] jtreanor commented on #126
Thanks @douglasd3,

Have you included the `aps-environment` entitlement in your app? I don't believe this issue is Intercom related.

[2016-03-14 21:19] frobichaud commented on #120
hi @jtreanor, to work around this issue, we've removed the intercom dependency from the UI Tests target:
[code]

[code]

You can close if you want, although there seems to be an underlying issue...

[2016-03-15 09:45] jtreanor commented on #120
Thanks @frobichaud,

I still have not been able to reproduce this in any project so I will close this for the time being.

[2016-03-15 09:45] #120 closed

[2016-03-16 16:32] mhemmings opened #127 "Crash in io.intercom.PodIntercom_SRWebSocket.NetworkThread"
Crash reported on iOS 9.2.1 - iPhone 6 Plus
Intercom 2.3.19

See report here: http://crashes.to/s/82a8aebe478

[code]

[2016-03-16 17:09] ronocod commented on #127
Hi @mhemmings,

Thanks for reporting this, it looks like an issue with SocketRocket, possibly related to #124 and #125 . We're looking into fixing these, and we'll let you know here whenever we have an update.

[2016-03-30 12:00] sravanzeal commented on #88
Hi Intercom Team i implemented Intercom in my application in-app messages are working fine but dam not getting push notification Could you please tell me

[2016-03-30 14:06] jtreanor commented on #88
@sravanzeal Could you send a mail to team@intercom.io so we can help with your specific case?

[2016-04-08 07:18] ShaunakP opened #128 "Closing Intercom conversation screen programatically?"
Is there a way to check if Intercom screen is active and exit from it? I have a requirement in which it should be closed automatically upon a certain event in the app if that screen is open

[2016-04-08 09:24] ronocod commented on #128
There is no way to do this currently but we have added it in an upcoming version. I'll update this issue when that version is released :)

[2016-04-08 09:25] ShaunakP commented on #128
That is awesome! Thanks a lot..

[2016-04-08 09:30] ShaunakP commented on #128
Can you please confirm that the upcoming release would have a way to 1)check whether intercom is open or not AND 2) Notify when Intercom screen is opened or closed.

[2016-04-08 09:57] ronocod commented on #128
There is currently a way to [receive notifications when the Intercom UI is opened or closed](https://github.com/intercom/ios-sdk/blob/master/IntercomSDK/Classes/Intercom.h#L333-L352), but this does apply to the chat head notification as well as the messenger window.

We do not have a way to check if the messenger is open or not, but we'll note it as a feature request for the future.

[2016-04-08 10:00] #128 closed

[2016-04-13 21:51] iceman201 opened #129 "is there any swift document available?"
## Version info
  - Intercom for iOS version: 9.3
  - iOS version: Swift 2.0

## Expected behavior
I wish could get a swift documents?

## Actual behavior
only obj-c documents

## Steps to reproduce
 1.
 2.
 3.

## Logs

[2016-04-14 09:00] DaleCantwell commented on #129
Hi @iceman201 Thanks for contacting us. We don't currently have any swift documentation available. It is on our task list and we hope to add it in one of our upcoming releases.
Even though we currently don't have a set of documentation for Swift our iOS integration is fully compatible with Swift. Please contact us if you run into any specific issues while trying to integrate with your app.

[2016-04-14 09:00] #129 closed

[2016-04-14 09:07] DaleCantwell commented on #126
Hi @douglasd3,
I'm going to close out this issue for now as it seems it is not an issue with our iOS integration. Let us know if you are still encountering this issue and we can investigate it again.

[2016-04-14 09:07] #126 closed

[2016-04-14 09:13] DaleCantwell commented on #127
Going to close this one as a duplicate of #124
Thanks for providing us with a crash log.

[2016-04-14 09:13] #127 closed

[2016-04-14 09:14] DaleCantwell commented on #124
Crash report by @mhemmings in #127
Crash reported on iOS 9.2.1 - iPhone 6 Plus
Intercom 2.3.19

See report here: http://crashes.to/s/82a8aebe478

Thread : Crashed: io.intercom.PodIntercom_SRWebSocket.NetworkThread
0  libobjc.A.dylib                0x1826117c8 weak_register_no_lock + 56
1  libobjc.A.dylib                0x182618688 objc_initWeak + 224
2  FitGurus                       0x1002a737c -

[2016-04-14 09:16] DaleCantwell commented on #125
Going to close this one as a duplicate of #124
Thanks again for letting us know about the issue, I will copy your crash log over to that issue.

[2016-04-14 09:16] #125 closed

[2016-04-14 09:17] DaleCantwell commented on #124
Crash log from @iCyberon in #125
Thread : Crashed: Thread
0  libsystem_platform.dylib       0x39bc7a32 spin_lock$VARIANT$up + 1
1  CoreFoundation                 0x2ed836d7 CFSocketEnableCallBacks + 54
2  CFNetwork                      0x2e9e2311 SocketStream::securityBufferedRead_NoLock() + 212
3  CFNetwork                      0x2e9e220d SocketStream::socketCallbackReadLocked(SocketStreamSignalH

[2016-04-14 14:55] philipengberg opened #130 "Restricted access to photos does not allow to quit"
## Version info
  - Intercom for iOS version: `2.3.19`
  - iOS version: `9.3.1`

## Expected behavior
Tapping the cancel button ("Annuller") would close the window

![img_0484](https://cloud.githubusercontent.com/assets/1840093/14532464/7c7ae96a-0261-11e6-8b15-947279b4835c.jpg)

## Actual behavior
The window cannot be closed

## Steps to reproduce
 1. Restrict access to photos
 2. Present message

[2016-04-14 15:40] jtreanor commented on #130
Hi @philipengberg,

Thanks for sending this in. I have tried this out and I cannot immediately reproduce it locally. Does this happen only on certain iOS versions? Can you close the view controller if you allow access?

[2016-04-14 20:56] philipengberg commented on #130
Yes, it works just fine, when granted access.
Well, we have identified it on various versions of iOS 9 and consistently across different devices.

[2016-04-15 07:33] jtreanor commented on #130
Thanks @phillipsngberg,

Are you using the latest version of Intercom (2.3.19)?

[2016-04-15 10:08] philipengberg commented on #130
Yes :+1:

[2016-04-19 11:32] siberianisaev commented on #124
## Version info
  - Intercom for iOS version:
**2.3.19**
  - iOS version:
**8-9**

## Expected behavior

Fixed series of SocketRocket crashes
https://github.com/square/SocketRocket/issues/156#issuecomment-211863512
https://github.com/square/SocketRocket/pull/169

## Actual behavior
Analytics shows hight relevant crashes

## Logs

[code]

Crashes:

[code]
[code]
[code]

[2016-04-20 23:01] nico75005 commented on #128
Any ETA regarding the new version? Because I might say it's really annoying when the app is in background and the user gets a notification bringing him in a specific area of the app but Intercom is still on top as the user was using it before the app went in background...

[2016-04-21 03:02] foobar8675 opened #131 "registerUnidentifiedUser() does not dismiss dialog messages"
For feature requests please contact us at team@intercom.io

registerUnidentifiedUser() does not dismiss dialog messages

## Version info
  - pod 'Intercom', '~> 2.3.19'
  - ios 9.3

## Expected behavior

the bubble should dismiss

## Actual behavior

## Steps to reproduce
 1. send your signed in user a message over intercom saying hello
 2. via the api, call Intercom.registerUnidentifiedUser()
 3.

[2016-04-21 11:12] SebastianBO opened #132 "Carthage Support."
Carthage support please :)

[2016-04-21 16:20] jtreanor commented on #132
Hi @SebastianBO,

We would love to support Carthage 😄

Unfortunately, it is not possible to support iOS 7 and work with Carthage. In a future version, we will drop iOS 7 support and consequently support Carthage.

[2016-04-21 16:20] #132 closed

[2016-04-21 16:29] jtreanor commented on #131
Hi @foobar8675,

I don't quite understand the issue you are seeing here. Why would you expect `registerUnidentifiedUser` to hide UI?

[2016-04-21 18:58] foobar8675 commented on #131
Hi @jtreanor maybe I'm the one misunderstanding . to set some context, we're using intercom to message our users. here are some steps to outline what we are doing

1. matt logs into the app
2. app registers user via intercom
3. user shows on intercom.com
![screen1](https://cloud.githubusercontent.com/assets/1685700/14720676/7f96a8cc-07b7-11e6-8dd6-32e782e66410.png)

4. employee clicks on matt and

[2016-04-22 08:36] skylerwshaw commented on #131
Hey @foobar8675, per our [documentation here on the repo](https://github.com/intercom/intercom-ios#my-app-has-logged-in-and-logged-out-users) and here in our [Intercom documentation](https://docs.intercom.io/install-on-your-product-or-site/install-intercom-on-your-ios-app#my-app-has-both-logged-in-and-logged-out-users), the correct method to log a user out of Intercom is `[Intercom reset];`:
![ima

[2016-04-22 08:36] #131 closed

[2016-04-22 15:41] foobar8675 commented on #131
got it. thank you @skylerwshaw

[2016-04-25 08:04] thomassnielsen opened #133 "Image picker opens camera roll, doesn't allow picking from album"
## Version info
  - Intercom for iOS version: 2.3.19
  - iOS version: 9.3.1

## Expected behavior

I should be able to pick any image from my device

## Actual behavior

I can only pick images from my camera roll

## Steps to reproduce
 1. Open a new Intercom conversation
 2. Tap the photo icon
 3. Image picker opens, locked to camera roll

## Steps to fix
Use `UIImagePickerControllerSourceTypePho

[2016-04-28 17:52] kapluni commented on #62
this would  be great. a very useful feature in the web version, it would also help a great deal on mobile

[2016-05-09 19:29] apelican opened #135 "Custom App URIs Hangs and Crashes on iOS 9.3.1"
## Version info
  - Intercom for iOS version: 2.3.19
  - iOS version: 9.3.1

## Hardware info

This was reported by our client and reproduced on an iPhone 6S.

## Expected behavior

Providing a custom app URI in the push notification manual message will open the app, and our _openURL implementation will handle the custom URI according to business logic.

## Actual behavior

Providing a custom app

[2016-05-10 08:21] jtreanor commented on #135
Hi @apelican,

Thanks for reporting this. Can you tell me more about how you have implemented app linking in your app? i.e. What methods have you implemented for it in you app delegate?

This crash appears to be in `-[UIApplication openURL:]`, within iOS. Despite being an OS level crash, it should be possible for us to work around this.

[2016-05-10 14:46] jtreanor commented on #135
Just one more clarifying question for you @apelican.

Have you implemented [`application:openURL:options:`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIApplicationDelegate_Protocol/#//apple_ref/occ/intfm/UIApplicationDelegate/application:openURL:options:) in your app delegate or one of the deprecated methods such as `application:openURL:sourceApplication:nil annotation:

[2016-05-10 16:11] apelican commented on #135
Our app began with iOS 7 support, so we've been historically implementing application:openURL:sourceApplication:nil annotation: or application:handleOpenURL:

If we have a path forward on iOS8, happy to shift implementation to the modern delegate method.

[2016-05-10 16:13] jtreanor commented on #135
Thanks @apelican. I believe using `application:openURL:options:` should fix the issue for you.

Regardless I am going to release a new version of Intercom for iOS that should stop this from happening.

[2016-05-10 16:20] jtreanor commented on #135
One more thing; there should be no issues implementing both the old and new methods.

[2016-05-10 16:20] apelican commented on #135
You're correct -- upon doing some reading it looks like the OS figures out which to call, I'll refactor my code and report back.

[2016-05-10 17:15] apelican commented on #135
Upon testing, this does resolve the issue, thank you very much for your support!

[2016-05-10 18:22] b-raines commented on #83
Same issue here. We are trying to move to tab bar navigation, but intercom window doesn't allow for that. Any updates on this?

[2016-05-11 12:39] jtreanor commented on #135
[2.3.20](https://github.com/intercom/intercom-ios/releases/tag/2.3.20) has now been released with a workaround for this issue.

[2016-05-11 12:39] #135 closed

[2016-05-12 17:23] ryanjm commented on #124
If more information is helpful, I believe this is the same [error](http://crashes.to/s/c158b3d685e).

[code]

[2016-05-24 06:28] philipengberg commented on #130
What is the status on this @jtreanor?

[2016-05-27 08:53] lowki93 opened #136 "No such module Intercom with swift"
I use pod to install Intercom.
When i'm build my project i have : No such module Intercom.

I use swift 2.2 and pod 1.0.0

[2016-05-27 09:11] jtreanor commented on #136
Hi @lowki93,

Thanks for letting us know. What version of Intercom for iOS are you using?

[2016-05-27 09:12] lowki93 commented on #136
the lastest: 2.3.21
It's this version in your podspec.

[2016-05-27 09:13] jtreanor commented on #136
Thanks @lowki93,

I'll look into this right away.

[2016-05-27 09:16] lowki93 commented on #136
thanks

[2016-05-27 09:31] jtreanor commented on #136
I have done the following, but so far have been unable to reproduce the error you are seeing:

1. Create new Swift project in Xcode.
2. Add a `Podfile` with Intercom.
3. Run `pod install` using CocoaPods 1.0.0.
4. Open the `.xcworkspace` file.
5. Add `import Intercom` and `Intercom.setApiKey("api_key", forAppId: "app_id")` to my AppDelegate.
6. Build & run.

My `Podfile` contents are:

[code]

@lo

[2016-05-27 11:42] esvp commented on #100
A quick work-around we used. When you open the Intercom messenger view, a new window gets added. Quickly do a recursive search in this window for the text view containing the welcome message and swap the text in place if found. (It's ugly, but gets the job done in circa 20 lines of code)

[2016-05-27 11:45] esvp opened #137 "Automatic language detection"
## Version info
  - 2.3.21
  - Any

## Expected behavior

The SDK should fetch the current language of the user to be available for targeting in Intercom Dashboard.

## Actual behavior

This only happens in the browser version. Now we have to add it as a custom parameter and wait for our users to update our app.

[2016-05-27 12:07] jtreanor commented on #137
Thanks for the feedback @esvp.

This would very much be a consideration of https://github.com/intercom/intercom-ios/issues/100.

I am closing this issue as a feature request. Let me know if you have any questions.

[2016-05-27 12:07] #137 closed

[2016-05-27 12:09] jtreanor commented on #100
We really do appreciate everyone's feedback on this.

We don't have a timeframe update but it certainly will be added at a future date.

@esvp The workaround you are using is likely to break in future and we can't guarantee stability with the technique.

[2016-05-29 10:51] Telemakhos commented on #100
C'mon guys... this can be done in one sprint.. no excuses!

[2016-06-02 02:08] basememara commented on #129
Can you please leave this issue open until Swift documentation or at least a sample Swift project is included?

[2016-06-02 16:36] skylerwshaw commented on #129
Hey @basememara, feel free to message us through the Intercom in-app messenger at [Intercom.io](intercom.io) or email team@intercom.io if you have any questions about implementing the Intercom iOS SDK for Swift. All of the same method calls are available between Objective-C and Swift. Here are some examples demonstrating the intuitive relationship between the two:

| Objective-C

[2016-06-06 11:50] JxbSir opened #138 "Does it support ipv6?"
Does the version of 2.3.19 support ipv6?

[2016-06-06 21:46] jtreanor commented on #138
Hi @JxbSir,

Yes, it uses built in iOS networking so will work as expected.
Let me know if you have any issues with it.

[2016-06-06 21:46] #138 closed

[2016-06-07 13:22] Liron-K opened #139 "[Intercom] ERROR - Could not find the application's delegate. Push notifications may not work correctly."
Please use the following template to submit your issue. Following this template will allow us to quickly investigate and help you with your issue. Please be aware that issues which do not conform to this template may be closed.

For feature requests please contact us at team@intercom.io

## Version info
  - Intercom for iOS version: 2.3.21
  - iOS version: 9.3.1

## Expected behavior
Receive Push

[2016-06-07 13:29] jtreanor commented on #139
Hi @Liron-K,

This error occurs when `[UIApplication sharedApplication].delegate` is `nil`. Can you think of any reason why this may be the case?

[2016-06-07 14:24] billinghamj opened #140 "v3 does not allow taking a photo, only uploading"
Please use the following template to submit your issue. Following this template will allow us to quickly investigate and help you with your issue. Please be aware that issues which do not conform to this template may be closed.

For feature requests please contact us at team@intercom.io

## Version info
  - Intercom for iOS version: 3.0.0-beta2
  - iOS version: 9.3.2

## Expected behavior

When ta

[2016-06-07 14:34] jtreanor commented on #140
Hi @billinghamj,

Thanks for sending this in. Given that this is a feature request rather than an issue, it would be great if you could send details of the functionality you would like to team@intercom.io, along with examples of why this would be useful for your users.

James

[2016-06-07 14:34] #140 closed

[2016-06-07 17:27] Liron-K commented on #139
Nope. I even checked that and it's not null.
[code]
I get that exception before that if statement even gets called.

My guess is whatever code is checking for that is getting called before the app actually gets created and setup properly.

This is my main.m file.
[code]

Here is the log:

[2016-06-07 18:03] jtreanor commented on #139
Thanks for sending on this detail @Liron-K.

Can you confirm the header of your `AppDelegate` looks as follows?

[code]

In particular I am wondering about the `<UIApplicationDelegate>` component.

Your theory about it checking for the app delegate too early is a good one, but Intercom is designed to be smart enough to avoid this situation by saving the app delegate from when the device token was

[2016-06-07 19:15] Liron-K commented on #139
[code]

I uninstalled the app from the phone and re-installed and now I'm not seeing that error in the console. I sent a test push and I didn't receive it though, so I'm not sure if that's related or not.

[2016-06-07 19:17] Liron-K commented on #139
Actually take that back - I got it again.

[2016-06-07 19:26] Liron-K commented on #139
[code]

Note that none of the "Does Not Confirm" get printed here. Maybe you are somehow calling NSClassFromString before the class gets loaded? I would expect these methods to only get called after I call setup on the Intercom SDK.

[2016-06-09 07:33] Liron-K commented on #139
@jtreanor Any news on this?

[2016-06-09 09:25] jtreanor commented on #139
@Liron-K Thanks for sending on the detail on this.

There may be something else going on here. Can you put a breakpoint on the line in `application:didRegisterForRemoteNotificationsWithDeviceToken:` to make sure that it is getting called?

The error you are seeing here should not cause you to not receive push. Are you testing push on an Adhoc (production) build?

[2016-06-09 09:45] Liron-K commented on #139
I am getting a callback on `didRegisterForRemoteNotificationsWithDeviceToken` but not `didReceiveRemoteNotification`.

This app is an enterprise app and I'm testing in the debugger using the team provisioning profile. I guess I might not be receiving the pushes because I'm not using a development push certificate in intercom. Is there a way to test this in the debugger or do I have to be using the

[2016-06-09 09:47] jtreanor commented on #139
Unfortunately you will need to be using a production build in order to receive push.

Let me know how you get on with that.

[2016-06-09 10:22] Liron-K commented on #139
Ok - so I get the following:

This is my receive block. Indeed I don't call the completion handler - but I also don't see 'didReceiveRemoteNotification' in the logs. I'll try and see if adding that fixes the problem.
[code]

[2016-06-09 11:21] jtreanor commented on #139
It is expected that `didReceiveRemoteNotification` won't get called, since Intercom handles this internally. What version are you using? The latest is 2.3.21.

[2016-06-09 11:23] jtreanor commented on #139
Ah, I see from your original message that you are using 2.3.21. When you open the push notification, does it open the Intercom messenger?

[2016-06-09 11:26] Liron-K commented on #139
What do you mean open the push? I don't seem to be receiving the push on the device. I see regular app messages, but not pushes.

[2016-06-09 11:31] Liron-K commented on #139
OK - got it to work :). I still see the error message I originally reported but it doesn't seem to be preventing push notifications from appearing.

[2016-06-09 11:34] jtreanor commented on #139
@Liron-K I mean when you open the app via the push notification, does the Intercom window show?

I'm glad that much is working for you :) I'm sure we'll be able to figure out the last bit.

[2016-06-09 11:42] Liron-K commented on #139
Yes when I open the app via the push, the intercom window does show. Thanks.

[2016-06-09 11:56] jtreanor commented on #139
Great, that sounds like everything is working correctly 😄

Are you happy for me to close this issue?

[2016-06-09 12:04] Liron-K commented on #139
Up to you if you want to still investigate the error message I initially reported :).

[2016-06-09 12:19] jtreanor commented on #139
I will keep an eye on it and update if I learn anything more.

Thanks @Liron-K 😄

[2016-06-09 12:19] #139 closed

[2016-06-10 22:12] dotmartyr commented on #136
@lowki93  Were you able to fix this issue? I am experiencing the same thing after updating CocoaPods from 0.39 -> 1.0.1

[2016-06-13 16:39] camclendenin commented on #124
I have similar crashes using Intercom 2.3.19. Here's a new one I got: http://crashes.to/s/6dd74627a20

One thing that may help in identifying the issue. I noticed that we were getting a lot of crashes on one particular view controller in our app, I had been seeing the same stack trace as @ryanjm posted above. So in the latest version of my app, I disabled Intercom for that particular controller by

[2016-06-14 00:21] ryanjm commented on #124
@camclendenin How did you identify which view controller had the issue?

[2016-06-14 01:29] camclendenin commented on #124
@ryanjm It was actually a bit of a guess, but there is one screen in the app where users can make phone calls using the `telprompt:` url scheme, which then backgrounds our app and then foregrounds it once the call is done. Some users reported crashes in the app after making outgoing calls from our app (which I was not able to reproduce), so I took a guess that this view controller might be the one

[2016-06-14 10:48] jtreanor commented on #124
@camclendenin @ryanjm Thanks for taking the time to look into this and sorry about the delay on having this fully resolved.

The reason for the delay is that the fix requires not insignificant technical changes to how we release the SDK binary. The good news is the it will be fixed in the next major release in just a couple of weeks.

If you would be interested in early access, feel free to email

[2016-06-14 12:07] jtreanor commented on #136
@dotmartyr Do you have any more details about the error you are seeing?
Is it possible there is an issue with your CocoaPods installation?

[2016-06-14 15:47] dotmartyr commented on #136
Yes, @jtreanor it was a cocoapods issue.

[2016-06-14 16:46] jtreanor commented on #136
Thanks @dotmartyr,

I'll close this issue.

[2016-06-14 16:46] #136 closed

[2016-06-16 13:49] antoinebis commented on #100
Updates on this ?!

[2016-06-20 06:56] deli33 opened #141 "[ICMMetric saveMetrics:] crash"
Please use the following template to submit your issue. Following this template will allow us to quickly investigate and help you with your issue. Please be aware that issues which do not conform to this template may be closed.

For feature requests please contact us at team@intercom.io

## Version info
  - Intercom for iOS version: 2.3.21
  - iOS version: 9.3.2

## Expected behavior
It does not h

[2016-06-20 08:33] jtreanor commented on #141
Hi @deli33,

Could you give more info about the issue you are seeing? Under what circumstances does this crash occur?

[2016-07-06 15:42] jrmsklar opened #142 "Update documentation URL"
## Version info
  - Intercom for iOS version: 2.3.21
  - iOS version: N/A

Various documentation URLs refer to an outdated URL scheme. Some examples are as follows:

- https://doc.intercom.io/api/#user-model
- https://doc.intercom.io/api/#companies-and--users
- http://doc.intercom.io/api/#events

It looks like the newer URL scheme is `https://developers.intercom.com/reference/#<resource>`.

Thanks

[2016-07-06 15:52] bboyle18 commented on #142
Hi @jrmsklar
Thanks for highlighting this. 👍
We are currently updating our docs so we'll fix those links soon.

The ones you referenced are all available here:
https://developers.intercom.io/reference/#user-model
https://developers.intercom.io/reference/#companies-and--users
https://developers.intercom.io/reference/#events

Cheers

Brian

[2016-07-06 15:52] #142 closed

[2016-07-06 15:53] jrmsklar commented on #142
@bboyle18 thanks for those 👍. I was able to find the correct pages, just wanted to let you know of the older links hanging around 😃.

[2016-07-06 15:57] bboyle18 commented on #142
@jrmsklar Have you got a link to the specific pages where the dead links were?

[2016-07-06 17:50] jrmsklar commented on #142
It's in the main `Intercom.h` header file in the framework.

[2016-07-06 19:58] allaire commented on #124
@jtreanor I think I'm having this issue, attached is a crash report, can you validate this will should be fixed with the next major release as well?

Thanks so much!

[545922b65a098.txt](https://github.com/intercom/intercom-ios/files/350788/545922b65a098.txt)

[2016-07-06 22:48] felixdkatt commented on #129
Which method do we use to see what URL was used for the push notification?

[2016-07-07 08:30] bboyle18 commented on #142
Thanks @jrmsklar
This will be updated in our next release.

[2016-07-11 10:15] jtreanor commented on #124
@allaire Yes, the log you posted will be fixed with this issue.

@ryanjm The next major release including this fix will be available within the next two weeks. I will keep this thread updated.

Thanks for your patience on this.

[2016-07-11 15:04] kylejm commented on #124
Not sure how similar this issue is to these crashes we've had from within Intercom:

- [[PodIntercom_SRWebSocket stream:handleEvent:]](http://crashes.to/s/cf39446089c)
- [safe_dispatch_async](http://crashes.to/s/b606774b853)
- [[PodIntercom__SRRunLoopThread main]](http://crashes.to/s/77056664160)

If they're not covered by 3.0 release, I can make issues 😄.

[2016-07-11 16:48] jtreanor commented on #124
Thanks @kylejm. They are all the same issue. It is a race condition on dealloc in SocketRocket.

[2016-07-12 07:34] diakonos commented on #100
👍🏼

[2016-07-13 00:58] numbbuaa commented on #74
@jtreanor I have also met the same problem. Could you talk about details on this issue and how did you fix it?

[2016-07-13 10:20] jtreanor commented on #74
@numbbuaa I believe this was caused by not setting a `UITextView`'s delegate to nil prior to reusing it.

[2016-07-13 10:23] jtreanor commented on #74
@numbbuaa We fixed this by no longer using `NSHTMLTextDocumentType` on `UITextView`. An example replacement is https://github.com/dbowen/NSAttributedString-DDHTML.

I didn't quite get to the bottom of the cause as it was in our plans to replace it anyway.

[2016-07-14 01:26] numbbuaa commented on #74
Thanks!

[2016-07-18 19:35] jasongaare opened #143 "logEventWithName metadata as an ordered object"
## Version info
  - Intercom for iOS version: 2.3.10
  - iOS version: 9.3

## Desired behavior

Right now, the Intercom library passes metadata with a logged event as an NSDictionary, which does not have order. It would be beneficial if we could pass an ordered set or array to the metadata so that it comes out in a controlled order.

## Actual behavior

In our use case, we typically send 5 to 10 d

[2016-07-20 15:39] roland9 commented on #124
Hey @jtreanor  - I got a similar crash yesterday for our app:

[code]

If it's the same root cause (is it?), then it should be fixed in your next release?

This user was using the latest Intercom SDK (2.3.21).

thx

[2016-07-20 18:48] abreckler opened #144 "Push notification payload"
We are not able to properly send users to our 'single post view' routing via push notifications sent from Intercom.

## Version info
  - Intercom for iOS version:  **2.3.21**
  - iOS version: **9.3.2**

## Expected behavior

Clicking push notification opens app and sends you to a single post view.

## Actual behavior

Clicking push notification opens app, but the single post view is not triggered.

[2016-07-21 10:37] jtreanor commented on #124
Hi @roland9, yes this is the same cause.

Hang tight, it will be soon 😄

[2016-07-21 17:54] jtreanor commented on #124
These crashes are fixed in version [3.0.0](https://github.com/intercom/intercom-ios/releases/tag/3.0.0). Thanks everyone for your patience!

[2016-07-21 17:54] #124 closed

[2016-07-21 17:55] jtreanor commented on #130
This is fixed in version [3.0.0](https://github.com/intercom/intercom-ios/releases/tag/3.0.0).

[2016-07-21 17:55] #130 closed

[2016-07-21 17:59] jtreanor commented on #100
[Version 3.0.0](https://github.com/intercom/intercom-ios/releases/tag/3.0.0) has added localization support for 38 languages. See [here](https://docs.intercom.io/configure-intercom-for-your-product-or-site/customize-the-intercom-messenger/localize-intercom-to-work-with-multiple-languages) for more information and let me know if you have any questions at all.

[2016-07-21 17:59] #100 closed

[2016-07-21 18:03] jtreanor commented on #144
Hi @abreckler,

We have just released [3.0.0](https://github.com/intercom/intercom-ios/releases/tag/3.0.0) which includes improvements to how push notifications work.
Could you try out this version and let us know how you get on?

[2016-07-21 18:06] jtreanor commented on #143
Hi @jasongaare,

Thanks for the request. Unfortunately this request involves a fundamental change to how metadata on Intercom events work. I certainly understand your use case but it will not be a change we will be making in the near future.

Feel free to contact Intercom directly through [intercom.io](https://intercom.io) or at team@intercom.io to discuss your needs more.

[2016-07-21 18:06] #143 closed

[2016-07-21 18:07] roland9 commented on #124
🎉

[2016-07-21 18:08] jtreanor commented on #141
I am closing this issue due to a lack of further information and the substantial changes make in [3.0.0](https://github.com/intercom/intercom-ios/releases/tag/3.0.0).

Feel free to reopen if you see this crash again.

[2016-07-21 18:08] #141 closed

[2016-07-21 18:15] jtreanor commented on #129
As of [3.0.0](https://github.com/intercom/intercom-ios/releases/tag/3.0.0), the repo includes a Swift sample app and the following pages of our documentation provide Swift code: https://docs.intercom.io/install-on-your-product-or-site/quick-install/install-intercom-on-your-ios-app & https://docs.intercom.io/configure-intercom-for-your-product-or-site/configure-intercom-for-mobile/configuring-inter

[2016-07-21 18:23] Telemakhos commented on #100
Great job! Thank you!

[2016-07-21 18:38] abreckler commented on #144
hi @jtreanor we are actually using pod 'Intercom', '~> 3.0.0-beta5', has there been an update to that functionality since then?

[2016-07-22 06:37] philipengberg opened #145 "Appearance color"
## Version info
  - Intercom for iOS version: `3.0.0`
  - iOS version: `9.3.2`

## Expected behavior
Consistent coloring

## Actual behavior
Variable coloring

## Steps to reproduce
I have set the Messenger color to `#00ffc8`, which is our app's primary color. Sure, it's a delicate color, but it should be possible to handle it dynamically.

First of all, the navigation bar of the Messages List has

[2016-07-22 07:13] Jonaswbu commented on #145
- Update to new Tonsser-icon.
- If we can't control the white text on buttons and icons, i suggest we use black instead of Tonsser-green.

[2016-07-22 08:30] jtreanor commented on #145
Thanks @philipengberg for the detailed report.

The issues shown in your screenshots is that the messenger is applying UIAppearance proxies inconsistly. This version of the Messenger is not designed to be customised in this way, so we will release an update which is resilient against this. I'll keep you updated.

The other part of your post is a request for better customisation of the Messenger. W

[2016-07-22 08:31] jtreanor commented on #145
Let me know if you have any questions :)

[2016-07-22 08:36] jtreanor commented on #144
Thanks @abreckler,

There were some changes so it would be worth trying out the new version.

One additional question which may help is can you send in app messages to this user while they have the app open? It's possible the issue is not with push itself.

[2016-07-22 13:58] jtreanor commented on #145
We have just released [3.0.1](https://github.com/intercom/intercom-ios/releases/tag/3.0.1) which includes the changes described above.

We have taken note of your request for further customization.

[2016-07-22 13:59] jtreanor commented on #144
We have just released [3.0.1](https://github.com/intercom/intercom-ios/releases/tag/3.0.1) which includes more improvements to push notifications.
Let me know when you have a chance to test your app out with the latest version.

[2016-07-22 14:15] philipengberg commented on #145
That was fast @jtreanor 👍

[2016-07-22 20:15] phips28 commented on #145
@jtreanor there is still one styling issue:

If I set: `[[UINavigationBar appearance] setBarStyle:UIBarStyleBlack];`
the messenger gets a grey navBar:
![simulator screen shot jul 22 2016 1 07 59 pm](https://cloud.githubusercontent.com/assets/3694800/17069960/557775fe-500e-11e6-9255-f8c70c6deea4.png)
![simulator screen shot jul 22 2016 1 08 02 pm](https://cloud.githubusercontent.com/assets/3694800/

[2016-07-22 20:32] phips28 opened #146 "Not able to upload to Appstore: BundleIdentifier contains disallowed chars"
I cant upload our app to the Appstore. Error:
<img width="582" alt="screenshot 2016-07-22 13 23 24" src="https://cloud.githubusercontent.com/assets/3694800/17070406/98a0c63a-5010-11e6-98dd-752ecc6b753f.png">

## Version info
  - Intercom for iOS version: 3.0.1
  - iOS version: -

## Expected behavior
upload without error

## Actual behavior
upload has error

## Steps to reproduce
 1. Install Inter

[2016-07-22 21:16] zackola opened #147 "Receiving message: Could not find the application's delegate. Push notifications may not work correctly."
## Version info
  - Intercom for iOS version: 2.3.21
  - iOS version: 9.3.2

## Expected behavior
Intercom does not load until after app delegate exists, push notifications work

## Actual behavior
Intercom NSLogs "Could not find the application's delegate. Push notifications may not work correctly." It is the first thing that my app logs, before the AppDelegate is loaded. Push notifications are n

[2016-07-22 21:53] jtreanor commented on #146
Hi @phips28,

Thanks for reporting. I'm fixing this now. In the meantime version 3.0.0 does not have this issue.

[2016-07-22 22:35] jtreanor commented on #146
3.0.2 which fixes this issue is now released.

Thanks again for reporting this @phips28.

[2016-07-22 22:35] #146 closed

[2016-07-22 23:12] jtreanor commented on #145
Thanks for the heads up on this one. I'll include it in the next release.

[2016-07-22 23:18] jtreanor commented on #147
Hi @zackola,

Thanks for reporting this.

Your theory about it checking for the app delegate too early is a good one, but Intercom is designed to be smart enough to avoid this situation by saving the app delegate from when the device token was set.

In fact, it is necessary for Intercom to exist this early in order for push to be handled correctly.

Roughly speaking, this is the code that determin

[2016-07-22 23:30] zackola commented on #147
We are not receiving push notifications from Intercom at all. We are using/receiving Parse push notifications successfully. Thanks for having a look!

The really weird thing is that we have some NSLog stuff in our AppDelegate, way earlier than Intercom is set up, but this Intercom error message is the 1st line in our log output.

[2016-07-22 23:34] paulcarpenter commented on #147
@zackola's coworker here. The method you posted looks like you are indeed saving an identifier for the app delegate’s class, but that method is only looking for the class itself. If no delegate object has been instantiated yet, (which you can see is the case from the screenshot we attached at the beginning), then knowing what the delegate’s class ​*will*​ be doesn’t solve the problem.

[2016-07-23 11:15] philipengberg opened #148 "Message title missing"
## Version info
  - Intercom for iOS version: `3.0.2`
  - iOS version: `9.3.2`

## Expected behavior
Name should be shown above last active label.

## Actual behavior
Name is not shown.

## Steps to reproduce
![simulator screen shot 23 jul 2016 13 13 26](https://cloud.githubusercontent.com/assets/1840093/17077648/71af6ee2-50d7-11e6-9ca8-cfba9d614df3.png)

[2016-07-23 11:54] jtreanor commented on #145
I'm reopening this until we get that final fix in. In the meantime, a workaround is either not to set barStyle using UIAppearance (and set it directly on your navigation bar) or to use something like this instead:

[code]

[2016-07-23 11:56] jtreanor commented on #148
The issue here is actually that the barStyle you have set using UIAppearance is setting the style for Intercom's navigation bar.

I have reopened #145 to track this and I'm closing this as a duplicate.

[2016-07-23 11:56] #148 closed

[2016-07-23 11:58] jtreanor commented on #147
Thanks @zackola and @paulcarpenter,

Perhaps the log line we have is a bit misleading. Your assessment is correct, but Intercom actually only needs the class itself, so the delegate does not need to be initialised.

I'll have a look at Parse's push logic to see if they could be conflicting with us.

Have you tested push using an Adhoc (production) build?

[2016-07-25 16:56] bboyle18 commented on #133
Hi @thomassnielsen
Sorry for the delay in responding.
Thanks for highlighting this. We'll be fixing this in the next release later today.

Cheers

Brian

[2016-07-25 16:56] #133 closed

[2016-07-25 17:06] allaire opened #149 "HTML in welcome message not displayed in 3.x"
## Version info
  - Intercom for iOS version:  3.0.2
  - iOS version: Latest

## Expected behavior

We have `<br>` tags and `<a>` tags in our welcome messages, we expect that the tags get rendered correctly.

## Actual behavior

The tags (at least the `<br`) are displayed as plain text.

## Steps to reproduce
 1.  Add html to welcome messages
 2. View in latest iOS SDK
 3. Profit

## Logs

N/A

[2016-07-25 17:29] jtreanor commented on #149
Hi @allaire,

With the [new version of our Messenger](https://www.intercom.io/in-app-messaging) you can no longer use HTML in your profile. I know this change is a bit of an adjustment. If you have any more thoughts on this, feel free to let us know at team@intercom.io.

[2016-07-25 17:29] #149 closed

[2016-07-25 17:43] jtreanor commented on #145
This is now fixed in [3.0.3](https://github.com/intercom/intercom-ios/releases/tag/3.0.3).

[2016-07-25 17:43] #145 closed

[2016-07-25 17:43] jtreanor commented on #133
This is now fixed in [3.0.3](https://github.com/intercom/intercom-ios/releases/tag/3.0.3).

[2016-07-25 17:44] jtreanor commented on #147
@zackola @paulcarpenter

[3.0.3](https://github.com/intercom/intercom-ios/releases/tag/3.0.3) includes some changes that may either fix this issue for you. If not, I have updated the log to give slightly more info.

Let me know when you get a chance to try out the new version.

[2016-07-25 17:44] jtreanor commented on #144
Any updates here @abreckler?

[2016-07-25 19:02] zackola commented on #147
Thanks! Just checked out 3.0.3 Similar behavior with slightly different log:

```2016-07-25 15:00:46.667 Recfive[23485:6336286] [Intercom] ERROR - Could not find the application delegate's class (FIRA_R5AppDelegate-1469473077259). Push notifications may not work correctly.```

[2016-07-25 20:28] jtreanor commented on #147
Thanks @zackola,

That is very interesting. What is the name of you App Delegate's class?
Does the class name in brackets look familiar?

[2016-07-25 22:24] jtreanor commented on #147
One more question; is your app delegate written in Objective-C, or Swift?

[2016-07-25 22:31] zackola commented on #147
@jtreanor We are `R5AppDelegate` - `FIRA` prefix seems to have something to do with Firebase Analyics via the  `Google/Analytics` pod. I Have no idea what -1469473077259  is.

R5AppDelegate is objective-c! Thanks again!

[2016-07-26 07:43] jtreanor commented on #147
@zackola it seems that is our problem then. Since the app delegate class name changes between runs, Intercom can't fully set up push. I'll look a bit deeper into how Firebase does this to see if we can work around it.

Having said that, this shouldn't prevent your app from receiving push notifications. Have you tried sending push to a production (Adhoc) build?

[2016-07-26 12:36] zackola commented on #147
Yes, We've attempted to send to production builds using the manual messages section of Intercom dashboard, but are not receiving them.

[2016-07-26 12:49] zackola commented on #147
Hm. Ok, actually some of us are receiving them, just not me. Will investigate more on my end/throw my device in the river.

[2016-07-26 12:54] jtreanor commented on #147
Thanks @zackola, let me know if I can help with your investigation.

[2016-07-26 18:00] FranciscoAmado opened #150 "Build Error with CLT 8.0"
Hi guys,

I've noticed that the framework doesn't build one's using the Command Line Tools of Xcode 8.0

## Version info
  - Intercom for iOS version: 3.0.3
  - iOS version: 8.0
  - Xcode version: 8.0

## Expected behavior

Carthage fetches intercom and builds the framework

## Actual behavior

Fetch is made correctly, build is skipped

## Steps to reproduce
 1. Change CLT to Xcode 8.0
 2. Carthag

[2016-07-26 19:30] jtreanor commented on #150
Hi @FranciscoAmado,

It appears there is an issue with the latest version of Carthage (https://github.com/Carthage/Carthage/pull/1386) that may have led to the archive being built incorrectly.

I have updated the archive for 3.0.3. Can you try run `carthage update` once more to see if the issue is now resolved?

[2016-07-26 19:31] colinhumber opened #151 "No way to customize horizontal position of incoming message bubble"
The 2.x versions included an API for positioning the incoming preview bubble in one of 3 corners, as well as the x and y preview bubble padding. The current 3.x version deprecated both those APIs and made them non-functional preventing any customizations, which makes it impossible to customize the in-app experience for our designs.

## Version info
  - Intercom for iOS version: 3.0.3
  - iOS versi

[2016-07-26 19:42] jtreanor commented on #151
Hi @colinhumber,

Sorry to hear that you're disappointed by this omission. We removed the mentioned functionality in order to give the best possible consistent experience within the system we designed for the new Messenger.

However, I do understand why you may need this feature and we will certainly consider this need going forward.

There is one new API that partially fulfils your request, but o

[2016-07-26 19:42] #151 closed

[2016-07-26 20:00] colinhumber commented on #151
Unfortunately this is keeping us from adopting the new SDK as our designs don't work with the new bubble layout.

[2016-07-26 21:58] ay5000 opened #152 "Shell script does not compile during manual installation"
## Version info
  - Intercom for iOS version: 3.0.3
  - iOS version: 9.3

I've followed the Intercom manual installation guide and added "bash "${BUILT_PRODUCTS_DIR}/${FRAMEWORKS_FOLDER_PATH}/Intercom.framework/strip-frameworks.sh" to a new Run Scripts phase.

## Expected behavior
1. Project should compile

## Actual behavior
1. Project does not compile and I get the following error:
bash: /Users/

[2016-07-26 22:21] jtreanor commented on #152
Hi @ay5000

When you added Intercom.framework to your project, did you add it the "embedded binaries" section of your target?

Are you using the latest version (3.0.3)?

[2016-07-26 22:30] ay5000 commented on #152
Hi @jtreanor,

I copied it to a subfolder in my project and then dragged it over to embedded binaries.

Yes, using latest 3.0.3.

[2016-07-26 23:31] bboyle18 commented on #152
Hi @ay5000

This is indeed a mistake in our documentation.
To get this to compile, you need to remove the Run Script from your Build Phases and then compile your code. This will create the directory **/Users/Allan/Library/Developer/Xcode/DerivedData/XXXX/Build/Products/Debug-iphoneos/XXX.app/Frameworks/Intercom.framework**. Once this is done you can re-add the Run Script. The script should then ru

[2016-07-27 09:05] FranciscoAmado commented on #150
Hi @jtreanor,

Thank you! `carthage update` worked and it managed to build the .framework.
After adding the framework to the **Linked Frameworks** and the .framework path to the **Copy Carthage Frameworks** Build phase I'm having problems build the entire project.
`Found an unexpected Mach-O header code: 0x72613c21`

I'll be also checking in the Carthage repo for something similar to this.

Thank

[2016-07-27 14:24] AnitaPita opened #153 "Tapping Photo Picker on iPad crashes the app"
Hi guys, I've noticed this issue when tapping on the Photo icon in the chat bar of Intercom. The app is locked to Landscape mode and must remain so. I'm running this on an iPad Pro.

## Version info
  - Intercom for iOS version: 3.0.3
  - iOS version: 9.3.2

## Expected behavior
The app should open the camera roll to select a photo for submission.

## Actual behavior
The app remains on a loading s

[2016-07-27 14:54] AnitaPita opened #154 "Cannot escape from Image picker on iPhone"
Hi, on an iPad device the Image picker in Intercom's chat bar has a `cancel` option, but on iPhone it does not. Also, there's a bug where home-button ->  going back into the app causes the full chat bar to appear, and there's no way to get back to the main Intercom window without killing the app. I'm testing on an iPhone 6.

## Version info
  - Intercom for iOS version: 3.0.3
  - iOS version: 9.3.

[2016-07-27 16:03] jtreanor commented on #152
@ay5000 One quick question for you: what version of Xcode are you using?

[2016-07-27 17:33] jtreanor commented on #153
Thanks for reporting this issue @AnitaPita. We will fix this in the next release.

The issue here is that `UIImagePickerController` does not natively support landscape. I'll look into the best way to solve this.

[2016-07-27 17:35] jtreanor commented on #154
@AnitaPita Thanks for taking the time to report these issues.

Regarding the cancel button being missing: are you sure that you are using the latest version (3.0.3) on both devices. If so, what iOS version are they running?

I haven't been able to reproduce the second issue but I will certainly continue to investigate.

[2016-07-27 17:37] jtreanor commented on #150
@FranciscoAmado great, I'm glad this is resolved for you.

I believe the error you are seeing is caused by accidentally copying the framework into your apps resources. A solution is [here](http://stackoverflow.com/questions/26559948/found-an-unexpected-mach-o-header-code-1918975009-in-xcode-6).

[2016-07-27 17:37] #150 closed

[2016-07-27 17:46] AnitaPita commented on #154
Thanks @jtreanor for your quick response and keeping me posted.

I can confirm that the cancel button doesn't appear on the image picker for the user, who's on 3.0.3 and running iOS 9.3.1 on an iPhone.

[2016-07-27 18:22] FranciscoAmado commented on #150
@jtreanor I'm sorry to grind on this but I believe it isn't a setup problem.
I've checked the SO link you've generously said, worked around the various solutions and the error still persists.

I believe the problem is still on building the framework. The error no longer appears but when I do `carthage update` for Intercom the build is really fast. So, I've printed the **xcodebuild .log** and it is

[2016-07-27 18:27] jtreanor commented on #154
Thanks @AnitaPita, I'll keep you posted.

[2016-07-27 19:06] jtreanor commented on #150
@FranciscoAmado No problem at all, I'm here to help.

The reason the xcodebuild log is empty and it is fast is that Carthage doesn't build `Intercom.framework` because it is already a prebuilt dynamic framework. That is the correct behaviour. I believe it should give you an error if the framework is valid (as it did previously).

The error you give seems to be an integration error of some kind in

[2016-07-28 00:23] abreckler commented on #144
@jtreanor still no luck :(

[2016-07-28 08:40] jtreanor commented on #147
@zackola [3.0.4](https://github.com/intercom/intercom-ios/releases/tag/3.0.4) is now released. This version includes must more robust app delegate checking which will be resilient to the type of things that Firebase are doing.

I'll wait until you have tried this version out before closing this issue.

[2016-07-28 08:42] jtreanor commented on #153
@AnitaPita We have added a short term workaround for the crash in [3.0.4](https://github.com/intercom/intercom-ios/releases/tag/3.0.4).
The workaround is that the upload button will be hidden on devices which it will crash on.

The longer term solution will be to replace `UIImagePickerController` which I had added to our tasks internally. In the meantime I was keen to prevent this crash from occur

[2016-07-28 08:42] #153 closed

[2016-07-28 08:45] jtreanor commented on #144
@abreckler Thanks for checking.

We have just released [3.0.4](https://github.com/intercom/intercom-ios/releases/tag/3.0.4) which includes several more improvements to push notifications.

[2016-07-28 09:36] psarakism opened #155 "App is crashing when trying to present modal view controller"
Hi , i have an issue with modal view controllers in iOS 8.4.1.( in 9.3 there is no problem). After setting intercom  [Intercom setApiKey:forAppId:] every try to present modal crashes the app.
The root view controller of the app is based to JASidePanels(if matters..).

## Version info
  - Intercom for iOS version: 3.0.3
  - iOS version: 8.4.1

## Expected behaviour
Show the modal view controller
##

[2016-07-28 12:08] jtreanor commented on #155
Hi @psarakism,

Can you give a little more information here?
The crash log you posted does not include anything from Intercom. What makes you think this crash is caused by Intercom?

[2016-07-28 12:19] psarakism commented on #155
Hi @jtreanor
The reason is that if i don't setup the intercom the app doesn't crash. Just for testing i setup the intercom in viewDidLoad of the modal View controller and the second time i tried to present the modal the app crash again. I believe that the issue is about view controllers hierarchy.

[2016-07-28 13:26] psarakism commented on #155
I think i found it. The crash happens because of navigation controller. Specifically when I have two buttons in the right. When i have one button there is no problem.

 NSArray *actionButtonItems = @[saveButton,deleteButton];
 self.navigationItem.rightBarButtonItems = actionButtonItems;

I hope I helped to figure out what is happening..

[2016-07-28 15:13] zackola commented on #147
Cool thanks! Definitely relieves the error!

[2016-07-28 15:13] #147 closed

[2016-07-28 17:33] jtreanor commented on #147
That's great. Thanks @zackola. Let me know if I can help in any other way.

[2016-07-28 19:27] ay5000 commented on #152
@jtreanor  I am using Xcode 7.3.1.

I decided to downgrade to previous version because we prefer the window overlay vs the new modal in 3.0. BTW is that configurable?

[2016-07-28 19:28] jtreanor commented on #155
@psarakism Thanks for looking into this further.

I have tried several more times to reproduce this with no success. Can you tell me a little more about the crash? For example, how are you presenting the view controller?

One thing that may be worth trying is using 3.0.0 rather than 3.0.3. If the previous version works okay, it may help us identify the cause.

[2016-07-28 19:30] jtreanor commented on #152
@ay5000 No, that is not something that is currently configurable. We'll take note that you would like it to be.

I am also using Xcode 7.3.1 and the install works with the instructions in the docs.

If you decide to use 3.0 again, let me know and I would be happy to help get you set up.

[2016-07-28 19:30] #152 closed

[2016-07-28 19:31] jtreanor commented on #154
@AnitaPita Could you check if the cancel button is now appearing in version 3.0.4.

I still haven't been able to reproduce either issue reported here but I will keep digging.

[2016-07-28 20:22] psarakism commented on #155
Ok the good news is that 3.0.0 works fine. As for the presenting I just perform a modal segue to an UINavigationController which has a View Controller. I believe that something is going wrong with self.navigationItem

[2016-07-29 09:33] rockerhieu opened #156 "Broken chat layout on iOS 8"
## Version info
  - Intercom for iOS version: 3.0.3
  - iOS version: 8.4.1

## Expected behavior
1. No extra empty space should be shown below the softkeyboard
2. No overlapping of Intercom text, chat, and chat status

## Actual behavior
1. Extra empty space shown below the softkeyboard
2. If an conversation exists, Intercom text, chat, and status of chat (seen, time) overlap

## Steps to reproduc

[2016-07-29 09:44] nucauthu commented on #156
Hi @jtreanor ,
I'm in charge in iOS development, same company with @rockerhieu . We are using IQKeyboardManager. And this is the log when it crashed:
[code]

[2016-07-29 09:55] jtreanor commented on #156
Thanks @nucauthu,

The problem here is that IQKeyboardManager is interfering with Intercom's keyboard handling. However, it will be possible to work around this issue by observing some NSNotifications.

This gist gives an example of how you can disable IQKeyboardManager for Intercom, but enable it for the rest pf you app: https://gist.github.com/jtreanor/edd5121a85168ad9a98af165e1742f93

Let me kn

[2016-07-29 10:46] jtreanor commented on #155
@psarakism Thanks for the response. You can continue to use 3.0.0 until we get this fully resolved.

I have spent considerable time here trying to reproduce this, but I still haven't seen it. Are you using `UIAppearance` anywhere in your app? For example, do you have code that looks something like this:

[code]

[2016-07-29 12:02] psarakism commented on #155
Hi @jtreanor
I use UIAppearance but the problem isn't there.I make a demo project to reproduce the error so if you want give me an email to send you. I noticed that the problem occurs when the self.navigationItem takes values in viewDidLoad. If i set it in viewWillAppear or in ViewDidLayoutSubviews the app doesn't crash.

[2016-07-29 12:22] jtreanor commented on #155
@psarakism That would be great. My email is james@intercom.io

[2016-07-29 12:32] #156 closed

[2016-07-29 12:33] jtreanor commented on #144
I have tested this extensively and I am confident that this is now fixed in 3.0.4. Feel free to reopen if you see this again.

[2016-07-29 12:33] #144 closed

[2016-07-29 13:05] jtreanor commented on #155
Thanks @psarakism, I have now reproduced it and I'm in the process of releasing a fix. I'll keep you updated.

[2016-07-29 13:24] jtreanor commented on #155
This is now fixed in [3.0.5](https://github.com/intercom/intercom-ios/releases/tag/3.0.5). Thanks again for reporting it and help us get it resolved.

The issue was a bug in iOS itself (iOS 8 only), where calling `[[UIButton appearance] setContentEdgeInsets:]` caused inconsistent behaviour such as this. I have removed our usage of it.

[2016-07-29 13:24] #155 closed

[2016-07-30 01:30] FranciscoAmado commented on #150
Hi @jtreanor, sorry for the delay.

Indeed, removing `Intercom` integration gave us the answer. The problem persists.
We believe it is caused due to another framework we are importing.

Thank you for all the help!

[2016-07-31 11:00] aybarsyalcin opened #157 "Openning a push notication message , can not control message view."
When the application is close or background mode, one notification fires on notifcations menu. then click it. then openning the application.
## Version info
  - Intercom for iOS version: 3.0.4
  - iOS version: 9.3.1

## Expected behavior
first view controller appears on screen. all views are loaded. then if there is unread message on intercom, the message view opens by intercom api.
## Actual beha

[2016-08-01 12:57] woofyman99 opened #158 "didFinishLaunchingWithOptions not called"
Please use the following template to submit your issue. Following this template will allow us to quickly investigate and help you with your issue. Please be aware that issues which do not conform to this template may be closed.

For feature requests please contact us at team@intercom.io

## Version info
  - Intercom for iOS version: 3.0.4
  - iOS version: 9.3.2

## Expected behavior didFinishLaunc

[2016-08-01 14:06] jtreanor commented on #158
Hi @woofyman99,

Thanks for sending this in. Can you please give some more details about your app?
Some things that would be helpful are; is it written in Objective C or Swift? Do you use any other third party push providers? Is there anything unusual about you app's app delegate?

In the meantime it is safe to continue using 3.0.3 though we will work on fixing this immediately.

[2016-08-01 14:17] woofyman99 commented on #158
Written in Swift.  The app is Agent Snap, it’s a camera app that uses exposure fusing.
Another push provider we use is Localytics.  There’s nothing unusual about the application delegate other than Localytics becoming the application delegate.  But that doesn’t happen until after didFinishLaunchingWithOptions.  I hope that is helpful.

[2016-08-01 14:25] jtreanor commented on #158
Thanks @woofyman99,

That is very helpful. I'll keep you updated.

I tested compatibility with Localytics successfully prior to releasing 3.0.4 so there much be something unusual going on here.

[2016-08-01 14:52] jtreanor commented on #158
@woofyman99 I've done some more testing and I cannot reproduce unexpected behaviour in a Swift test app with both Localytics and Intercom.

Can you clarify how the issue is manifesting? e.g. Does didFinishLaunchingWithOptions: not get called at all (so the app doesn't launch fully) or does this only happen when opening a push notification?

[2016-08-01 15:01] woofyman99 commented on #158
It doesn’t get called at all.

If you want, I’ll create a test app that illustrates the bug.

[2016-08-01 15:13] jtreanor commented on #158
A test app would be very useful.
Thank you @woofyman99.

[2016-08-01 16:37] abreckler commented on #144
@jtreanor no luck :(

[2016-08-01 18:15] woofyman99 commented on #158
James, I am unable to create a minimal test app that exhibits the bug.
Removing Localytics or using Intercom-swift 3.0.3 fixes the issue.

[2016-08-01 18:37] jtreanor commented on #158
@woofyman99 Thanks for trying that.
I will continue to investigate the issue and keep you updated.

[2016-08-01 18:38] jtreanor commented on #144
@abreckler thanks for letting me know, I'll take another look into your specific issue.

[2016-08-02 12:25] jtreanor commented on #158
3.0.6 has now been released. This update includes refinements to how Intercom configures push notifications.

@woofyman99  I am confident this will fix your issue. Let me know how it goes for you.

[2016-08-02 12:27] jtreanor commented on #157
@aybarsyalcin Can you clarify what the issue is here?
Is this a feature request or are you seeing issues with Intercom when opening push notifications?

[2016-08-02 12:33] garnett commented on #158
@jtreanor now the library has another issue:
I have two delegates in app bundle: `AppDelegate`, and `TestAppDelegate` (I'm changing them for tests). With 3.0.6 `didFinishLaunchingWithOptions` is called on `TestAppDelegate`!

With all respect, your "clever" swizzling is too clever.

[2016-08-02 12:34] woofyman99 commented on #158
That fixed it!

[2016-08-02 12:50] jtreanor commented on #158
@woofyman99 Great, I'm glad that fixed your issue. Thanks for your help getting this resolved.

@garnett I understand your feedback on this. Thanks for reporting this, I'll immediately investigate it.

[2016-08-02 15:04] jtreanor commented on #158
3.0.7 has been released to address the last remaining issues here that @garnett pointed out.

I understand that using our swizzling doesn't suit everybody. In the future we will look at introducing a manual method that avoids the swizzle entirely.

[2016-08-02 15:04] #158 closed

[2016-08-02 16:46] jtreanor commented on #144
@abreckler Could you try this once more with 3.0.7?
I spent some time digging today but I haven't been able to reproduce the issue locally.

[2016-08-03 14:04] AnitaPita commented on #154
Hi @jtreanor, I've tested this bug on 3.0.6 and both the image picker and cancel button issues are present. I can consistently reproduce the issue by backgrounding the app or pulling up the command center, as in the following gif where the chat bar pops up unexpectedly during the image picker. There's no cancel button, and due to the bug, once the chat bar appears I can't even send an image becaus

[2016-08-03 16:05] bboyle18 commented on #154
Thanks @AnitaPita, this is great info.
Just wondering if you are customising your app with UIAppearance?

Cheers

Brian

[2016-08-03 18:08] jpohhh opened #159 "trouble using test app w/SDK"
Please use the following template to submit your issue. Following this template will allow us to quickly investigate and help you with your issue. Please be aware that issues which do not conform to this template may be closed.

For feature requests please contact us at team@intercom.io

## Version info
  - Intercom for iOS version: 3.0.2
  - iOS version: 9.3

## Expected behavior
Using our test a

[2016-08-03 18:30] skylerwshaw commented on #159
Resolved in discussion within Intercom conversation.

[2016-08-03 18:30] #159 closed

[2016-08-03 18:31] AnitaPita commented on #154
@bboyle18 yes, we are using that for customization. How could that be affecting our integration?

[2016-08-03 23:00] bboyle18 commented on #154
Hey @AnitaPita
Would you mind sharing the line of code you're using to customise the appearance of your UIBarButtonItem objects? It may be impacting the visibility of the Cancel button. We protect against this but we may have missed a specific type of customisation.
We're working on a fix for the chat bar issue.

Thanks for your help with this!
Brian

[2016-08-04 13:44] AnitaPita commented on #154
Hi @bboyle18, we realized that we were setting the tint colour of our UIBarButtonItem object to white, so when Intercom popped up, the white Cancel button wasn't visible over the white nav bar. We're working on our fix for this; thanks for your help!

[2016-08-04 15:03] jtreanor commented on #154
Thanks for the detail @AnitaPita,

We will also ensure that setting tintColor on UIBarButtonItem will not effect Intercom in the next release.

[2016-08-04 15:48] nickkuh commented on #144
Hi @jtreanor - started integrating Intercom into a client's iOS app today.

I'm using Intercom to send manual push notifications that direct the user to a screen in the app based on custom IOS URI. It works well when the user taps on the push when the app is in the background. However, when the app is in the foreground neither of the 2 application delegate callbacks seem to get fired

`public func

[2016-08-04 15:49] nickkuh commented on #144
Also - why can't your system work with dev pem certificates too? It makes debugging really really slow 👎

[2016-08-04 15:56] jtreanor commented on #144
Hi @nickkuh,

It is actually correct that `didReceiveRemoteNotification:` and `didReceiveRemoteNotification: fetchCompletionHandler :` don't get called for Intercom push, since we handle it internally.

Does does the app's [`application:openURL:options:`](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UIApplicationDelegate_Protocol/#//apple_ref/occ/intfm/UIApplicationDelegat

[2016-08-04 16:02] nickkuh commented on #144
@jtreanor thanks for the super quick reply.

When the app is in the background and the push comes through then yes, 'application:openURL:options:' gets called if I tap on the push notification. Cool.

However, when the app is in the foreground and I send the same push nothing gets called. Is there a hook I can tap into for this scenario?

[2016-08-04 16:31] nickkuh commented on #144
@jtreanor - ok, thanks. The message doesn't display via the Intercom SDK either when the app is in the foreground. Feels like the message never got sent/received.

Thanks

Nick

[2016-08-04 16:36] jtreanor commented on #144
@nickkuh Yeah I understand why this is confusing, but push messages aren't currently get displayed when the app is in the foreground.
If you want to receive messages when in the foreground you can send an in app message (chat, note etc.).

[2016-08-04 16:37] nickkuh commented on #144
Sure - but then I can't send any custom data with the message to get the app to jump to the content I'm referencing.

[2016-08-04 16:47] jtreanor commented on #144
You can send a button or link with a URI for the app and it will go there when pressed.

[2016-08-04 17:18] bboyle18 commented on #154
Hi @AnitaPita
We've just released [v3.0.8](https://github.com/intercom/intercom-ios/releases/tag/3.0.8). This fixes these issues. 😉
Thanks for your help in tracking down these bugs.

Cheers

Brian

[2016-08-04 17:18] #154 closed

[2016-08-05 09:51] nu-steve opened #160 "New Intercom Messenger key window issue"
## Version info
  - Intercom for iOS version: 3.0.7
  - iOS version: 9.3

## Expected behavior
After closing messenger window, all previous functions of the app should still work as before.
## Actual behavior
Navigation bar buttons stop responding until app has been restarted.
## Steps to reproduce
 1. Add button to navigation bar
 2. Open Intercom Messenger
 3. Press Navigation bar button

## Log

[2016-08-05 10:00] jtreanor commented on #160
Hi @nu-steve,

Can you try out the latest version (3.0.8) and let me know if there are any changes?

[2016-08-05 11:26] nu-steve commented on #160
Hi @jtreanor

It seems the problem is with the rootViewController. After some debugging, it seems our sidebar is also using the [UIApplication sharedApplication].keyWindow.rootViewController to display the sidebar. If I open our sidebar several times, the value of the rootView controller doesn't change, but after opening Intercom and reopening the sidebar, the value of the rootViewController chang

[2016-08-05 11:54] nu-steve commented on #160
@jtreanor On another note, I wrote the incorrect OS version in my first post. Our target OS is iOS 8.0+

The device I was using was iOS 9.3. Sorry for the confusion there.

[2016-08-05 12:20] jtreanor commented on #160
Thanks for digging into this @nu-steve. Your assessment of the cause sound correct.

When Intercom present's the Messenger, it becomes the key window. This is necessary in order for user interaction to work correctly.

The issue here is that the sidebar component assumes `[UIApplication sharedApplication].keyWindow` never changes, which is not a safe assumption to make in any app. It should be usi

[2016-08-05 13:32] nu-steve commented on #160
No prob @jtreanor. We are using [CDRTranslucentSideBar](https://github.com/chidori-app/CDRTranslucentSideBar)

Any ideas how to resolve this?

[2016-08-05 14:50] jtreanor commented on #160
@nu-steve I've done a little more digging here and I'm confident this should be straightforward to resolve.

Can you clarify you replace usages of `[UIApplication sharedApplication].keyWindow` in your own app with `self.view.window` and let me know if they work correctly?

I still don't quite understand how this would effect your app. Once the Intercom Messenger window closes, your app's window sh

[2016-08-05 15:29] nu-steve commented on #160
@jtreanor that's what I also find strange.

We didn't have any issues with the old messenger, but as soon as we updated the issue was very clear. I've tried changing all instances of `[UIApplication sharedApplication].keyWindow` to `self.view.window` but then the sidebar never appears, even before opening Intercom.

Did previous versions of Intercom also use `[UIApplication sharedApplication].keyW

[2016-08-05 15:36] jtreanor commented on #160
@nu-steve Yes previous versions on Intercom had this same behaviour of using key window. Do you have usages of `[UIApplication sharedApplication].keyWindow` in your app outside of the sidebar?

[2016-08-05 15:41] nu-steve commented on #160
@jtreanor We use `[UIApplication sharedApplication].keyWindow` in a few places and have never had any issues before. As I mentioned before, after closing Intercom the rootViewController does not change back to the original. I think that's what's causing the issue.

[2016-08-05 15:46] jtreanor commented on #160
@nu-steve Can you verify that your app's window does not become key when Intercom closes.
A log like this when the button is pressed should work:
[code]

I'll investigate if there are any cases where the app may not be handed back the key window.

[2016-08-05 15:58] nu-steve commented on #160
Just tested and prior to opening Intercom the key window is 0. After opening, it becomes 1. Would it help if I gave you access to our source code to debug? If so, let me know your email address and I'll send it over.

[2016-08-05 15:59] jtreanor commented on #160
@nu-steve That is interesting and likely the cause. Sure, my email is james@intercom.io.

[2016-08-05 16:05] nu-steve commented on #160
@jtreanor Great! Just uploading the project to our CDN now and I'll email you over a link. Bear in mind it will be a link to our Chinese server so maybe not the fastest download speed for you in the US.

[2016-08-08 15:34] jtreanor commented on #160
This is now fixed in [3.0.9](https://github.com/intercom/intercom-ios/releases/tag/3.0.9) 🎉

Thanks again for your help fixing this @nu-steve.

Some context for anyone who may be reading: the issue was that for some apps with multiple UIWindows, when the Intercom Messenger is closed the wrong window from the host app may be made the new key window. This change ensures the host app's primary window

[2016-08-08 15:34] #160 closed

[2016-08-08 15:36] jtreanor commented on #157
@aybarsyalcin I am closing this as it seems to be a feature request.

If you wish to respond in certain ways to psuh notifications, you may want to use a push only message: https://docs.intercom.io/intercom-s-key-features-explained/how-do-mobile-push-notifications-work-with-intercom.

Feel free to reopen if I am mistaken and you are seeing an issue with Intercom.

[2016-08-08 15:36] #157 closed

[2016-08-11 13:18] s-faychatelard opened #162 "[ICMConversationViewController updateConversation] crash"
Please use the following template to submit your issue. Following this template will allow us to quickly investigate and help you with your issue. Please be aware that issues which do not conform to this template may be closed.

For feature requests please contact us at team@intercom.io

## Version info
  - Intercom for iOS version: 3.0.2
  - iOS version: iOS9.3.2 and iOS9.3.3

## Expected behavio

[2016-08-11 13:20] jtreanor commented on #162
Hi @s-faychatelard,

Thanks for reporting. This has already been fixed in the latest release.

[2016-08-11 13:20] #162 closed

[2016-08-15 01:23] mhemmings opened #163 "v3 Validation errors"
Since upgrading to v3, the app builds fine, but when we go to upgrade to the app store, the framework suddenly appears in the "binary and entitlements" list, and a validation error occurs.

![screen shot 2016-08-15 at 02 20 19](https://cloud.githubusercontent.com/assets/5692567/17653546/eeabdda4-628e-11e6-8f58-3327af3c4a2a.png)

![screen shot 2016-08-15 at 02 22 50](https://cloud.githubusercontent

[2016-08-15 08:56] jtreanor commented on #163
Thanks @mhemmings,

Did you follow step 3 in the manual install instructions [here](https://github.com/intercom/intercom-ios#manual-installation)?

[2016-08-15 08:58] mhemmings commented on #163
@jtreanor Thank's I'll have a try. Does this still allow package management from pod though?

[2016-08-15 09:00] jtreanor commented on #163
@mhemmings Yes of course. If you installed with Cocoapods, that step shouldn't be needed.
Does your Podfile include `use_frameworks!`?

[2016-08-15 10:05] mhemmings commented on #163
Adding `use_frameworks!` didn't work. So then tried a clean and rebuild, and it has broken a few other libraries

[2016-08-15 10:14] jtreanor commented on #163
It seems that is your issue then. `use_frameworks!` is required when using CocoaPods to install 3.0.x. If you can't add  `use_frameworks!`, you should [install Intercom manually](https://github.com/intercom/intercom-ios#manual-installation).

[2016-08-15 10:17] mhemmings commented on #163
Doesn't sound like a good solution. Lot's of discussion online about avoiding the use of `use_frameworks!`. Not sure what the solution is, but would like to avoid installing manually so will be rolling back to v2.x until a long term fix can be found.

[2016-08-15 10:19] jtreanor commented on #163
Thanks for your feedback on this @mhemmings. We are looking into the best way to resolve this for all use cases.

[2016-08-15 10:22] mhemmings commented on #163
@jtreanor Great, thanks for your support.

[2016-08-15 16:39] jtreanor commented on #163
After considering this carefully we have released [3.0.10](https://github.com/intercom/intercom-ios/releases/tag/3.0.10). This version removes the requirement for `use_frameworks!` when installing via CocoaPods.

[2016-08-15 16:39] #163 closed

[2016-08-16 16:19] audvin commented on #62
Would love this on the web version indeed.

Great for when the User receives an error. This way the Help Team can be promoted immediately via Intercom and the User sees that action is taken.

[2016-08-21 15:07] hydr93 commented on #157
@jtreanor I am also struggling the same problem and I want to rephrase the problem. When an in-app message with push notification is sent from "app.intercom.io" and my application is closed, when the user opens the application via notification (from lock screen or home screen), this issue happens.

Since an ios application can set the first view controller from the AppDelegate, the model view cont

[2016-08-22 10:39] SuperGuo751 opened #164 "The iOS app problem"
How to control the hidden in the iOS app and display suspended button

[2016-08-22 10:47] bboyle18 commented on #164
Hi @SuperGuo751 👋

If you have a question about the usage of the SDK you can chat to us on http://intercom.io

If you want to log a issue to report a bug, please use the template provided so that we have as much info as possible to investigate.

Thanks!

Brian

[2016-08-22 10:47] #164 closed

[2016-08-25 11:23] jasonblood opened #166 "Conversation Header headline text cut off"
I have attached a screenshot of the text being cut off. I suspect its possible for this to happen in non live version if username / company name is long enough. Just does not look to pretty in my opinion the way its cut off.
## Version info
  - Intercom for iOS version: 3.0.10
  - iOS version: 8.4
  - Device: iPhone 5

## Expected behavior
Would expect maybe some padding on the right, the text to

[2016-08-25 12:11] bboyle18 commented on #166
Hi @jasonblood
Thanks for reporting this 👍
We'll have this fixed in a future release.

Brian

[2016-08-25 15:22] nachonet opened #167 "Crash in ICMNavigationController if application allows more than one orientation"
## Version info
  - Intercom for iOS version: 3.0.10
  - iOS version: 9.3.4

## Expected behavior
Be able to visualize a conversation

## Actual behavior
Crashing when opening a conversation

## Steps to reproduce
 1. Go to a View Controller with no rotation (just Portrait mask on an iPhone device)
 2. Send a message to yourself
 3. Tap on the notification
 4. Crash
(The application allows multipl

[2016-08-25 15:40] bboyle18 commented on #167
Hi @nachonet

Thanks for reporting this issue 👍

Intercom bases its orientation off your rootViewController, so it seems in this case that we are getting the wrong orientation information. Can you give me a little more info about your view hierarchy? Is the ViewController that has no rotation embedded within a UINavigationController?

Thanks

Brian

[2016-08-25 20:48] michaelhollman opened #168 "setInAppMessagesVisible(true) displays read messages as unread"
## Version info
  - Intercom for iOS version: `3.0.10`
  - iOS version: N/A (occurs on at least an 8.1 iPhone 5s, 9.3.3 iPad Air, and 9.3 simulator)

## Expected behavior

Calling `setInAppMessagesVisible(false)` followed by `setInAppMessagesVisible(true)` when the current user has zero unread messages should not display the in-app message UI.

## Actual behavior

Calling `setInAppMessagesVisible(

[2016-08-25 20:55] jtreanor commented on #168
Thanks for the detailed report @michaelhollman. We will investigate this and get back to you.

[2016-08-25 21:34] camclendenin commented on #168
I've experienced what may be the same issue. The issue doesn't seem to happen with "chat" style messages, but it consistently happens with "post" message types.

**Steps to reproduce**
1. Have a view controller embedded in a navigation controller (view controller's viewDidAppear: should call setInAppMessages(true) )
2. Send a "post" message to the app while the app is open and on that initial view

[2016-08-26 09:20] pocket7878 opened #169 "updateUnreadConversations:completion: unrecognized selector sent to instance"
## Version info
  - Intercom for iOS version: 3.0.10
  - iOS version: 9.3.5

## Expected behavior

Check if respond to `updateUnreadConversations:completion:` and
Avoid send message.

## Actual behavior

unrecognized selector sent to instance error occurred.

## Steps to reproduce
 1. Open App.
 2.  Tap home button to background app.
 3.  Send message via web.
 4. Open App

I think this error caus

[2016-08-26 09:28] bboyle18 commented on #169
Hi @pocket7878
Thanks for reporting this bug!

Would you be able to provide us with the crash log please?

Thanks

Brian

[2016-08-26 11:41] ArtemShvydky commented on #159
I have same problem. How I can fix it?

[2016-08-26 12:42] lowki93 opened #170 "Import Intercom.framework"
I use intercom with Pods.

My test crash because Intercom.Framework is not linked in projet during pod installation.

Please fix it please.

Thanks

[2016-08-26 13:19] jtreanor commented on #170
@lowki93 could you give some more detail on the issue?

What version are you using? What is the error you are seeing?

[2016-08-26 14:00] nachonet commented on #167
Thank you so much for your help

When I started to explain the view hierarchy here, I found out what the problem was. It was related to the rootViewController (and its orientation methods) which was indeed a UINavigationController.

Thanks again :)

[2016-08-26 15:45] jtreanor commented on #168
Hi @michaelhollman and @camclendenin,

Just a quick update here. We have got to the bottom of this issue and are currently working on a fix. It will be included in our next released which will be available within the next week.
I'll keep you posted.

Thanks again for reporting this 😄

[2016-08-29 05:45] ariyandiwidarto commented on #170
Hi, I am having the same issue too.
The crash occurred after I upgrade the Intercom iOS SDK from version 2.3.21 to version 3.0.9 with CocoaPods. Here is the error:

dyld: Library not loaded: @rpath/Intercom.framework/Intercom
  Referenced from: /Users/<MY_USER_NAME>/Library/Developer/CoreSimulator/Devices/<DEVICE_ID>/data/Containers/Bundle/Application/<APPLICATION_ID>/<APPLICATION_NAME>.app/<APPLI

[2016-08-29 11:12] pocket7878 commented on #169
@bboyle18
[code]

Thank you for your comment!!

[2016-08-29 12:04] ariyandiwidarto commented on #170
Ok, upgrading to version 3.0.10 solve the problem.

Thank you for your fast response.

[2016-08-29 12:06] jtreanor commented on #169
Thanks for the detail @pocket7878.

Can you also post the full error you are getting like `updateUnreadConversations:completion: unrecognized selector sent to instance`? It would be useful to know what class is actually getting the selector.

[2016-08-29 12:09] jtreanor commented on #169
Also, do you access `[|UIApplication sharedApplication].windows` and update the `rootViewController` When your app comes to the foreground. The error suggests that the root view controller on Intercom's window has been replaced.

[2016-08-29 12:21] jtreanor commented on #170
@lowki93 I believe your issue will also be solved by upgrading to 3.0.10.

If you are still seeing issues, feel free to reopen this with more details.

[2016-08-29 12:21] #170 closed

[2016-08-29 13:38] jtreanor commented on #157
@hydr93 Apologies for the delay responding here.
I don't quite understand the issue you are having.

When you open the notification, does Intercom open correctly? It is expected to and `UIApplicationLaunchOptionsLocalNotificationKey` is expected to be absent.

Have you tried using the push messages I linked above?

[2016-08-30 02:58] pocket7878 commented on #169
@jtreanor Thank you for your comment. Yes we are updating `rootViewController` when app become foreground to sync with server state.

[2016-08-30 09:23] jtreanor commented on #169
@pocket7878 Would you mind posting the snippet you use to do this?

You should probably use `[UIApplication sharedApplication].delegate.window` for this rather than `[UIApplication sharedApplication].windows` so that it doesn't effect other windows in your app (not just Intercom).

[2016-08-30 09:31] pocket7878 commented on #169
@jtreanor
[code]

[2016-08-30 09:36] jtreanor commented on #169
Thanks @pocket7878. The issue here is that your app's isn't guaranteed to be the key window when the app resumes. In Intercom's case, when the messenger is open, it is the key window.

Who do you need to run this code when the app returns from the background? Your window should be already set up correctly in `applicationdidFinishLaunchingWithOptions`.

[2016-08-30 10:32] pocket7878 commented on #169
@jtreanor Thanks！！ Avoid changing ``rootViewController`` after application launching solves this problem!

[2016-08-30 14:04] bboyle18 commented on #167
Hey @nachonet
I'm glad you sorted your problem.
I'm curious as to how you were changing your orientation methods in the rootViewController as Intercom should have been able to pick up the correct orientation. Would you be able to share a little more info with us so that we can prevent this happening in the future?

Thanks

Brian

[2016-08-31 01:50] #169 closed

[2016-08-31 17:16] michaelhollman commented on #168
@jtreanor Any further word on this or any update on an ETA? I'm working on planning my work for the next couple weeks and wondering when I can expect the next release. If it's been pushed back, no worries, just let me know.

Thanks again! 😄

[2016-08-31 19:21] jtreanor commented on #168
[3.0.11](https://github.com/intercom/intercom-ios/releases/tag/3.0.11) has now been released. The fix for this issue is included 😄

Thanks everyone for your help.

[2016-08-31 19:21] #168 closed

[2016-08-31 19:21] jtreanor commented on #166
[3.0.11](https://github.com/intercom/intercom-ios/releases/tag/3.0.11) has now been released. The fix for this issue is included 😄

[2016-08-31 19:21] #166 closed

[2016-09-01 22:01] nachonet commented on #167
Hi Brian,

The application supports multiple orientations but the rootViewController (which is a subclass of UINavigationController) only supports the Landscape orientation. Besides that, there was a UINavigationController category which was establishing Portrait as orientation and there was a conflict between those files.
Surprisingly, it was working fine.

Sorry for submitting this and thanks ag

[2016-09-03 00:57] syrakozz opened #171 "presentMessenger"
presentMessenger not found ,
plz update the example with the correct method

[2016-09-03 07:01] bboyle18 commented on #171
Hi @syrakozz 👋
Thanks for getting in touch.
Can you please provide us with a little more info of the issue you are having? Can you attach logs from the console?

Thanks

Brian

[2016-09-05 08:59] #167 closed

[2016-09-05 09:13] jtreanor commented on #167
Thanks for the detail @nachonet 😄

[2016-09-07 10:12] jtreanor commented on #171
@syrakozz It looks like you may be using an older version on Intercom. `presentMessenger` was introduced in 3.0.0. Feel free to reopen this if you are still seeing an issue.

[2016-09-07 10:12] #171 closed

[2016-09-07 16:25] JamieWhite opened #173 "Carthage doesn't work."
Your `README` suggests you support Carthage but when I try building it I get this error

[code]

I've forked your repo thinking perhaps you just need to share a scheme. Looks like you don't even have a `.xcodeproj` to build from which suggests to me you've never had Carthage support and you've never tested it to see this.

[2016-09-07 16:28] JamieWhite commented on #173
Okay I see how you've done this now. You're hosting the binaries in your `Releases` tab. This command should work:

`carthage update intercom-ios --no-use-binaries`

but it doesn't because you have no `.xcodeproj` to build from. As a Swift developer I use `--no-use-binaries` to always build from scratch because Swift doesn't have a stable ABI so using the hosted binaries is a bad idea for now.

[2016-09-07 16:39] jtreanor commented on #173
Hi @JamieWhite,

Unfortunately the source code for Intercom for iOS is not publicly available so the only option for using it is to use the provided binaries.

Having said that, the binaries we provide do not rely on Swift's ABI since it is written in Objective C. This means you can reliably use it across Swift versions.

[2016-09-08 10:30] jtreanor commented on #173
Closing this issue because Intercom does work as expected with Carthage using a [prebuilt framework](https://github.com/Carthage/Carthage#archive-prebuilt-frameworks-into-one-zip-file). As mentioned above the prebuilt framework does not use Swift so is not bound to the ABI.

I'd be happy to answer any questions you have.

[2016-09-08 10:30] #173 closed

[2016-09-14 04:30] hongxinhope opened #174 "Carthage update too slow"
It's very very slow to Fetching intercom when carthage update, which is a disaster for Chinese users because of the bad network, any way to make it faster?

[2016-09-14 07:54] pocket7878 opened #175 "How to Detect intercom view closed?"
Hi, I want to run callback when Intercom view is closed by user.
Is there any method or option to detect intercom view visibility changed?

[2016-09-14 08:01] bboyle18 commented on #175
Hi @pocket7878 👋

Thanks for your question!
Yes, it's possible to detect when Intercom's window changes. We have two NSNotifications you can listen to

IntercomWindowWillHideNotification
IntercomWindowDidHideNotification

Cheers

Brian

[2016-09-14 08:01] #175 closed

[2016-09-14 16:42] bboyle18 commented on #174
Hi @hongxinhope 👋

Thanks for getting in touch. Unfortunately theres not a lot we can do. The Intercom framework is large and theres not much we can do to change this.

Apologies about this.

Brian

[2016-09-14 16:42] #174 closed

[2016-09-19 13:17] Komal2905 opened #176 "Messenger view is presenting instead of MessageComposer"
Please use the following template to submit your issue. Following this template will allow us to quickly investigate and help you with your issue. Please be aware that issues which do not conform to this template may be closed.

For feature requests please contact us at team@intercom.io

## Version info
  - Intercom for iOS version: 3.0.12
  - iOS version: 9.3

## Expected behavior
Must show  Mess

[2016-09-19 13:24] bboyle18 commented on #176
Hi @Komal2905 👋

Thanks for getting in touch.
The reason for this is probably because you don't have inbound messaging enabled on your Intercom account. This feature is only available if you are using Intercom's [Resolve](https://www.intercom.com/customer-support) product.
If you check your logs, you should see something like this

`INFO - You do not appear to have inbound messaging enabled on you

[2016-09-19 13:32] Komal2905 commented on #176
@bboyle18 NO I am not getting this Log

[2016-09-19 13:35] bboyle18 commented on #176
We'll need a little more info in order to help you resolve your issue.
Can you turn on logging `[Intercom enableLogging];` and check the logs then?

Cheers

Brian

[2016-09-19 13:41] Komal2905 commented on #176
@bboyle18

done following

func application(application: UIApplication, didFinishLaunchingWithOptions launchOptions: [NSObject: AnyObject]?) -> Bool
 {

Intercom.setApiKey(INETERCOM_API_KEY, forAppId: INTERCOM_APP_ID)
  Intercom.setLauncherVisible(true)
Intercom.enableLogging()
return true
}

but There is no Log as you said

[2016-09-19 13:44] bboyle18 commented on #176
Hey @Komal2905
Can you contact us through Intercom to discuss this please?
We'll be able to look into your account details to help us identify the issue you are having.

Thanks

Brian

[2016-09-19 13:44] #176 closed

[2016-09-19 13:51] af-inf commented on #90
@jtreanor I could not "prepare an archive for export" because I had the "bitcode" checkbox on. This is with latest intercom on latest react-native.

[2016-09-19 14:05] jtreanor commented on #90
@af-inf Could you let me know what error you are seeing for this?
Intercom should be fully compatible with Bitcode.

[2016-09-19 23:29] yoon-boom opened #177 "Message Disappears"
## Version info
- Intercom for iOS version: Latest
- iOS version: 8.xx - 10.0 (Simulator & Device)
## Expected behavior

iOS Client (ME) - Web Client (ME)
iOS Client (Unregistered Anonymous) - Web Client (ME)
Message should communicates between iOS and Web end.
## Actual behavior

iOS Sends message then once Web Client receives, reads and iOS end message disappears. As soon as Web Client sees mess

[2016-09-22 14:45] fcamaster opened #179 "Push notifications for development version."
Hi, we're not able to send push notifications to our development builds.

## Version info
  - Intercom for iOS version:  3.0.12
  - iOS version: iOS 9.3.1 - iOS 10

## Expected behaviour

Receive notifications
## Actual behavior

The notifications are not received
## Steps to reproduce
 1. Create test app on Intercom
 2. Configure and upload the .pem file for the development apns env.
 3. Send a m

[2016-09-23 09:51] jtreanor commented on #179
Hi @fcamaster

Thanks for sending this in.

Development push notifications should work correctly. Can you try uploading a production .pem file and test development push with that (both prod and dev push works with production certs)?

[2016-09-23 09:52] jtreanor commented on #177
Thanks for reporting this @yoon-boom.

We will investigate this and let you know what we find.

James

[2016-09-23 14:22] fcamaster commented on #179
Hi @jtreanor

I've tried with the production .pem file and now it works.
I really thought that for the test app a development certificate was needed.

Thanks.

[2016-09-23 14:25] jtreanor commented on #179
I'm glad this worked for you @fcamaster.

I'll investigate why the development cert didn't work as expected.

[2016-09-23 14:25] #179 closed

[2016-09-28 00:43] emes opened #180 "Pod install does not seem happy after v3.0.9"
## Version info
  - Intercom for iOS version: 3.0.12
  - iOS version: 10.0.2
  - pod version: 1.0.1

## Expected behavior

Podfile:

[code]

Update Intercom to v3.0.9

[code]

## Actual behavior

Podfile:

[code]

Update Intercom to v3.0.10, v.3.0.11 or v3.0.12

[code]

## Steps to reproduce
 1. pod update Intercom (with a version after 3.0.9)

[2016-09-28 01:32] jtreanor commented on #180
Hi @emes,

The reason you are seeing this error is because the podspec for Intercom [no longer points to the git repo](https://github.com/intercom/intercom-ios/blob/master/Intercom.podspec#L12), so using the `:git` directive will not work.

To solve this, you can update you Podfile to contain something like this:

[code]

I see how this can be confusing. We will consider removing `Intercom.podspec

[2016-09-28 01:32] #180 closed

[2016-09-29 19:12] michaelhollman opened #181 "Calling setInAppMessagesVisible on a non-main thread leads to autolayout engine exceptions"
## Version info
  - Intercom for iOS version: 3.0.11
  - iOS version: 10.*

I unfortunately haven't had a chance to test with 3.0.12 yet, due to the fact that our cocoapods are currently a mess with all the swift 2.2 vs 2.3. vs 3.0 migrations and issues.

## Expected behavior

Calling `[Intercom setInAppMessagesVisible:]` for the first time app-wide on a thread other than the main thread should ei

[2016-09-29 19:57] jtreanor commented on #181
Hi @michaelhollman,

Thanks for reporting this and giving so much detail.

I agree that it should be possible to call this (and all) methods from any thread. We will address this in a future release. I'll keep you updated.

For now, of course you can run explicitly on the main thread:
[code]

[2016-09-29 19:58] michaelhollman commented on #181
@jtreanor Fantastic!

And yeah, that's exactly what we're doing for the time being. Thank you for looking into this!

[2016-10-07 07:33] allu22 opened #182 "UICollectionView crash"
In our app, Intercom SDK is only one using UICollectionView, so I believe it is safe to assume, that this crash originates from Intercom SDK. Sadly I have no info on how to reproduce it and it has only happened once.

## Version info
  - Intercom for iOS version: 3.0.6
  - iOS version: 9.3.5 (13G36)

## Steps to reproduce
Unknown.

## Logs
[code]

[2016-10-07 09:41] bboyle18 commented on #182
Thanks for reporting this @allu22 👍
Theres nothing that clearly stands out in the stack that will help us identify the issue 😞  and without reproduction steps its going to be hard to figure out whats going on. As such, I'm going to close the issue.
But if you do come across it again, or any other issues, we'd love you to log them here.

Cheers

Brian

[2016-10-07 09:41] #182 closed

[2016-10-07 20:42] jtreanor commented on #181
This has now been fixed in [3.0.13](https://github.com/intercom/intercom-ios/releases/tag/3.0.13).

Thanks again for reporting it @michaelhollman.

[2016-10-07 20:42] #181 closed

[2016-10-12 13:03] app-buzz opened #183 "IntercomWindowWillShowNotification not fired"
If i send a test in-app-message to my IOS app, the windowWillShow: method never gets called. The message is displayed so Intercom works correctly in the app and logs all events and user attributes:

`NSNotificationCenter *nc = [NSNotificationCenter defaultCenter];
[nc addObserver:self selector:@selector(windowWillShow:) name:IntercomWindowWillShowNotification object:nil];`

## Version info
  - Int

[2016-10-12 13:34] bboyle18 commented on #183
Hi @app-buzz 👋

Are you expecting that the `IntercomWindowWillShowNotification` notification will get fired when an in-app (chathead + message snippet) is displayed on screen? It will not get fired in this situation.
That notification only gets fired when you open the Messenger window.

Cheers

Brian

[2016-10-12 13:50] app-buzz commented on #183
So there is no way to detect when Intercom shows anything on your screen?

[2016-10-12 18:05] jtreanor commented on #183
Hi @app-buzz,

Unfortunately there is not right now. That is a valid feature request however, we'll look at adding this in a future version.

JAmes

[2016-10-12 18:05] #183 closed

[2016-10-13 00:02] phatmann opened #184 "Message not displayed when tapping notification in iOS 10"
Lots of folks are having issues with push notifications on iOS 10, because Apple broke existing behavior. The app delegate method `application:didReceiveRemoteNotification:userInfo:fetchCompletionHandler` is not called when the app is in the background. We have a workaround in our app for this, but unfortunately this is the method you guys "swizzled" in your SDK to intercept push notifications. An

[2016-10-13 00:03] phatmann commented on #184
One fix: swizzle the new UserNotificationCenter methods.

[2016-10-13 00:05] jtreanor commented on #184
Thanks for the report @phatmann,

We're aware of these issues. I will dive into this tomorrow and keep you updated on a fix.

[2016-10-13 18:49] jtreanor commented on #184
@phatmann I'm currently working on putting together a solution to this that will have the minimal impact on users.

Do you implement `UNUserNotificationCenterDelegate` and in your app?
If you do could you temporarily remove it and see if Intercom push starts to work?

I'm quite confident I have tracked down the scenario and fix for this but it would be great if you could confirm this.

[2016-10-13 20:59] phatmann commented on #184
I did implement UNUserNotificationCenterDelegate. I will try it without that and see what happens.

[2016-10-13 23:15] phatmann commented on #184
The behavior is the same with or without using UNUserNotificationCenterDelegate. The app comes to the foreground, but it does not launch into the messenger window. However, as of today, the message bubble appears at bottom, when yesterday it did not. Did you fix something on your back end?

[2016-10-13 23:29] jtreanor commented on #184
Thanks for checking @phatmann.

That is interesting and not quite what I have seen in my testing. Unfortunately we are somewhat in the dark on how Apple has changed this behaviour.

I have prepared a fix that also intercepts push from `UNUserNotificationCenterDelegate` which works 100% in my testing but I want to be fully sure before we go ahead and release it.

Some more questions for you if you

[2016-10-14 05:13] phatmann commented on #184
I implemented `application:didReceiveRemoteNotification:fetchCompletionHandler:` to handle notifications on iOS 9. I did not implement `application:didReceiveRemoteNotification:` since it is deprecated. Ironically, `application:didReceiveRemoteNotification:` is still called even when running in iOS 10, but I did not exploit that oddity.

My app receives push notifications via AWS SNS just fine. It