[2017-11-13 21:48] mieszko4 commented on #101
@adamkmccarthy does intercom sdk have some kind of event handler for link clicks that we could attach to and override as we wish?

My scenario:
In our ios app we are using [branch.io](https://github.com/BranchMetrics/react-native-branch-deep-linking) and they provide special method `openURL` for universal links that are associated to our app so that such internal links can open inside of the app i

[2017-11-15 16:23] aerickson14 opened #337 "registerUnidentifiedUser causing unrecognized selector crash"
## Version info
  - Intercom for iOS version: 4.0.3 (issue also occurring on 4.1.2)
  - iOS version: 10.2
  - Xcode version: 8.2.1
  - Swift version: 3.0

## Expected behavior
Adding a call to registerUnidentifiedUser() should not cause unit tests to crash.

## Actual behavior
Tests crash after adding `Intercom.registerUnidentifiedUser()` to a login view. It's worth noting that we have not discove

[2017-11-15 16:26] jtreanor commented on #337
@aerickson14 Thanks for reporting this issue.

Does this crash only occur in your unit tests? Do these tests stub all HTTP response using something like `OHTTPStubs`?

[2017-11-15 16:28] aerickson14 commented on #337
Only in unit tests so far yep. And yes, we are using OHHTTPStubs 5.2.3. Thanks for the quick response!

[2017-11-15 16:34] jtreanor commented on #337
In that case this looks like your `OHHTTPStubs` stubbing intercepts all HTTP responses to give a 200 response that is not a JSON object.

We should be resilient to this kind of behaviour and will make a change for that in a future release.

However, in the meantime, here are two possible workarounds:
1. Only stub requests for your own API. OHTTPStubs allows you to stub based on hostname.
2. Stub a

[2017-11-15 16:45] aerickson14 commented on #337
Oh wow, thank you so much for this. Ensuring to remove any stubs created in previous tests by calling `OHHTTPStubs.removeAllStubs()` I am no longer seeing the crash above 👍 💯

[2017-11-15 16:45] #337 closed

[2017-11-15 16:46] jtreanor commented on #337
Thats great, glad you got it sorted 😄

[2017-11-19 06:57] osama-taha opened #340 "[ICMHTTPBridge submitMetrics] crash"
# Platform: ios
# OS Version: 11.2.0 (15C5107a)
# Crashlytics: http://crashes.to/s/07ef68bd36a
# intercom version: 4.1.3

Fatal Exception: NSGenericException
0  CoreFoundation                 0x182d02364 __exceptionPreprocess
1  libobjc.A.dylib                0x181f48528 objc_exception_throw
2  CoreFoundation                 0x182d019f0 -[__NSSingleObjectEnumerator initWithObject:]
3  Foundation

[2017-11-20 17:06] jtreanor commented on #340
Hi @osama-taha,

Do you have any more details about this crash? Has it occurred more than once?

Unfortunately the crash is not very descriptive so it is difficult to understand what is happening here.

[2017-11-21 20:37] mossby commented on #191
Just want to throw out there that I am now facing this same problem. A little frustrating since other frameworks that I would consider to be "very large and complex" like Realm and Alamofire clone very quickly, but Intercom takes so long I get timed out by Travis every single time. Maybe Intercom has more going on than I realize, but something def feels off about that assessment.

[2017-11-21 20:46] jtreanor commented on #191
Thanks @mossby

Just to be clear, how are you installing Intercom? There should be very little need to clone the repo.

[2017-11-21 21:00] kafejo commented on #191
@jtreanor If I'm not mistaken, git clone is being called when installing via Cocoapods.

[2017-11-21 21:03] jtreanor commented on #191
@kafejo What version are you using. Since 3.0.0 the podspec for Intercom does not clone the git repo. Latest version is 4.1.3.

[2017-11-21 23:41] #316 closed

[2017-11-22 07:01] kafejo commented on #191
We have latest version and don't experience the issue anymore. Just saying that it might be the case for someone else. 🙂

[2017-11-22 15:54] mossby commented on #191
Heya, thanks for responding back. I was using Carthage, which may be the reason I was experiencing the issues I was. Also using the latest version of Intercom (4.1.3)

I def tried everything in my Travis script from `update` to `bootstrap` to every combination of flags (`--no-use-binaries`, etc) I could think of 😄

I ultimately ended up embedding the Intercom framework directly in my app, and thin

[2017-11-22 16:21] jtreanor commented on #191
Thanks for your response @mossby. Carthage should not be cloning the git repo, as Intercom is provided as a binary through Github Releases. See `Carthage.zip` [here](https://github.com/intercom/intercom-ios/releases). I will look into anything else that could be causing a slow down here.

Glad you are unblocked 😄

[2017-11-22 16:25] mossby commented on #191
Interesting, I will say that other frameworks were pulling the prebuilt binaries for me, but for some reason Intercom was not. I'll go thru my setup again and see if there is something weird I'm doing. Using fastlane (and Travis) for the first time so lots for me to potentially mangle 😂 Thanks again @jtreanor

[2017-11-25 20:53] ddeneka-ynd opened #341 "App is killed by system because Intercom background task is not finished"
## Version info
  - Intercom for iOS version: 3.2.12
  - iOS version: 11.1

## Expected behavior
  - Intercom ends its own background tasks so app is not killed by system

## Actual behavior
  - App is killed by system when entering background
## Steps to reproduce
 1. Intercom is initialized in appDidFinishLaunching
 2. Start app
 3. Switch between background&foreground multiple times
 4. App is

[2017-11-27 13:12] bboyle18 commented on #341
Thanks for reporting this @ddeneka-ynd 👍
We'll look into why this might be happening.

Brian

[2017-11-27 15:22] bboyle18 commented on #336
Hi @cayde-6

We have been unable to re-create this, so I'm going to close the issue.
Feel free to re-open if it happens again.

Thanks

Brian

[2017-11-27 15:22] #336 closed

[2017-11-27 15:50] bboyle18 commented on #332
We are unable recreate this issue and its not something that we can easily identify whats causing it.
I'm going to close for now but feel free to re-open if it happens again.

Thanks

Brian

[2017-11-27 15:50] #332 closed

[2017-11-27 16:19] bboyle18 commented on #320
Closing this issue as we are tracking this internally as a feature request.

Brian

[2017-11-27 16:19] #320 closed

[2017-11-28 06:22] iad24 opened #342 "Ability to move the default messenger launcher anywhere in the app"
## Version info
  - Intercom for iOS version: 4.1.3
  - iOS version: ios11

## Expected behavior
Can programmatically (or better for user to move it in the screen) the messenger launcher anywhere in the screen
## Actual behaviour
Its always in the bottom right of the screen
Right now its blocking the default tab bar

## Steps to reproduce
 1.
 2.
 3.

## Logs

![unadjustednonraw_thumb_11](https://

[2017-11-28 07:46] DaleCantwell commented on #342
Hi @iad24,
Thanks for getting in touch, we already a method that should help handle this:

[code]

Calling `setBottomPadding` will allow you to move the launcher and any in-app messages above your tab bar.

Let us know if you run into any issues.

[2017-11-28 07:46] #342 closed

[2017-11-28 11:03] xfernandez commented on #333
I am performing the same issue here: Tried to log an event but there was a network error

How can you help?

[2017-11-28 11:06] skylerwshaw commented on #333
@xfernandez Please start a conversation with the Intercom support team from your Intercom dashboard, or email team@intercom.io if you're unable to have a live chat. Feel free to mention my name, Skyler.

Most of the time 422 errors are due to sending invalid data such as invalid types (do not send arrays or hashes as event metadata) or you have strings greater than 255 characters.

[2017-11-28 13:56] nolanw commented on #328
@bboyle18 Thought I'd check in on this issue and noticed the label change. Sounds like good news?

[2017-11-28 13:57] bboyle18 commented on #328
Hi @nolanw 👋
Yes, we've added a change to prevent this crash in the future. It'll be available in the next release later this week.

Brian

[2017-11-28 15:17] adambolcsfoldi opened #343 "application:openURL:options: not called unless application:didReceiveRemoteNotification:fetchCompletionHandler: is implemented"
## Version info
  - Intercom for iOS version: 4.1.3
  - iOS version: 10.3.1

## Expected behaviour

`application:openURL:options:` will be called with the push notification URI if `IntercomAutoIntegratePushNotifications` is not set to `NO` in the app's `Info.plist`

## Actual behavior

`application:didReceiveRemoteNotification:fetchCompletionHandler:` needs to be implemented in order for `applicat

[2017-11-28 15:18] bboyle18 commented on #343
Thanks for reporting this @adambolcsfoldi 👍
We'll look investigate and get back to you if we have any questions.

Brian

[2017-11-28 19:05] nolanw commented on #328
Great, thank you!

[2017-11-29 10:46] mhemmings opened #344 "Retrieve set user attributes"
Would be amazing, especially for debugging, if there was a method to get back the currently set user attributes (`ICMUserAttributes`)

[2017-11-29 10:49] bboyle18 commented on #344
Hi @mhemmings 👋

Thanks for taking the time to send in this feature request. 👍
Can I ask specifically what the use case for this is? This will help us better understand the problem.

Thanks

Brian

[2017-11-29 10:54] mhemmings commented on #344
Hey!
tldr the use case we have today is due to an old issue, we have a small number of users who are set to the wrong id.
On app launch we'd like to check the ids are set correctly, and if not do a logout and reregister. I've spoken to support in the past and you were understandably not wanting us simply do a reset on _every_ user app launch, but just on the small percentage of broken users.

[2017-11-29 10:57] bboyle18 commented on #344
That makes sense. You should be able to do that already.
e.g.
[code]
The `attributes` property on `ICMUserAttributes` will give you a dictionary of the currently set user attributes.

Hope this helps

Brian

[2017-11-29 15:50] bboyle18 commented on #344
Hi @mhemmings
Can you let me know if this works for you, so that I can close the issue?
Thanks

Brian

[2017-11-29 16:00] mhemmings commented on #344
I think we've managed to work things out, happy to close

[2017-11-29 16:00] #344 closed

[2017-11-29 16:05] mhemmings opened #345 "Booleans not getting set correctly"
## Version info
  - Intercom for iOS version: 4.1.3
  - iOS version: 11.1.2

## Expected behavior

Setting custom user attributes and event metadata to booleans (using `@TRUE`/`@FALSE`) should show as booleans inside Intercom

## Actual behavior

Setting custom user attributes and event metadata to booleans (using `@TRUE`/`@FALSE`) shows as `1` and `0` inside Intercom.
H**owever, this is only for

[2017-11-29 18:24] jtreanor commented on #344
Hi @bboyle18 @mhemmings 👋

I think there might be a slight misunderstanding here. There is currently no way to retrieve the currently set attributes. Checking the `ICMUserAttributes` object will only provide the properties you have just set.

We'll consider this as a feature request though!

[2017-11-29 20:04] mhemmings commented on #344
Yeah there was some confusion, but I was too polite to mention and I think we actually sorted it another way!
Saying that, yes it would be good to get the attributes back out to see what the current session is using, so consider my +1 for that 😄

[2017-11-30 11:46] bboyle18 commented on #328
Fixed in [Release 4.1.4](https://github.com/intercom/intercom-ios/releases/tag/4.1.4)

[2017-11-30 11:46] #328 closed

[2017-11-30 11:47] bboyle18 commented on #345
Thanks for reporting this @mhemmings
We'll investigate and get back to you here.
Brian

[2017-12-04 03:02] iad24 opened #347 "Expand image in article"
## Version info
  - Intercom for iOS version: 4.1.3
  - iOS version: ios11

## Expected behavior
When reads an article and the image embedded is too small.
User should be able to click on the image to expand it

## Actual behavior
Clicking on the image does nothing

## Steps to reproduce
 1. Let admin send the user with image in it
 2. User cannot read the text in the image because its too small

[2017-12-04 09:37] bboyle18 commented on #347
Hi @iad24 👋
Thanks for this feedback. We'll take this onboard as a feature request 👍

Cheers

Brian

[2017-12-04 09:37] #347 closed

[2017-12-04 16:16] slorber commented on #237
@jtreanor can a workaroud be easily implemented in userland to intercept intercom push and increment the badge?

[2017-12-05 07:34] iad24 commented on #278
@bboyle18  Before integrating the SDK, my app is around 25 to 30MB after archiving. With Intercom, it becomes 115 to 120MB. So fattttttt. How can it be 2.5MB as you say?

[2017-12-05 09:58] jtreanor commented on #278
Hi @iad24 👋

How are you measuring the size of you app? The size of the archive is not representative of what your users will see.

There is some information about measuring the size of you app in this doc: https://developer.apple.com/library/content/qa/qa1795/_index.html

[2017-12-05 13:08] MaxAdamyan opened #348 "Composer message is not clearing on close"
## Version info
  - Intercom for iOS version: 4.1.3
  - iOS version: 11.1

## Expected behavior
When user enters text in message composer but does not send it (closes Intercom window), the next time he opens message composer the text field is empty

## Actual behavior
When user enters text in message composer but does not send it (closes Intercom window), the next time he opens message composer th

[2017-12-05 13:13] bboyle18 commented on #348
Hi @MaxAdamyan 👋

Thanks for reporting this.
Your first point about the composer being pre-populated with the same text if you don't send the message...this is by design.
However, you said that you can't then pre-populate the composer with a pre-defined message....this is a bug. We'll fix this and update you here when its released.

Thanks

Brian

[2017-12-05 14:11] MaxAdamyan commented on #348
Hi @bboyle18
Thanks for quick response 👍

When can we expect the release??

Thanks,
    Max

[2017-12-05 14:14] bboyle18 commented on #348
We aim to do a release every week, so hopefully sometime later this week.

[2017-12-11 20:40] bboyle18 commented on #348
Fixed in [Release 4.1.5](https://github.com/intercom/intercom-ios/releases/tag/4.1.5)
Thanks for reporting.

[2017-12-11 20:40] #348 closed

[2017-12-11 20:41] bboyle18 commented on #340
Fixed in [Release 4.1.5](https://github.com/intercom/intercom-ios/releases/tag/4.1.5)
Thanks for reporting.

[2017-12-11 20:41] #340 closed

[2017-12-12 15:19] jtreanor commented on #345
Hi @mhemmings,

The problem here is that you are using `@TRUE` instead of `@YES`. `YES` and `NO` are the correct boolean values to be used in Objective C. `NSJSONSerialisation` will only correctly serialise these, which is why you are seeing this problem.

I'm unsure why using `@TRUE` could have been working previously.
Let me know if you have any questions.

James

[2017-12-12 15:19] #345 closed

[2017-12-12 15:22] jtreanor commented on #345
Just adding a little more detail here. The following code:
[code]

Outputs this:
[code]

Hopefully this helps clear up the difference between `@YES` and `@TRUE`.

[2017-12-12 15:54] Bjornftw opened #349 "Can't copy text in chat"
## Version info
  - Intercom for iOS version: 4.1.4
  - iOS version: 11.2

## Expected behavior
Copy text in a chat. Sometimes users need to copy a long URL/String.

## Actual behavior
Users can't copy text that I've (team) already sent.

## Steps to reproduce
 1. Start an Intercom chat
 2. Try to copy an answer from the team.

[2017-12-12 16:03] bboyle18 commented on #349
Hi @Bjornftw 👋
Thanks for getting in touch.
Copying the content of a message is a feature that we don't currently support.
We're constantly looking for user feedback on our messenger so we will take this on board as a feature request.

Thanks

Brian

[2017-12-12 16:03] #349 closed

[2017-12-13 00:14] martimarkov opened #350 "Can't install intercom pod when using use_frameworks!"
## Version info
  - Intercom for iOS version: 4.1.5
  - iOS version: any
  - Using react-native-intercom as package (https://github.com/tinycreative/react-native-intercom)
## Expected behavior
To install the pod successfully

## Actual behavior
[!] The 'Pods-PROJECT' target has transitive dependencies that include static binaries: (/Users/username/mobile/ios/Pods/Intercom/Intercom/Intercom.framewo

[2017-12-13 00:17] martimarkov commented on #350
Actually if I remove react-native-intercom and leave Intercom in the Podfile it installs.

[2017-12-17 14:50] jpike88 opened #351 "Cocoapods install taking forever"
This is my terminal right now and I simply can't install it...

![screen shot 2017-12-17 at 9 48 55 pm](https://user-images.githubusercontent.com/9585787/34080645-22bc3b04-e374-11e7-97e7-81388f73d4d7.png)

[2017-12-17 14:50] jpike88 commented on #351
https://github.com/intercom/intercom-ios/issues/351

[2017-12-18 10:33] bboyle18 commented on #351
Hi @jpike88 👋

Thanks for getting in touch.
I've tested out a pod install for Intercom just now and I had no problems. Our binary file has also remained constant for the last while at ~22MB.
The only thing I can think of is that there was an issue with GitHub at the time you were running pod install that affected the time it took to download the binary.

I'm going to close the issue but if you con

[2017-12-18 10:33] #351 closed

[2017-12-18 11:55] mhemmings opened #352 "Experimental help center just shows loading spinner"
## Version info
  - Intercom for iOS version: 4.1.7
  - iOS version: 11.2.1

## Expected behavior
Help center loads with experimental header

## Actual behavior
Shows loading spinner indefinitely

## Steps to reproduce
 1. Integrate ` [Intercom presentHelpCenter]`
 2. Open help center

## Logs
Nothing obvious in logs

[2017-12-18 13:03] bboyle18 commented on #352
Hi @mhemmings

Thanks for reporting this.
We’re aware of this issue and have a fix in the works.

Regards

Brian

[2017-12-19 20:27] bsmith42 commented on #290
There really needs to be a standard list of metrics given the type of platform.  Sure we can set a custom metric but these are common and are typically in other platforms by default.

[2017-12-20 14:05] crontab opened #353 "Crash in [Intercom_IntercomConversationCollectionViewController collectionView:cellForItemAtIndexPath:]"
## Version info
  - Intercom for iOS version: 4.1.4
  - iOS version: all 9, 10 and 11 versions

## Steps to reproduce
We couldn't reproduce it but we get crash reports occurring approximately in 1 out 1000 sessions.

## Logs

[code]

Because the crash happens in `[__NSArrayM removeAllObjects]` which is supposed to remove all objects but fails at specifying the correct range, this looks like a mult

[2017-12-20 14:10] bboyle18 commented on #353
Hi @crontab 👋

Thanks for reporting this.
Would it be possible to share a link to the crash in crashlytics?
You assumption about the cause of the crash is probably correct, we are already tracking a similar bug internally. As I'm sure you can appreciate, its very difficult to re-create and therefore fix.

I'll take another pass at it though and update you here if I find anything.

Cheers

Brian

[2017-12-20 14:17] crontab commented on #353
Hi @bboyle18

I don't think I can publicly share a link to a Crashlytics page (unless there is a way I'm not aware of). I just checked the other threads in the report, none of them are in the Intercom framework. Other than that it's iOS versions breakdown which is pretty much all versions we currently support. Let me know if you need any other information from the crash reports.

Cheers,

Hovik

[2017-12-20 14:27] bboyle18 commented on #353
There should be a shareable link you can send. See the attached screenshot

![cl-2](https://user-images.githubusercontent.com/3185423/34211714-dd5cc1ee-e591-11e7-9e25-1396b81bf0fe.png)

[2017-12-20 14:30] crontab commented on #353
@bboyle18 oops, missed it somehow :)

http://crashes.to/s/2f3c7e42641

[2017-12-20 15:09] bboyle18 commented on #343
Hi @adambolcsfoldi 👋
I'm looking into this at the moment and I just need a little more info from you.
- Are you sending an intercom push notification with a URI or one of your own push notifications?
- Would you be able to share the JSON payload of the push notification in question as it will help a lot in re-creating this issue.

Thanks

Brian

[2017-12-20 15:37] adambolcsfoldi commented on #343
@bboyle18

We're sending a push notification with the `iOS URI` set to a link to our website but with the protocol `fanmiles://` instead of `https://`.
E.g.
`fanmiles://www.fanmiles.com/us/en/earns/5a324fcb4e236506924c5e3f/Connect-and-follow-ESL-Gaming.html`

[2017-12-20 15:40] bboyle18 commented on #343
Thanks @adambolcsfoldi
And should your app handle opening this in a webview when it sees `fanmiles://` as the prefix?
If you were to put simple `https://google.com` in there what happens?

Thanks

Brian

[2017-12-20 15:57] adambolcsfoldi commented on #343
We handle the `fanmiles://` natively in the app, redirecting to the corresponding content.

With the fix at the top, `application:openURL:options:` gets called for `fanmiles://` URIs but not `https://`.
Without the fix it doesn't get called for either.

[2017-12-20 16:16] bboyle18 commented on #343
Thanks @adambolcsfoldi
What fix are you referring to?

[2017-12-20 16:16] bboyle18 commented on #343
Thanks for clarifying. 👍

[2017-12-20 16:50] bboyle18 commented on #352
Fixed in [release 4.1.8](https://github.com/intercom/intercom-ios/releases/tag/4.1.8)

Brian

[2017-12-21 13:41] biboran opened #354 "Intercom.presentMessenger doesn't display messenger if called to soon with come other Intercom calls"
## Version info
  - Intercom for iOS version:  4.1.5
  - iOS version: 10 - 11.2

## Expected behavior
Calling `Intercom.presentMessenger` should present messenger regardless of other Intercom calls

## Actual behavior
Calling `Intercom.setApiKey` or `Intercom.registerUser` immediately followed by `Intercom.presentMessenger` most of the time doesn't display messenger if `Intercom.registerUser` was

[2017-12-21 13:54] bboyle18 commented on #354
Hi @biboran 👋

Thanks for getting in touch.
When you say `"doesn't display messenger"` do you mean that the messenger window does not appear at all, or the window appears but the user's conversations etc do not display in the messenger?

Thanks

Brian

[2017-12-21 14:05] biboran commented on #354
Hi @bboyle18

Thanks for a quick response!

Window doesn't appear

[2017-12-21 15:49] bboyle18 commented on #354
I've managed to re-create this and it is indeed a bug.
However, I think you should be able to work around this. The approach you are using of initialising Intercom, registering a user and presenting the messenger all within `viewDidAppear` is not what we would recommend.
Would you be able to explain your specific use case for doing this? I should be able to help you get this working if I can bette

[2017-12-21 17:27] biboran commented on #354
I am not actually doing it in `viewDidAppear`. Since Intercom charges on registration we register user when he taps the support button and then present the messenger. It looks as follows:

Tap -> Get user id from API -> Intercom.registerUser -> Intercom.presentMessenger

[2017-12-22 10:23] bboyle18 commented on #354
Hi @biboran
Would you be able to share a sample project of this?
To help understand exactly how you are registering and opening the messenger an exact example would be great.

Thanks

Brian

[2017-12-22 12:16] biboran commented on #354
Lets say I have a `Transition` interface:

[code]

and a particular implementation `TransitionToIntercom`:

[code]

now through some push interface that is linked to the button and a call to API I receive `TransitionToIntercom`:

[code]

[2017-12-29 10:03] retsohuang commented on #352
Same issue here with 4.1.8 at iOS 11.2

[2018-01-01 13:15] mutablestudio opened #355 "assigning device token to user for APN?"
## Version info
  - Intercom for iOS version: 4.1.7
  - iOS version: 11.2.1

## Expected behavior
- intercom user should show Push Notifications Enabled (true) after calling Intercom.setDeviceToken(data)

## Actual behavior
user does not show Push Notification status under user -> details in Intercom Dashboard - status is 'Unknown'

## Steps to reproduce
1. Launch app
2. Prompt user for Notificati

[2018-01-01 13:20] #355 closed

[2018-01-01 14:14] ryderjack commented on #332
Also seeing this issue in crash logs on iOS 11 devices only yet can't reproduce

[2018-01-02 13:01] mutablestudio opened #356 "Prod .pem file not working for manual push notification"
## Version info
  - Intercom for iOS version: 4.7.1
  - iOS version: 11.2.1

## Expected behavior
receive push notification from manual message

## Actual behavior
no push notification received

## Steps to reproduce
 1. In test app settings, upload the apple prod .pem cert
 2. Select user with notification enabled
 3. Install app with ad-hoc provisioning
 4. Send iOS push notification to selected

[2018-01-09 11:40] DaleCantwell commented on #352
@retsohuang do you have a button to open the messenger? Could you check on 4.1.8 if you see the loading spinner indefinitely and you close that screen then open the messenger then return to the help center if it loads. Potentially there is a config issue, that would help narrow it down.
Thanks

[2018-01-10 02:54] retsohuang commented on #352
@DaleCantwell It still shows the loading spinner.

[2018-01-12 10:35] iShavgula-TacTill commented on #267
@rokgregoric how did it go ? Did you manage to resolve the crash ? I'm having the same issue.

Thanks,
George

[2018-01-12 12:32] Gevjan opened #357 "Crash In -[ICMUserUpdateDeduper encodeWithCoder:]"
## Version info
- Intercom iOS SDK version: 4.1.3
## Steps to Reproduce
- Please refer to the attached Url with all the trails.
[http://crashes.to/s/34aea0f0943](http://crashes.to/s/34aea0f0943)

[2018-01-15 09:59] michaeltaiwan opened #358 "Browse photo in camera roll page terminated due to memory issue"
Please use the following template to submit your issue. Following this template will allow us to quickly investigate and help you with your issue. Please be aware that issues which do not conform to this template may be closed.

For feature requests please contact us at team@intercom.io

## Version info
  - Intercom for iOS version: 4.1.18
  - iOS version: 11.2.2

## Expected behavior
Show photo i

[2018-01-15 13:06] GutteApps commented on #237
Any update on this? We're in the progress of migrating from Smooch and were surprised to find out this feature is missing.

[2018-01-16 10:59] itchap opened #359 "Intercom SDK crashing a customers app potentially due to sizing issues"

[2018-01-16 11:06] #359 closed

[2018-01-17 02:33] yjb94 commented on #237
Time has passed but this issue is still on.

To fix this issue, when I open my app, I managed to get the unreadCount(I don't remember if this name is right). and then I just changed my badge number locally.

This won't fix the background badge number increasing... but should help a bit.

[2018-01-18 11:09] skylerwshaw commented on #332
@osama-taha @ryderjack Can you both please share your dependencies, either here or in a conversation with Intercom support/sales?

[2018-01-22 14:03] jorgefernandes opened #360 "Intercom message list and messenger does not show colors as configured"
Please use the following template to submit your issue. Following this template will allow us to quickly investigate and help you with your issue. Please be aware that issues which do not conform to this template may be closed.

For feature requests please contact us at team@intercom.io

## Version info
  - Intercom for iOS version: 4.1.8
  - iOS version: 9.0

## Expected behavior
I expect interco

[2018-01-22 14:11] skylerwshaw commented on #360
@jorgefernandes Can you share your dependencies here or via the Intercom in-app messenger in your Intercom dashboard? It appears that you or a dependency may be overriding/swizzling display APIs.

[2018-01-22 14:55] jorgefernandes commented on #360
@skylerwshaw ok. here is my podfile.lock

PODS:
  - Amplitude-iOS (3.14.1)
  - Analytics (3.6.9)
  - AppAuth (0.92.0)
  - Bolts (1.9.0):
    - Bolts/AppLinks (= 1.9.0)
    - Bolts/Tasks (= 1.9.0)
  - Bolts/AppLinks (1.9.0):
    - Bolts/Tasks
  - Bolts/Tasks (1.9.0)
  - Branch (0.14.12):
    - Branch/Core (= 0.14.12)
    - Branch/without-IDFA (= 0.14.12)
  - Branch/Core (0.14.12)
  - Branch/without

[2018-01-22 15:43] skylerwshaw commented on #360
@jorgefernandes This does not appear to be a bug with the Intercom for iOS SDK. We don't specifically support Expo, which is a wrapper that wraps React Native, another wrapper of native iOS APIs. How have you integrated Expo into your app?

[2018-01-22 16:29] jorgefernandes commented on #360
@skylerwshaw Im using a detached app. And i have ExpoKit 24.0.0 installed. I was using ios intercom before in this project; this problem seems to appeared now

[2018-01-22 16:30] skylerwshaw commented on #360
@jorgefernandes Can you please define what you mean by now? What was the change that introduced this issue for you?

[2018-01-22 17:13] jorgefernandes commented on #360
@skylerwshaw ok, sorry. Right after i've updated expo SDK 22.0.1 to 24.0.0 and intercom-ios from 3.2.8 to 4.1.8

[2018-01-22 20:57] jorgefernandes commented on #360
@skylerwshaw i just tested again using expo SDK 22.0.1 and intercom-ios 3.2.8. And worked fine.

I update just expo sdk to 24.0.0 and bug happend again. I don't know how it can be related

![screen shot 2018-01-22 at 17 51 50](https://user-images.githubusercontent.com/415791/35244007-e3fa1d20-ffa5-11e7-89e9-f9d0b1e2f551.png)
![screen shot 2018-01-22 at 17 52 00](https://user-images.githubuserconte

[2018-01-22 20:58] jorgefernandes commented on #360
@skylerwshaw i think a forget to mention that im using ExpoKit 24.0.0

[2018-01-23 09:08] xfernandez commented on #333
@skylerwshaw excuse me. I talked with intercom support and we solved the issue. As you said, first of all was because the 255 characters, and then was because the metadata format. It seems that it's a unique level and I can do complex multilevel json format. But it's ok

[2018-01-23 16:59] ajwhite opened #361 "CFData leak with SocketRocket dependency"
## Version info
  - Intercom for iOS version: 3.2.12
  - iOS version: 9.0

## Expected behavior

`CFData` references should not endlessly grow

## Actual behavior

Exactly `22` references of `CFData` accumulate roughly every minute. The stack trace only shows back to `-[PodIntercom_SRRunLoopThread main]`, indicating something going on with the socket library.

## Steps to reproduce

With leaks, it

[2018-01-23 20:42] yinghang commented on #361
## Version info
Intercom for iOS version: 4.1.8
iOS version: 11.0
Expected behavior: CFData references should not climb in such a steep manner

## Actual behavior
Exactly 1 reference of CFData accumulate roughly every minute. Most of them can be traced back to
`SocketStream` and the Intercom SDK.

## Steps to reproduce
1. Link Intercom to your Xcode project
2. Build and profile app
3. Run instrume

[2018-01-23 21:19] ajwhite commented on #361
Dropping a note on the captured reports above -- please note that the two reports show two different allocation categories and SDK versions.

The First report shows allocations for `CFData`, and the second shows allocations for `CFData (store)`. We meant to submit the second report report for `CFData`, but this should still be helpful.

[2018-01-24 11:29] skylerwshaw commented on #360
@jorgefernandes Is ExpoKit Open Source? If so, can you share a link here? Unfortunately it's not possible for us to determine why a third party library is breaking these views. Intercom uses standard Apple APIs for displaying the messenger.

Feel free to continue the conversation here but I'm going to close the issue as not related to our SDK pending further information to the contrary.

[2018-01-24 11:29] #360 closed

[2018-01-27 16:09] askeland commented on #352
Hi! Since this feature is actually moved out of experimental and into production I tested this today. Got the same error and the reason for the forever spinner is that request to the help center are clocked by App Transport Security (ATS). Seems like it does not use proper HTTPS then. If you disable ATS, it works, but that is not a solution you put in production. Hope you guys can fix this, or at

[2018-01-27 18:33] therichardnguyen opened #362 "Crash in -[PodIntercom_AFSecurityPolicy setPinnedCertificates:]"
## Version info
  - Intercom for iOS version: 3.0.10
  - iOS version: 11

## Logs
http://crashes.to/s/9bbdd50a196

[2018-01-27 23:34] jaymjax1 commented on #227
@leojkwan Will there ever be a future enhancement to add this functionality?

[2018-01-29 14:43] bboyle18 commented on #362
Hi @therichardnguyen

Version 3.0.10 is a very old version of Intercom.
If you update to [our latest version](https://github.com/intercom/intercom-ios/releases/tag/4.1.9), this should be fixed.

Thanks

Brian

[2018-01-29 14:43] #362 closed

[2018-01-29 14:48] bboyle18 commented on #357
Thanks for reporting this @Gevjan
We'll take a look and provide any updates here.

Brian

[2018-01-29 14:50] bboyle18 commented on #356
Hi @mutablestudio

Apologies for the delay in responding here.
Are you still having issues testing push notifications or has this been resolved?

Thanks

Brian

[2018-01-29 15:12] bboyle18 commented on #358
Hi @michaeltaiwan

Apologies for the delay in getting back to you on this.
Could you please tell me roughly how many photos are in your photo library?
This will help us when trying to re-create the issue.

Thanks

Brian

[2018-01-29 15:14] bboyle18 commented on #352
Thanks for this info @askeland
We're looking into a fix for this.

Brian

[2018-01-29 16:57] bboyle18 commented on #352
Hi @askeland 👋
I can see that your help center is http://docs.jottacloud.com/
You'll need to add this URL to your whitelist for ATS to allow you to load the help center URL correctly.

We're going to update our docs to reflect this.
Let me know if this makes sense.

Brian

[2018-01-29 17:06] askeland commented on #352
Aha, so it fails because our Help Center alias is not https. I was sure you made API requests directly towards your API endpoints.

Will whitelist that URL then. Thanks for clearing that up. And I guess future devs will be happy for a mention of that in the docs 😉

[2018-01-29 17:07] bboyle18 commented on #352
At the moment we simply load the webpage in a webview. 😄

[2018-01-29 17:49] askeland commented on #352
Was going to make a joke about that earlier 😬🤣 Anyway, looks descent, so why not

[2018-01-30 07:28] michaeltaiwan commented on #358
I think the number of photo is not the reason for crash, because i scroll slow will not crash.
App crashes when i scroll up or down very fast.

[2018-01-30 11:45] bboyle18 commented on #358
Hi Michael,

I've been unable to recreate this. I've been testing on an iPhone 7 with around 10k photos.
I've also done a memory analysis of this code to check for memory leaks and nothing shows up.
Its quite difficult to resolve memory issues like this as a lot of the time they are related to the device the app is running on and the number of other processes that are running on that app at the sa

[2018-01-30 11:45] #358 closed

[2018-01-31 10:56] #350 closed

[2018-01-31 16:20] bboyle18 commented on #356
Closing this issue for now.
Feel free to reopen @mutablestudio if its still a problem you are experiencing.

Brian

[2018-01-31 16:20] #356 closed

[2018-02-01 08:34] fobin opened #363 "Add support for the new build system in Xcode 9"
## Version info
  - Intercom for iOS version: 4.1.9
  - iOS version: 11.2.5

## Expected behavior
- Intercom bundle loads without issues

## Actual behavior
ERROR - 💥👎 Intercom.bundle hasn't been added to your app correctly. This will result in images not appearing in the SDK's messaging UI. More information on how to correctly integrate Intercom is available here: https://developers.intercom.com/

[2018-02-01 10:14] bboyle18 commented on #363
Hi @fobin 👋
Thanks for getting in touch.

We will support this new build system once its out of its experimental phase. We're also reliant on Cocoapods to officially support this as well.

Cheers

Brian

[2018-02-01 10:14] #363 closed

[2018-02-01 10:49] bboyle18 commented on #357
Hi @Gevjan
Would you be able to provide a little more detail on when this crash happens please?
Is it at the same point in your app all the time or is it happening randomly?
Intercom is crashing your app because its trying to access a deallocated object. Any further information you can provide to us to help re-create the issue would be great 👍

Thanks

Brian

[2018-02-01 15:34] bboyle18 commented on #357
HI @Gevjan
I've made a change that should prevent this crash from occurring. This will be available in the next release.

Brian

[2018-02-02 10:35] Gevjan commented on #357
Thanks @bboyle18
I can't reproduce when crash is happened,
Thanks I will wait for intercom next release.

[2018-02-02 12:03] bboyle18 commented on #361
Hi @ajwhite @yinghang 👋

We're looking into this issue but have been unable to recreate it yet.
Can you confirm that when running instruments your app is sitting idle and not doing anything?
We are using SocketRocket v0.5.1.

Any extra info or data you can provide us with to help us get to the root cause of this would be great. 👍

Thanks

Brian

[2018-02-02 12:23] bboyle18 commented on #341
Hi @ddeneka-ynd 👋
Would you have the original logs for this issue?
It will help give a more complete picture of what exactly is happening.

Thanks

Brian

[2018-02-05 10:19] bboyle18 commented on #361
Hi @ajwhite @yinghang

This is was caused by our load balancer closing socket connections too frequently and SocketRocket not releasing memory from the dropped connection.
We've modified our load balancer settings so that we don't unnecessarily drop connections, so this issue should be fixed for you now.
There no need to update to to the latest SDK to get this fix.

Cheers

Brian

[2018-02-05 10:19] #361 closed

[2018-02-05 18:07] ajwhite commented on #361
Hi @bboyle18, thanks for looking into this. It's great to hear that the problem can be avoided by tweaking some server side configurations.

If I understand correctly, while the load balancer has been reconfigured to avoid dropping connections, SocketRocket is still vulnerable to retaining memory when a connection drops?

To share some context about our application, it's ran in kiosk mode with an

[2018-02-05 22:37] bboyle18 commented on #361
Hey @ajwhite
Yep, you're pretty much correct in your analysis. It looks like SocketRocket retains the memory of a dropped connection and Intercom was opening a new one to re-establish the connection. This happened every minute.
This was made worse by a bug in Intercom's code that failed to send a keep-alive ping under certain circumstances. It only started happening in the last few months when we

[2018-02-06 04:23] raudabaugh commented on #352
I'm seeing the same behavior with our https-enabled help center: https://help.threadlearning.com

Adding the URL to the ATS whitelist worked. Don't mind that as a workaround for now, but could this be a bug affecting all custom domains, or something wrong with my config?

[2018-02-06 10:28] bboyle18 commented on #352
Hi @raudabaugh 👋
Right now we have a bug in out server code that always returns 'http' instead of 'https`, thats why your help center fails to load unless you whitelist it.
We're working on a fix this week. After that, you won't need to whitelist.

I'll provide an update here when that fix is available.

Brian

[2018-02-06 15:26] ajwhite commented on #361
Hey @bboyle18, I appreciate you breaking down the problem.

Given that our application is up 24/7, network losses happen pretty frequently across the fleet of devices running Robin Rooms and can build up over time. Anecdotally, we have a tablet in the corner of the office where network strength is low and dips in and out hourly. From my understanding -- closing and re-opening a connection will sti

[2018-02-06 15:34] ajwhite commented on #361
On an additional note, I understand the problem is compounded by the fact that SocketRocket doesn't appear to be actively maintained, as the latest release was [nearly two years ago](https://github.com/facebook/SocketRocket/releases/tag/0.5.1).. ☹️

However, a stale patch appears to exist in https://github.com/facebook/SocketRocket/pull/504. If this SDK was open source, we would likely hot patch t

[2018-02-06 15:35] bboyle18 commented on #361
Thanks for clarifying your usage of Intercom @ajwhite 👍
Yes, it appears that there may be an underlying memory load in SocketRocket that causes this. We would need to do further analysis to be 100% certain of the exact cause. We're also somewhat constrained by the fact that SocketRocket appears to be no longer maintained by Facebook.

We don't have capacity to look into this in detail in the next

[2018-02-06 15:46] ajwhite commented on #361
Sounds great, @bboyle18. We're happy to help verify things on our end if that's helpful.

Will continue over Intercom/email

[2018-02-08 11:51] iShavgula-TacTill commented on #352
Hello,

I had the exact same bug, but now with 4.1.9 I'm having `Warning: Attempt to dismiss from view controller <ICMRootViewController: 0x110d9bcc0> while a presentation or dismiss is in progress!`.
I tried to present help center from different views, on did appear, on button click, etc...
Always the same error.

Any ideas?

Thank you,
Giorgi

[2018-02-14 09:06] leviathan commented on #117
Have you tried to disable content touch delays?
[code]

Apple docs: https://developer.apple.com/documentation/uikit/uiscrollview/1619398-delayscontenttouches

`UITextView` is a scroll view and it tries to delay tap events in order to determine the scrolling direction. However, if you want to detect a tap on a weblink, then disabling this helps.

[2018-02-15 23:02] junhohong commented on #332
Getting a EXC_BAD_ACCESS KERN_PROTECTION_FAILURE here on the same thing.

[2018-02-16 14:37] bboyle18 commented on #332
Hi @junhohong
If you could post your full stacktrace, that would be great 👍
Brian

[2018-02-19 00:31] al-zonke opened #365 "Can't see tying text in messenger composer"
## Version info
  - Intercom for iOS version: 4.1.9
  - iOS version: 9.3 simualtor, 10.3 simualtor, 11.3 device and simulator

## Expected behavior
User can see message he is typing

## Actual behavior
Message is hidden below screen when user starts typing

## Steps to reproduce
 1.  Setup Intercom on app launch
[code]
 2. tap intercom button (default one)
 3. tap into message input text field
 4.

[2018-02-19 06:57] siberianisaev commented on #353
same issue http://crashes.to/s/35224d6bcbe Intercom (4.1.9)

[2018-02-19 14:10] mhemmings commented on #352
Hey @bboyle18
Any update on this? I think we have the same problem.
Works fine with the test app, but fails in live which is on a custom domain.

[2018-02-19 14:19] bboyle18 commented on #352
Hi @mhemmings 👋
We're making changes in our app at the moment to get custom domains working with `https`, but its not deployed yet.
In the meantime, you'll need to add your custom domain to your white list in your ATS settings. This is because custom domains get returned to us as `http` instead of `https` at the moment and therefore iOS blocks the loading of them unless you explicitly whitelist th

[2018-02-19 14:27] bboyle18 commented on #365
Hi @al-zonke

This is probably as a result of a 3rd party library interferring with the Intercom composer.
If you can provide me with a list of your other 3rd party libs, I can help you identify which one is causing the problem.

Cheers

Brian

[2018-02-21 07:59] potecuta opened #366 "Carthage install doesn't provide the LICENSE file"
Like the title says when installing through Carthage, the LICENSE file isn't provided anywhere. I'm pretty sure this is because you are only providing a binary, but I'm still at a loss regarding what I should do. Is there any alternative other than manually putting the LICENSE file in the app and making sure it gets updated when you update it?

[2018-02-21 08:04] bboyle18 commented on #366
Hi @potecuta

Does Carthage require a licence file for 3rd party libs? Or is this just something you feel should be included?

Thanks

Brian

[2018-02-21 08:32] potecuta commented on #366
Well, the Licenses from third party apps should be shown (or at least included) inside the applications that are using them. On Cocoapods this is done by Cocoapods, on Carthage this is usually done with a script extracting the Licenses from the Checkout folders. But when using Carthage with binaries there is no Checkout folder for the respective dependency so there is no way of extracting the Lice

[2018-02-21 10:38] bboyle18 commented on #366
Thanks for highlighting this. 👍
Our up to date licence is always [available here](https://github.com/intercom/intercom-ios/blob/master/LICENSE) but I'll track this issue internally and update our build scripts so that its included in Carthage in the future.

Thanks

Brian

[2018-02-21 10:38] #366 closed

[2018-02-23 22:34] semerda commented on #227
Ditto. Would love to see attachments added to iOS. Timeline?

[2018-02-24 03:17] bboyle18 commented on #227
@semerda @jaymjax1 👋
Right now, adding attachments is not on our roadmap. I'll take note of this feature request.
Thanks!
cc. @patrickjandrews

[2018-02-24 09:25] cavnit commented on #352
Hi @bboyle18,
Any update on this?

[2018-02-24 16:08] bboyle18 commented on #352
Hi @cavnit
Please see my [previous commen](https://github.com/intercom/intercom-ios/issues/352#issuecomment-366706323)t for the latest on this issue.

Brian

[2018-02-26 12:23] bboyle18 commented on #365
We are moving all our issues support to our [Intercom Developers Hub available here](https://developers.intercom.com/docs/intercom-mobile-installation). We copied this issue with all the comments to our internal bug tracking tool. Whenever you would like an update, just reach out to us on our [Intercom Developer Hub](https://developers.intercom.com/docs/intercom-mobile-installation) and our Custom

[2018-02-26 12:23] #365 closed

[2018-02-26 12:24] bboyle18 commented on #357
We are moving all our issues support to our [Intercom Developers Hub available here](https://developers.intercom.com/docs/intercom-mobile-installation). We copied this issue with all the comments to our internal bug tracking tool. Whenever you would like an update, just reach out to us on our [Intercom Developer Hub](https://developers.intercom.com/docs/intercom-mobile-installation) and our Custom

[2018-02-26 12:24] #357 closed

[2018-02-26 12:24] bboyle18 commented on #354
Hi @biboran
We are moving all our issues support to our [Intercom Developers Hub available here](https://developers.intercom.com/docs/intercom-mobile-installation). We copied this issue with all the comments to our internal bug tracking tool. Whenever you would like an update, just reach out to us on our [Intercom Developer Hub](https://developers.intercom.com/docs/intercom-mobile-installation) an

[2018-02-26 12:24] #354 closed

[2018-02-26 12:25] bboyle18 commented on #353
Hi @crontab @siberianisaev
We are moving all our issues support to our [Intercom Developers Hub available here](https://developers.intercom.com/docs/intercom-mobile-installation). We copied this issue with all the comments to our internal bug tracking tool. Whenever you would like an update, just reach out to us on our [Intercom Developer Hub](https://developers.intercom.com/docs/intercom-mobile-i

[2018-02-26 12:25] #353 closed

[2018-02-26 12:26] bboyle18 commented on #352
Hi guys 👋

We are moving all our issues support to our [Intercom Developers Hub available here](https://developers.intercom.com/docs/intercom-mobile-installation). We copied this issue with all the comments to our internal bug tracking tool. Whenever you would like an update, just reach out to us on our [Intercom Developer Hub](https://developers.intercom.com/docs/intercom-mobile-installation) and

[2018-02-26 12:26] #352 closed

[2018-02-26 12:27] bboyle18 commented on #343
Hi @adambolcsfoldi

We are moving all our issues support to our [Intercom Developers Hub available here](https://developers.intercom.com/docs/intercom-mobile-installation). We copied this issue with all the comments to our internal bug tracking tool. Whenever you would like an update, just reach out to us on our [Intercom Developer Hub](https://developers.intercom.com/docs/intercom-mobile-installa

[2018-02-26 12:27] #343 closed

[2018-02-26 12:27] bboyle18 commented on #341
Hi @ddeneka-ynd

We are moving all our issues support to our [Intercom Developers Hub available here](https://developers.intercom.com/docs/intercom-mobile-installation). We copied this issue with all the comments to our internal bug tracking tool. Whenever you would like an update, just reach out to us on our [Intercom Developer Hub](https://developers.intercom.com/docs/intercom-mobile-installatio

[2018-02-26 12:27] #341 closed

[2018-02-26 12:27] bboyle18 commented on #265
Hi guys
We are moving all our issues support to our [Intercom Developers Hub available here](https://developers.intercom.com/docs/intercom-mobile-installation). We copied this issue with all the comments to our internal bug tracking tool. Whenever you would like an update, just reach out to us on our [Intercom Developer Hub](https://developers.intercom.com/docs/intercom-mobile-installation) and ou

[2018-02-26 12:27] #265 closed